<!-- #docregion -->
<h2>My Heroes</h2>
<ul class="heroes">
  <!-- #docregion li -->
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
  <!-- #enddocregion li -->
</ul>

<!-- #docregion selectedHero-details -->
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>
<!-- #enddocregion selectedHero-details -->
