<p>
  <app-click-me></app-click-me>
</p>

<p>
  <app-click-me2></app-click-me2>
</p>

<h4>Give me some keys!</h4>
<div><app-key-up1></app-key-up1></div>

<h4>keyup loop-back component</h4>
<div><app-loop-back></app-loop-back></div>
<br><br>

<h4>Give me some more keys!</h4>
<div><app-key-up2></app-key-up2></div>

<h4>Type away! Press [enter] when done.</h4>
<div><app-key-up3></app-key-up3></div>

<h4>Type away! Press [enter] or click elsewhere when done.</h4>
<div><app-key-up4></app-key-up4></div>

<h4>Little Tour of Heroes</h4>
<p><i>Add a new hero</i></p>
<div><app-little-tour></app-little-tour></div>
