.demo-list {
  .mat-list, .mat-nav-list {
    border: 1px solid rgba(0, 0, 0, 0.12);
    max-width: 350px;
    margin: 20px 20px 0 0;
  }

  .demo-secondary-text {
    color: rgba(0, 0, 0, 0.54);
  }
}
