<html lang="en"><head></head><body><form id="mainForm" method="post" action="http://plnkr.co/edit/?p=preview" target="_self"><input type="hidden" name="files[app/app.component.ts]" value="import { Component } from '@angular/core';

@Component({
  moduleId: module.id,
  selector: 'my-app',
  template: `
  <div class=&quot;container&quot;>
    <h1>Reactive Forms</h1>
    <hero-list></hero-list>
  </div>`
})
export class AppComponent { }


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/app.module.ts]" value="import { NgModule }            from '@angular/core';
import { BrowserModule }       from '@angular/platform-browser';
import { ReactiveFormsModule } from '@angular/forms';  // <-- #1 import module

import { AppComponent }        from './app.component';
import { HeroDetailComponent } from './hero-detail.component'; // <-- #1 import component
import { HeroListComponent }   from './hero-list.component';

import { HeroService }         from './hero.service'; //  <-- #1 import service

@NgModule({
  imports: [
    BrowserModule,
    ReactiveFormsModule // <-- #2 add to Angular module imports
  ],
  declarations: [
    AppComponent,
    HeroDetailComponent, // <-- #3 declare app component
    HeroListComponent
  ],
  exports: [ // export for the DemoModule
    AppComponent,
    HeroDetailComponent,
    HeroListComponent
  ],
  providers: [ HeroService ], // <-- #4 provide HeroService
  bootstrap: [ AppComponent ]
})
export class AppModule { }


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/data-model.ts]" value="export class Hero {
  id = 0;
  name = '';
  addresses: Address[];
}

export class Address {
  street = '';
  city   = '';
  state  = '';
  zip    = '';
}

export const heroes: Hero[] = [
  {
    id: 1,
    name: 'Whirlwind',
    addresses: [
      {street: '123 Main',  city: 'Anywhere', state: 'CA',  zip: '94801'},
      {street: '456 Maple', city: 'Somewhere', state: 'VA', zip: '23226'},
    ]
  },
  {
    id: 2,
    name: 'Bombastic',
    addresses: [
      {street: '789 Elm',  city: 'Smallville', state: 'OH',  zip: '04501'},
    ]
  },
  {
    id: 3,
    name: 'Magneta',
    addresses: [ ]
  },
];

export const states = ['CA', 'MD', 'OH', 'VA'];


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/demo.component.ts]" value="/* tslint:disable:member-ordering */
import { Component }  from '@angular/core';
import { Observable } from 'rxjs/Observable';

import { Hero }        from './data-model';
import { HeroService } from './hero.service';

@Component({
  moduleId: module.id,
  selector: 'my-app',
  templateUrl: 'demo.component.html'
})
export class DemoComponent {

  demos: string[] = [
    'Just a FormControl',
    'FormControl in a FormGroup',
    'Simple FormBuilder group',
    'Group with multiple controls',
    'Nested FormBuilder group',
    'PatchValue',
    'SetValue',
    'FormArray',
    'Final'].map(n => n + ' Demo');

  final = this.demos.length;
  demo = this.final; // current demo

  heroes: Observable<Hero[]>;
  isLoading = false;
  selectedHero: Hero;

  constructor(private heroService: HeroService) { }

  getHeroes() {
    this.isLoading = true;
    this.heroes = this.heroService.getHeroes()
                      .finally(() => this.isLoading = false);
    this.selectedHero = undefined;
  }

  select(hero: Hero) { this.selectedHero = hero; }

  selectDemo(demo: number) {
    this.demo = demo + 1;
    this.getHeroes();
  }
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/demo.module.ts]" value="import { NgModule }             from '@angular/core';
import { BrowserModule }        from '@angular/platform-browser';
import { ReactiveFormsModule }  from '@angular/forms';

import { AppModule }            from './app.module';
import { DemoComponent }        from './demo.component';
import { HeroDetailComponent1 } from './hero-detail-1.component';
import { HeroDetailComponent2 } from './hero-detail-2.component';
import { HeroDetailComponent3 } from './hero-detail-3.component';
import { HeroDetailComponent4 } from './hero-detail-4.component';
import { HeroDetailComponent5 } from './hero-detail-5.component';
import { HeroDetailComponent6 } from './hero-detail-6.component';
import { HeroDetailComponent7 } from './hero-detail-7.component';
import { HeroDetailComponent8 } from './hero-detail-8.component';

@NgModule({
  imports: [
    BrowserModule,
    ReactiveFormsModule,
    AppModule,
  ],
  declarations: [ DemoComponent,
  HeroDetailComponent1,
  HeroDetailComponent2,
  HeroDetailComponent3,
  HeroDetailComponent4,
  HeroDetailComponent5,
  HeroDetailComponent6,
  HeroDetailComponent7,
  HeroDetailComponent8],
  bootstrap:    [ DemoComponent ]
})
export class DemoModule { }


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-detail-1.component.ts]" value="/* tslint:disable:component-class-suffix */
import { Component }              from '@angular/core';
import { FormControl }            from '@angular/forms';

@Component({
  moduleId: module.id,
  selector: 'hero-detail-1',
  templateUrl: './hero-detail-1.component.html'
})
export class HeroDetailComponent1 {
  name = new FormControl();
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-detail-2.component.ts]" value="/* tslint:disable:component-class-suffix */
import { Component }              from '@angular/core';
import { FormControl, FormGroup } from '@angular/forms';

@Component({
  moduleId: module.id,
  selector: 'hero-detail-2',
  templateUrl: './hero-detail-2.component.html'
})
export class HeroDetailComponent2 {
  heroForm = new FormGroup ({
    name: new FormControl()
  });
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-detail-3.component.ts]" value="/* tslint:disable:component-class-suffix */
import { Component }                          from '@angular/core';
import { FormBuilder, FormGroup, Validators } from '@angular/forms';

@Component({
  moduleId: module.id,
  selector: 'hero-detail-3',
  templateUrl: './hero-detail-3.component.html'
})
export class HeroDetailComponent3 {
  heroForm: FormGroup; // <--- heroForm is of type FormGroup

  constructor(private fb: FormBuilder) { // <--- inject FormBuilder
    this.createForm();
  }

  createForm() {
    this.heroForm = this.fb.group({
      name: ['', Validators.required ],
    });
  }
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-detail-3a.component.ts]" value="/* tslint:disable:component-class-suffix */
import { Component }              from '@angular/core';
import { FormBuilder, FormGroup } from '@angular/forms';

@Component({
  moduleId: module.id,
  selector: 'hero-detail-3',
  templateUrl: './hero-detail-3.component.html'
})
export class HeroDetailComponent3 {
  heroForm: FormGroup; // <--- heroForm is of type FormGroup

  constructor(private fb: FormBuilder) { // <--- inject FormBuilder
    this.createForm();
  }

  createForm() {
    this.heroForm = this.fb.group({
      name: '', // <--- the FormControl called &quot;name&quot;
    });
  }
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-detail-4.component.ts]" value="/* tslint:disable:component-class-suffix */
import { Component }                          from '@angular/core';
import { FormBuilder, FormGroup, Validators } from '@angular/forms';

import { states } from './data-model';

@Component({
  moduleId: module.id,
  selector: 'hero-detail-4',
  templateUrl: './hero-detail-4.component.html'
})
export class HeroDetailComponent4 {
  heroForm: FormGroup;
  states = states;

  constructor(private fb: FormBuilder) {
    this.createForm();
  }

  createForm() {
    this.heroForm = this.fb.group({
      name: ['', Validators.required ],
      street: '',
      city: '',
      state: '',
      zip: '',
      power: '',
      sidekick: ''
    });
  }
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-detail-5.component.ts]" value="/* tslint:disable:component-class-suffix */
import { Component }                          from '@angular/core';
import { FormBuilder, FormGroup, Validators } from '@angular/forms';

import { states } from './data-model';

@Component({
  moduleId: module.id,
  selector: 'hero-detail-5',
  templateUrl: './hero-detail-5.component.html'
})
export class HeroDetailComponent5 {
  heroForm: FormGroup;
  states = states;

  constructor(private fb: FormBuilder) {
    this.createForm();
  }

  createForm() {
    this.heroForm = this.fb.group({ // <-- the parent FormGroup
      name: ['', Validators.required ],
      address: this.fb.group({ // <-- the child FormGroup
        street: '',
        city: '',
        state: '',
        zip: ''
      }),
      power: '',
      sidekick: ''
    });
  }
}



/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-detail-6.component.ts]" value="/* tslint:disable:component-class-suffix */
import { Component, Input, OnChanges }             from '@angular/core';
import { FormBuilder, FormGroup, Validators }      from '@angular/forms';

import { Hero, states } from './data-model';

////////// 6 ////////////////////

@Component({
  moduleId: module.id,
  selector: 'hero-detail-6',
  templateUrl: './hero-detail-5.component.html'
})
export class HeroDetailComponent6 implements OnChanges {
  @Input() hero: Hero;

  heroForm: FormGroup;
  states = states;

  constructor(private fb: FormBuilder) {
    this.createForm();
  }

  createForm() {
    this.heroForm = this.fb.group({
      name: ['', Validators.required ],
      address: this.fb.group({
        street: '',
        city: '',
        state: '',
        zip: ''
      }),
      power: '',
      sidekick: ''
    });
  }

  ngOnChanges() { // <-- wrap patchValue in ngOnChanges
    this.heroForm.reset();
    this.heroForm.patchValue({
      name: this.hero.name
    });
  }
}



/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-detail-7.component.ts]" value="/* tslint:disable:component-class-suffix */
import { Component, Input, OnChanges }             from '@angular/core';
import { FormBuilder, FormGroup, Validators }      from '@angular/forms';

import { Address, Hero, states } from './data-model';

@Component({
  moduleId: module.id,
  selector: 'hero-detail-7',
  templateUrl: './hero-detail-5.component.html'
})
export class HeroDetailComponent7 implements OnChanges {
  @Input() hero: Hero;

  heroForm: FormGroup;
  states = states;

  constructor(private fb: FormBuilder) {
    this.createForm();
  }

  createForm() {
    this.heroForm = this.fb.group({
      name: ['', Validators.required ],
      address: this.fb.group(new Address()), // <-- a FormGroup with a new address
      power: '',
      sidekick: ''
    });
  }

  ngOnChanges() {
    this.heroForm.reset({
      name: this.hero.name,
      address: this.hero.addresses[0] || new Address()
    });
  }

  /* First version of ngOnChanges
  ngOnChanges()
  */
  ngOnChanges1() {
    this.heroForm.reset();
    this.heroForm.setValue({
      name:    this.hero.name,
      address: this.hero.addresses[0] || new Address()
    });
  }
}



/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-detail-8.component.ts]" value="/* tslint:disable:component-class-suffix */
import { Component, Input, OnChanges }                   from '@angular/core';
import { FormArray, FormBuilder, FormGroup, Validators } from '@angular/forms';

import { Address, Hero, states } from './data-model';

@Component({
  moduleId: module.id,
  selector: 'hero-detail-8',
  templateUrl: './hero-detail-8.component.html'
})
export class HeroDetailComponent8 implements OnChanges {
  @Input() hero: Hero;

  heroForm: FormGroup;
  states = states;

  constructor(private fb: FormBuilder) {
    this.createForm();
    this.logNameChange();
  }

  createForm() {
    this.heroForm = this.fb.group({
      name: ['', Validators.required ],
      secretLairs: this.fb.array([]), // <-- secretLairs as an empty FormArray
      power: '',
      sidekick: ''
    });
  }

  logNameChange() {/* Coming soon */}

  ngOnChanges() {
    this.heroForm.reset({
      name: this.hero.name
    });
    this.setAddresses(this.hero.addresses);
  }

  get secretLairs(): FormArray {
    return this.heroForm.get('secretLairs') as FormArray;
  };

  setAddresses(addresses: Address[]) {
    const addressFGs = addresses.map(address => this.fb.group(address));
    const addressFormArray = this.fb.array(addressFGs);
    this.heroForm.setControl('secretLairs', addressFormArray);
  }

  addLair() {
    this.secretLairs.push(this.fb.group(new Address()));
  }
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-detail.component.ts]" value="import { Component, Input, OnChanges }       from '@angular/core';
import { FormArray, FormBuilder, FormGroup } from '@angular/forms';

import { Address, Hero, states } from './data-model';
import { HeroService }           from './hero.service';

@Component({
  moduleId: module.id,
  selector: 'hero-detail',
  templateUrl: './hero-detail.component.html'
})
export class HeroDetailComponent implements OnChanges {
  @Input() hero: Hero;

  heroForm: FormGroup;
  nameChangeLog: string[] = [];
  states = states;

  constructor(
    private fb: FormBuilder,
    private heroService: HeroService) {

    this.createForm();
    this.logNameChange();
  }

  createForm() {
    this.heroForm = this.fb.group({
      name: '',
      secretLairs: this.fb.array([]),
      power: '',
      sidekick: ''
    });
  }

  ngOnChanges() {
    this.heroForm.reset({
      name: this.hero.name
    });
    this.setAddresses(this.hero.addresses);
  }

  get secretLairs(): FormArray {
    return this.heroForm.get('secretLairs') as FormArray;
  };

  setAddresses(addresses: Address[]) {
    const addressFGs = addresses.map(address => this.fb.group(address));
    const addressFormArray = this.fb.array(addressFGs);
    this.heroForm.setControl('secretLairs', addressFormArray);
  }

  addLair() {
    this.secretLairs.push(this.fb.group(new Address()));
  }

  onSubmit() {
    this.hero = this.prepareSaveHero();
    this.heroService.updateHero(this.hero).subscribe(/* error handling */);
    this.ngOnChanges();
  }

  prepareSaveHero(): Hero {
    const formModel = this.heroForm.value;

    // deep copy of form model lairs
    const secretLairsDeepCopy: Address[] = formModel.secretLairs.map(
      (address: Address) => Object.assign({}, address)
    );

    // return new `Hero` object containing a combination of original hero value(s)
    // and deep copies of changed form model values
    const saveHero: Hero = {
      id: this.hero.id,
      name: formModel.name as string,
      // addresses: formModel.secretLairs // <-- bad!
      addresses: secretLairsDeepCopy
    };
    return saveHero;
  }

  revert() { this.ngOnChanges(); }

  logNameChange() {
    const nameControl = this.heroForm.get('name');
    nameControl.valueChanges.forEach(
      (value: string) => this.nameChangeLog.push(value)
    );
  }
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-list.component.ts]" value="import { Component, OnInit } from '@angular/core';
import { Observable }        from 'rxjs/Observable';
import 'rxjs/add/operator/finally';

import { Hero }        from './data-model';
import { HeroService } from './hero.service';

@Component({
  moduleId: module.id,
  selector: 'hero-list',
  templateUrl: 'hero-list.component.html'
})
export class HeroListComponent implements OnInit {
  heroes: Observable<Hero[]>;
  isLoading = false;
  selectedHero: Hero;

  constructor(private heroService: HeroService) { }

  ngOnInit() { this.getHeroes(); }

  getHeroes() {
    this.isLoading = true;
    this.heroes = this.heroService.getHeroes()
                      // Todo: error handling
                      .finally(() => this.isLoading = false);
    this.selectedHero = undefined;
  }

  select(hero: Hero) { this.selectedHero = hero; }
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero.service.ts]" value="import { Injectable } from '@angular/core';

import { Observable } from 'rxjs/Observable';
import { of }         from 'rxjs/observable/of';
import 'rxjs/add/operator/delay';

import { Hero, heroes } from './data-model';

@Injectable()
export class HeroService {

  delayMs = 500;

  // Fake server get; assume nothing can go wrong
  getHeroes(): Observable<Hero[]> {
    return of(heroes).delay(this.delayMs); // simulate latency with delay
  }

  // Fake server update; assume nothing can go wrong
  updateHero(hero: Hero): Observable<Hero>  {
    const oldHero = heroes.find(h => h.id === hero.id);
    const newHero = Object.assign(oldHero, hero); // Demo: mutate cached hero
    return of(newHero).delay(this.delayMs); // simulate latency with delay
  }
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[main-final.ts]" value="// tslint:disable:no-unused-variable
import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { AppModule } from './app/app.module';

platformBrowserDynamic().bootstrapModule(AppModule);


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[main.ts]" value="// tslint:disable:no-unused-variable
import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { AppModule }  from './app/app.module';  // just the final version
import { DemoModule } from './app/demo.module'; // demo picker

platformBrowserDynamic().bootstrapModule(DemoModule); // (AppModule);


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[styles.css]" value="/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}
.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/demo.component.html]" value="<div class=&quot;container&quot;>
<h1>Reactive Forms</h1>
<h4><i>Pick a demo:</i>
  <select [selectedIndex]=&quot;demo - 1&quot; (change)=&quot;selectDemo($event.target.selectedIndex)&quot;>
    <option *ngFor=&quot;let demo of demos&quot;>{{demo}}</option>
  </select>
</h4>

<hr>

<div class=&quot;demo&quot;>
  <hero-list *ngIf=&quot;demo===final&quot;></hero-list>
  <hero-detail-1 *ngIf=&quot;demo===1&quot;></hero-detail-1>
  <hero-detail-2 *ngIf=&quot;demo===2&quot;></hero-detail-2>
  <hero-detail-3 *ngIf=&quot;demo===3&quot;></hero-detail-3>
  <hero-detail-4 *ngIf=&quot;demo===4&quot;></hero-detail-4>
  <hero-detail-5 *ngIf=&quot;demo===5&quot;></hero-detail-5>

  <div *ngIf=&quot;demo >= 6 &amp;&amp; demo !== final&quot; >

    <h3 *ngIf=&quot;isLoading&quot;><i>Loading heroes ... </i></h3>
    <h3 *ngIf=&quot;!isLoading&quot;>Select a hero:</h3>

    <nav>
      <button (click)=&quot;getHeroes()&quot; class=&quot;btn btn-primary&quot;>Refresh</button>
      <a *ngFor=&quot;let hero of heroes | async&quot; (click)=&quot;select(hero)&quot;>{{hero.name}}</a>
    </nav>

    <div *ngIf=&quot;selectedHero&quot;>
      <hr>
      <h2>Hero Detail</h2>
      <h3>Editing: {{selectedHero.name}}</h3>
      <hero-detail-6 [hero]=selectedHero *ngIf=&quot;demo===6&quot;></hero-detail-6>
      <hero-detail-7 [hero]=selectedHero *ngIf=&quot;demo===7&quot;></hero-detail-7>
      <hero-detail-8 [hero]=selectedHero *ngIf=&quot;demo===8&quot;></hero-detail-8>

    </div>
  </div>
</div>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[app/hero-detail-1.component.html]" value="<h2>Hero Detail</h2>
<h3><i>Just a FormControl</i></h3>
<label class=&quot;center-block&quot;>Name:
  <input class=&quot;form-control&quot; [formControl]=&quot;name&quot;>
</label>



<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[app/hero-detail-2.component.html]" value="<h2>Hero Detail</h2>
<h3><i>FormControl in a FormGroup</i></h3>
<form [formGroup]=&quot;heroForm&quot; novalidate>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>Name:
      <input class=&quot;form-control&quot; formControlName=&quot;name&quot;>
    </label>
  </div>
</form>

<p>Form value: {{ heroForm.value | json }}</p>





<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[app/hero-detail-3.component.html]" value="<h2>Hero Detail</h2>
<h3><i>A FormGroup with a single FormControl using FormBuilder</i></h3>
<form [formGroup]=&quot;heroForm&quot; novalidate>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>Name:
      <input class=&quot;form-control&quot; formControlName=&quot;name&quot;>
    </label>
  </div>
</form>

<p>Form value: {{ heroForm.value | json }}</p>
<p>Form status: {{ heroForm.status | json }}</p>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[app/hero-detail-4.component.html]" value="<h2>Hero Detail</h2>
<h3><i>A FormGroup with multiple FormControls</i></h3>
<form [formGroup]=&quot;heroForm&quot; novalidate>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>Name:
      <input class=&quot;form-control&quot; formControlName=&quot;name&quot;>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>Street:
      <input class=&quot;form-control&quot; formControlName=&quot;street&quot;>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>City:
      <input class=&quot;form-control&quot; formControlName=&quot;city&quot;>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>State:
      <select class=&quot;form-control&quot; formControlName=&quot;state&quot;>
          <option *ngFor=&quot;let state of states&quot; [value]=&quot;state&quot;>{{state}}</option>
      </select>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>Zip Code:
      <input class=&quot;form-control&quot; formControlName=&quot;zip&quot;>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label>Super power:</label>
      <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;flight&quot;>Flight</label>
      <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;x-ray vision&quot;>X-ray vision</label>
      <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;strength&quot;>Strength</label>
  </div>
  <div class=&quot;checkbox&quot;>
    <label class=&quot;center-block&quot;>
      <input type=&quot;checkbox&quot; formControlName=&quot;sidekick&quot;>I have a sidekick.
    </label>
  </div>
</form>


<p>Form value: {{ heroForm.value | json }}</p>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[app/hero-detail-5.component.html]" value="
<form [formGroup]=&quot;heroForm&quot; novalidate>
    <div class=&quot;form-group&quot;>
      <label class=&quot;center-block&quot;>Name:
        <input class=&quot;form-control&quot; formControlName=&quot;name&quot;>
      </label>
    </div>
    <div formGroupName=&quot;address&quot; class=&quot;well well-lg&quot;>
      <h4>Secret Lair</h4>
      <div class=&quot;form-group&quot;>
        <label class=&quot;center-block&quot;>Street:
          <input class=&quot;form-control&quot; formControlName=&quot;street&quot;>
        </label>
      </div>
      <div class=&quot;form-group&quot;>
        <label class=&quot;center-block&quot;>City:
          <input class=&quot;form-control&quot; formControlName=&quot;city&quot;>
        </label>
      </div>
      <div class=&quot;form-group&quot;>
        <label class=&quot;center-block&quot;>State:
          <select class=&quot;form-control&quot; formControlName=&quot;state&quot;>
            <option *ngFor=&quot;let state of states&quot; [value]=&quot;state&quot;>{{state}}</option>
          </select>
        </label>
      </div>
      <div class=&quot;form-group&quot;>
        <label class=&quot;center-block&quot;>Zip Code:
          <input class=&quot;form-control&quot; formControlName=&quot;zip&quot;>
        </label>
      </div>
    </div>
    <div class=&quot;form-group&quot;>
      <label>Super power:</label>
        <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;flight&quot;>Flight</label>
        <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;x-ray vision&quot;>X-ray vision</label>
        <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;strength&quot;>Strength</label>
    </div>
    <div class=&quot;checkbox&quot;>
      <label class=&quot;center-block&quot;>
        <input type=&quot;checkbox&quot; formControlName=&quot;sidekick&quot;>I have a sidekick.
      </label>
    </div>
</form>

<p>heroForm value: {{ heroForm.value | json}}</p>
<h4>Extra info for the curious:</h4>
<p>Name value: {{ heroForm.get('name').value }}</p>

<p>Street value: {{ heroForm.get('address.street').value}}</p>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[app/hero-detail-6.component.html]" value="<h2>Hero Detail</h2>
<h3><i>PatchValue to initialize a value</i></h3>
<form [formGroup]=&quot;heroForm&quot; novalidate>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>Name:
      <input class=&quot;form-control&quot; formControlName=&quot;name&quot;>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>Street:
      <input class=&quot;form-control&quot; formControlName=&quot;street&quot;>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>City:
      <input class=&quot;form-control&quot; formControlName=&quot;city&quot;>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>State:
      <select class=&quot;form-control&quot; formControlName=&quot;state&quot;>
        <option *ngFor=&quot;let state of states&quot; [value]=&quot;state&quot;>{{state}}</option>
      </select>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>Zip Code:
      <input class=&quot;form-control&quot; formControlName=&quot;zip&quot;>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label>Super power:</label>
      <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;flight&quot;>Flight</label>
      <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;x-ray vision&quot;>X-ray vision</label>
      <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;strength&quot;>Strength</label>
  </div>
  <div class=&quot;checkbox&quot;>
    <label class=&quot;center-block&quot;>
      <input type=&quot;checkbox&quot; formControlName=&quot;sidekick&quot;>I have a sidekick.
    </label>
  </div>
</form>


<p>Form value: {{ heroForm.value | json }}</p>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[app/hero-detail-7.component.html]" value="<h2>Hero Detail</h2>
<h3><i>A FormGroup with multiple FormControls</i></h3>
<form [formGroup]=&quot;heroForm&quot; novalidate>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>Name:
      <input class=&quot;form-control&quot; formControlName=&quot;name&quot;>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>Street:
      <input class=&quot;form-control&quot; formControlName=&quot;street&quot;>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>City:
      <input class=&quot;form-control&quot; formControlName=&quot;city&quot;>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>State:
      <select class=&quot;form-control&quot; formControlName=&quot;state&quot;>
        <option *ngFor=&quot;let state of states&quot; [value]=&quot;state&quot;>{{state}}</option>
      </select>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label class=&quot;center-block&quot;>Zip Code:
      <input class=&quot;form-control&quot; formControlName=&quot;zip&quot;>
    </label>
  </div>
  <div class=&quot;form-group&quot;>
    <label>Super power:</label>
      <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;flight&quot;>Flight</label>
      <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;x-ray vision&quot;>X-ray vision</label>
      <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;strength&quot;>Strength</label>
  </div>
  <div class=&quot;checkbox&quot;>
    <label class=&quot;center-block&quot;>
      <input type=&quot;checkbox&quot; formControlName=&quot;sidekick&quot;>I have a sidekick.
    </label>
  </div>
</form>


<p>Form value: {{ heroForm.value | json }}</p>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[app/hero-detail-8.component.html]" value="<h3><i>Using FormArray to add groups</i></h3>

<form [formGroup]=&quot;heroForm&quot; novalidate>
    <p>Form Changed: {{ heroForm.dirty }}</p>

    <div class=&quot;form-group&quot;>
      <label class=&quot;center-block&quot;>Name:
        <input class=&quot;form-control&quot; formControlName=&quot;name&quot;>
      </label>
    </div>
    <div formArrayName=&quot;secretLairs&quot; class=&quot;well well-lg&quot;>
      <div *ngFor=&quot;let address of secretLairs.controls; let i=index&quot; [formGroupName]=&quot;i&quot; >
        <!-- The repeated address template -->
        <h4>Address #{{i + 1}}</h4>
        <div style=&quot;margin-left: 1em;&quot;>
          <div class=&quot;form-group&quot;>
            <label class=&quot;center-block&quot;>Street:
              <input class=&quot;form-control&quot; formControlName=&quot;street&quot;>
            </label>
          </div>
          <div class=&quot;form-group&quot;>
            <label class=&quot;center-block&quot;>City:
              <input class=&quot;form-control&quot; formControlName=&quot;city&quot;>
            </label>
          </div>
          <div class=&quot;form-group&quot;>
            <label class=&quot;center-block&quot;>State:
              <select class=&quot;form-control&quot; formControlName=&quot;state&quot;>
                <option *ngFor=&quot;let state of states&quot; [value]=&quot;state&quot;>{{state}}</option>
              </select>
            </label>
          </div>
          <div class=&quot;form-group&quot;>
            <label class=&quot;center-block&quot;>Zip Code:
              <input class=&quot;form-control&quot; formControlName=&quot;zip&quot;>
            </label>
          </div>
        </div>
        <br>
        <!-- End of the repeated address template -->
      </div>
      <button (click)=&quot;addLair()&quot; type=&quot;button&quot;>Add a Secret Lair</button>
    </div>
    <div class=&quot;form-group&quot;>
        <label>Super power:</label>
          <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;flight&quot;>Flight</label>
          <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;x-ray vision&quot;>X-ray vision</label>
          <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;strength&quot;>Strength</label>
      </div>
      <div class=&quot;checkbox&quot;>
        <label class=&quot;center-block&quot;>
          <input type=&quot;checkbox&quot; formControlName=&quot;sidekick&quot;>I have a sidekick.
        </label>
      </div>
</form>

<p>heroForm value: {{ heroForm.value | json}}</p>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[app/hero-detail.component.html]" value="<form [formGroup]=&quot;heroForm&quot; (ngSubmit)=&quot;onSubmit()&quot; novalidate>
  <div style=&quot;margin-bottom: 1em&quot;>
    <button type=&quot;submit&quot;
            [disabled]=&quot;heroForm.pristine&quot; class=&quot;btn btn-success&quot;>Save</button> &amp;nbsp;
    <button type=&quot;reset&quot; (click)=&quot;revert()&quot;
            [disabled]=&quot;heroForm.pristine&quot; class=&quot;btn btn-danger&quot;>Revert</button>
  </div>

  <!-- Hero Detail Controls -->
  <div class=&quot;form-group&quot;>
      <label>Name:
        <input class=&quot;form-control&quot; formControlName=&quot;name&quot;>
      </label>
  </div>

  <div formArrayName=&quot;secretLairs&quot; class=&quot;well well-lg&quot;>
    <div *ngFor=&quot;let address of secretLairs.controls; let i=index&quot; [formGroupName]=&quot;i&quot; >
      <!-- The repeated address template -->
      <h4>Address #{{i + 1}}</h4>
      <div style=&quot;margin-left: 1em;&quot;>
        <div class=&quot;form-group&quot;>
          <label>Street:
            <input class=&quot;form-control&quot; formControlName=&quot;street&quot;>
          </label>
        </div>
        <div class=&quot;form-group&quot;>
          <label>City:
            <input class=&quot;form-control&quot; formControlName=&quot;city&quot;>
          </label>
        </div>
        <div class=&quot;form-group&quot;>
          <label>State:
            <select class=&quot;form-control&quot; formControlName=&quot;state&quot;>
              <option *ngFor=&quot;let state of states&quot; [value]=&quot;state&quot;>{{state}}</option>
            </select>
          </label>
        </div>
        <div class=&quot;form-group&quot;>
          <label>Zip Code:
            <input class=&quot;form-control&quot; formControlName=&quot;zip&quot;>
          </label>
        </div>
      </div>
      <br>
      <!-- End of the repeated address template -->
    </div>
    <button (click)=&quot;addLair()&quot; type=&quot;button&quot;>Add a Secret Lair</button>
  </div>
  <div class=&quot;form-group&quot;>
    <label>Super power:</label>
    <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;flight&quot;>Flight</label>
    <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;x-ray vision&quot;>X-ray vision</label>
    <label class=&quot;center-block&quot;><input type=&quot;radio&quot; formControlName=&quot;power&quot; value=&quot;strength&quot;>Strength</label>
  </div>
  <div class=&quot;checkbox&quot;>
    <label class=&quot;center-block&quot;>
      <input type=&quot;checkbox&quot; formControlName=&quot;sidekick&quot;>I have a sidekick.
    </label>
  </div>
</form>

<p>heroForm value: {{ heroForm.value | json}}</p>

<h4>Name change log</h4>
<div *ngFor=&quot;let name of nameChangeLog&quot;>{{name}}</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[app/hero-list.component.html]" value="<h3 *ngIf=&quot;isLoading&quot;><i>Loading heroes ... </i></h3>
<h3 *ngIf=&quot;!isLoading&quot;>Select a hero:</h3>

<nav>
  <button (click)=&quot;getHeroes()&quot; class=&quot;btn btn-primary&quot;>Refresh</button>
  <a *ngFor=&quot;let hero of heroes | async&quot; (click)=&quot;select(hero)&quot;>{{hero.name}}</a>
</nav>

<div *ngIf=&quot;selectedHero&quot;>
  <hr>
  <h2>Hero Detail</h2>
  <h3>Editing: {{selectedHero.name}}</h3>
  <hero-detail [hero]=&quot;selectedHero&quot;></hero-detail>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[index.html]" value="<!DOCTYPE html>
<html>
  <head>
    <title>Hero Form</title>
    <meta charset=&quot;UTF-8&quot;>
    <meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;>

    <link rel=&quot;stylesheet&quot; href=&quot;styles.css&quot;>
    <link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css&quot;>

    <!-- Polyfills for older browsers -->
    <script src=&quot;https://unpkg.com/core-js/client/shim.min.js&quot;></script>

    <script src=&quot;https://unpkg.com/zone.js@0.7.4?main=browser&quot;></script>
    <script src=&quot;node_modules/reflect-metadata/Reflect.js&quot;></script>
    <script src=&quot;https://unpkg.com/systemjs@0.19.39/dist/system.src.js&quot;></script>

    <script src=&quot;https://cdn.rawgit.com/angular/angular.io/b3c65a9/public/docs/_examples/_boilerplate/systemjs.config.web.js&quot;></script>
    <script>
      System.import('main.js').catch(function(err){ console.error(err); });
    </script>
  </head>

  <body>
    <my-app>Loading...</my-app>
  </body>

</html>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="tags[0]" value="angular"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="tags[2]" value="reactive"><input type="hidden" name="tags[3]" value="forms"><input type="hidden" name="private" value="true"><input type="hidden" name="description" value="Angular Example - Angular Reactive Forms (Demo runner)"></form><script>document.getElementById("mainForm").submit();</script></body></html>