@import '../app-theme';


$ng-io-primary: mat-palette($mat-red, 700, 600, 800);
$ng-io-accent:  mat-palette($mat-blue, 700, 600, 800);
$ng-io-warn:    mat-palette($mat-blue);
$ng-io-theme: mat-dark-theme($ng-io-primary, $ng-io-accent, $ng-io-warn);

@include angular-material-theme($ng-io-theme);
@include app-theme($ng-io-theme);