.demo-select {
  display: flex;
  flex-flow: row wrap;

  .mat-card {
    width: 450px;
    margin: 24px;
  }

  .demo-drink-icon {
    vertical-align: bottom;
    padding-right: 0.25em;
  }

  .demo-drinks-width-large {
    width: 400px;
  }
}

.demo-card {
  margin-bottom: 30px;
}
