@use '@angular/material' as mat;
@use '@material/theme/theme-color' as mdc-theme-color;
@use '@material/menu-surface' as mdc-menu-surface;
@use '@material/list/evolution-mixins' as mdc-list;
@use '@material/typography' as mdc-typography;


// Gets the color to use for some text that is highlighted while a select has focus.
@function _get-mdc-focused-text-color($palette) {
  @return rgba(mdc-theme-color.prop-value($palette), 0.87);
}

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);

  @include mat.private-using-mdc-theme($config) {
    $disabled-color: rgba(mdc-theme-color.prop-value(on-surface), 0.38);
    @include mdc-menu-surface.core-styles(mat.$private-mdc-theme-styles-query);
    @include mdc-list.without-ripple(mat.$private-mdc-theme-styles-query);

    .mat-mdc-select-value {
      color: rgba(mdc-theme-color.prop-value(on-surface), 0.87);
    }

    .mat-mdc-select-placeholder {
      color: rgba(mdc-theme-color.prop-value(on-surface), 0.6);
    }

    .mat-mdc-select-disabled .mat-mdc-select-value {
      color: $disabled-color;
    }

    .mat-mdc-select-arrow {
      color: rgba(mdc-theme-color.prop-value(on-surface), 0.54);
    }

    .mat-mdc-form-field {
      &.mat-focused {
        &.mat-primary .mat-mdc-select-arrow {
          color: _get-mdc-focused-text-color(primary);
        }

        &.mat-accent .mat-mdc-select-arrow {
          color: _get-mdc-focused-text-color(secondary);
        }

        &.mat-warn .mat-mdc-select-arrow {
          color: _get-mdc-focused-text-color(error);
        }
      }

      .mat-mdc-select.mat-mdc-select-invalid .mat-mdc-select-arrow {
        color: _get-mdc-focused-text-color(error);
      }

      .mat-mdc-select.mat-mdc-select-disabled .mat-mdc-select-arrow {
        color: $disabled-color;
      }
    }
  }
}

@mixin typography($config-or-theme) {
  $config: mat.private-typography-to-2018-config(
      mat.get-typography-config($config-or-theme));
  @include mat.private-using-mdc-typography($config) {
    @include mdc-menu-surface.core-styles(mat.$private-mdc-typography-styles-query);

    .mat-mdc-select-panel {
      @include mdc-list.list-base(mat.$private-mdc-typography-styles-query);
    }

    .mat-mdc-select {
      @include mdc-typography.typography(body1, $query: mat.$private-mdc-typography-styles-query);
    }
  }
}

@mixin density($config-or-theme) {}

@mixin theme($theme-or-color-config) {
  $theme: mat.private-legacy-get-theme($theme-or-color-config);
  @include mat.private-check-duplicate-theme-styles($theme, 'mat-mdc-select') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}

