@import '../mdc-helpers/mdc-helpers';

@mixin mat-mdc-select-color($config) {
  @include mat-using-mdc-theme($config) {
    // TODO: implement MDC-based select.
  }
}

@mixin mat-mdc-select-typography($config) {
  @include mat-using-mdc-typography($config) {
    // TODO: implement MDC-based select.
  }
}

@mixin mat-mdc-select-density($density-scale) {}

@mixin mat-mdc-select-theme($theme) {
  $color: mat-get-color-config($theme);
  $density: mat-get-density-config($theme);
  $typography: mat-get-typography-config($theme);

  @if $color != null {
    @include mat-mdc-select-color($color);
  }
  @if $density != null {
    @include mat-mdc-select-density($density);
  }
  @if $typography != null {
    @include mat-mdc-select-typography($typography);
  }
}

