<h1>SnackBar demo</h1>
<div>
  <div>Message: <md-input type="text" [(ngModel)]="message"></md-input></div>
  <div>
    <md-checkbox [(ngModel)]="action">
      <p *ngIf="!action">Show button on snack bar</p>
      <md-input type="text" class="demo-button-label-input"
                *ngIf="action"
                placeholder="Snack bar action label"
                [(ngModel)]="actionButtonLabel"></md-input>
    </md-checkbox>
  </div>
  <div>
    <md-checkbox [(ngModel)]="setAutoHide">
      <p *ngIf="!setAutoHide">Auto hide after duration</p>
      <md-input type="number" class="demo-button-label-input"
                *ngIf="setAutoHide"
                 placeholder="Auto Hide Duration in ms"
                 [(ngModel)]="autoHide"></md-input>
    </md-checkbox>
  </div>
</div>

<button md-raised-button (click)="open()">OPEN</button>