.demo-basic {
  padding: 0;
}
.demo-basic md-card-content {
  padding: 16px;
}
.demo-full-width {
  width: 100%;
}

.demo-icons {
  font-size: 100%;
  height: inherit;
  vertical-align: top;
  width: inherit;
}

.demo-card {
  margin: 16px;
}

.demo-textarea {
  resize: none;
  border: none;
  overflow: auto;
  padding: 0;
  background: lightblue;
}
