@import 'default-theme';
@import 'variables';


.demo-icons {
  font-size: 100%;
  vertical-align: top;
}

.demo-transform {
  transition: color $swift-ease-out-duration $swift-ease-out-timing-function;
}
.demo-primary {
  color: md-color($md-primary);
}

.demo-card {
  margin: 16px;
}
