
<h1>Attribute, class, and style bindings</h1>
<h2>Attribute binding</h2>
<!-- #docregion attrib-binding-colspan -->
<table border=1>
  <!--  expression calculates colspan=2 -->
  <tr><td [attr.colspan]="1 + 1">One-Two</td></tr>

  <!-- ERROR: There is no `colspan` property to set!
    <tr><td colspan="{{1 + 1}}">Three-Four</td></tr>
  -->
  <!-- #docregion colSpan -->
  <!-- colSpan 프로퍼티는 캐멀 케이스입니다. -->
  <tr><td [colSpan]="1 + 1">Three-Four</td></tr>
  <!-- #enddocregion colSpan -->

  <tr><td>Five</td><td>Six</td></tr>
</table>
<!-- #enddocregion attrib-binding-colspan -->

<div>
  <!-- #docregion attrib-binding-aria -->
  <!-- 웹 접근성 향상을 위해 ARIA 어트리뷰트를 지정할 수 있습니다. -->
  <button [attr.aria-label]="actionName">{{actionName}} with Aria</button>
  <!-- #enddocregion attrib-binding-aria -->
</div>

<hr />

<h2>Styling precedence</h2>

<!-- #docregion basic-specificity -->
<h3>기본 순서</h3>

<!-- `class.special`이 `class`보다 우선순위가 높습니다.  -->
<div [class.special]="isSpecial" [class]="classExpr">Some text.</div>

<!-- `style.color`가 `style`보다 우선순위가 높습니다.  -->
<div [style.color]="color" [style]="styleExpr">Some text.</div>
<!-- #enddocregion basic-specificity -->

<!-- #docregion source-specificity -->
<h3>소스별 우선순위</h3>

<!-- `dirWithClassBinding`이나 `comp-with-host-binding`보다 `class.special` 템플릿 바인딩의 우선순위가 더 높습니다. -->
<comp-with-host-binding [class.special]="isSpecial" dirWithClassBinding>Some text.</comp-with-host-binding>

<!-- `dirWithStyleBinding`이나 `comp-with-host-binding`보다 `style.color` 템플릿 바인딩의 우선순위가 더 높습니다. -->
<comp-with-host-binding [style.color]="color" dirWithStyleBinding>Some text.</comp-with-host-binding>
<!-- #enddocregion source-specificity -->

<!-- #docregion dynamic-priority -->
<h3>동적 vs 정적</h3>

<!-- `classExpr`이 동적으로 처리되기 때문에 `class`보다 우선순위가 높습니다. -->
<div class="special" [class]="classExpr">Some text.</div>

<!-- `styleExpr`이 동적으로 처리되기 때문에 `style`보다 우선순위가 높습니다. -->
<div style="color: blue" [style]="styleExpr">Some text.</div>

<!-- #enddocregion dynamic-priority -->

<!-- #docregion style-delegation -->
<comp-with-host-binding dirWithHostBinding></comp-with-host-binding>
<!-- #enddocregion style-delegation -->


