
<h1>Attribute, class, and style bindings</h1>
<h2>Attribute binding</h2>
<table border=1>
  <!-- #docregion colspan -->
  <!--  expression calculates colspan=2 -->
  <tr><td [attr.colspan]="1 + 1">One-Two</td></tr>
  <!-- #enddocregion colspan -->

  <!-- ERROR: There is no `colspan` property to set!
    <tr><td colspan="{{1 + 1}}">Three-Four</td></tr>
  -->
  <!-- #docregion colSpan -->
  <!-- Notice the colSpan property is camel case -->
  <tr><td [colSpan]="1 + 1">Three-Four</td></tr>
  <!-- #enddocregion colSpan -->

  <tr><td>Five</td><td>Six</td></tr>
</table>

<div>
  <!-- #docregion attrib-binding-aria -->
  <!-- create and set an aria attribute for assistive technology -->
  <button [attr.aria-label]="actionName">{{actionName}} with Aria</button>
  <!-- #enddocregion attrib-binding-aria -->
</div>

<hr />

<h2>Styling precedence</h2>

<!-- #docregion basic-specificity -->
<h3>Basic specificity</h3>

<!-- The `class.special` binding overrides any value for the `special` class in `classExpression`.  -->
<div [class.special]="isSpecial" [class]="classExpression">Some text.</div>

<!-- The `style.border` binding overrides any value for the `border` property in `styleExpression`.  -->
<div [style.border]="border" [style]="styleExpression">Some text.</div>
<!-- #enddocregion basic-specificity -->

<!-- #docregion source-specificity -->
<h3>Source specificity</h3>

<!-- The `class.special` template binding overrides any host binding to the `special` class set by `dirWithClassBinding` or `comp-with-host-binding`.-->

<comp-with-host-binding [class.special]="isSpecial" dirWithClassBinding></comp-with-host-binding>


<!-- The `style.color` template binding overrides any host binding to the `color` property set by `dirWithStyleBinding` or `comp-with-host-binding`. -->
<div>
  <comp-with-host-binding [style.color]="color" dirWithStyleBinding></comp-with-host-binding>
</div>

<!-- #docregion dynamic-priority -->
<h3>Dynamic vs static</h3>

<!-- If `classExpression` has a value for the `special` class, this value overrides the `class="special"` below -->
<div class="special" [class]="classExpression">Some text.</div>

<!-- If `styleExpression` has a value for the `border` property, this value overrides the `style="border: dotted darkblue 3px"` below -->
<div style="border: dotted darkblue 3px" [style]="styleExpression">Some text.</div>

<!-- #enddocregion dynamic-priority -->

<div class="readability">
  <!-- #docregion style-delegation -->
  <comp-with-host-binding dirWithHostBinding></comp-with-host-binding>
  <!-- #enddocregion style-delegation -->
</div>

<!-- #docregion attribute-decorator -->
<app-my-input-with-attribute-decorator type="number"></app-my-input-with-attribute-decorator>
<!-- #enddocregion attribute-decorator -->

