.example-panel-red .mat-select-content {
  background: rgba(255, 0, 0, 0.5);
}

.example-panel-green .mat-select-content {
  background: rgba(0, 255, 0, 0.5);
}

.example-panel-blue .mat-select-content {
  background: rgba(0, 0, 255, 0.5);
}
