// Flex-based table structure
$header-row-height: 56px;
$row-height: 48px;
$row-horizontal-padding: 24px;

@mixin private-table-flex-styles($prefix) {
  // These styles are nested under a `:not(table)`, because
  // they can break the non-flex table if they leak out.
  .#{$prefix}-table:not(table) {
    display: block;

    .#{$prefix}-cell, .#{$prefix}-header-cell, .#{$prefix}-footer-cell {
      display: flex;
    }

    .#{$prefix}-row, .#{$prefix}-header-row, .#{$prefix}-footer-row {
      display: flex;

      // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
      // element that will stretch the row the correct height. See:
      // https://connect.microsoft.com/IE/feedback/details/802625
      &::after {
        display: inline-block;
        min-height: inherit;
        content: '';
      }
    }
  }

  // The remaining styles can leak to the native table without affecting it.
  // We keep them outside to lower the specificity.
  .#{$prefix}-header-row {
    min-height: $header-row-height;
  }

  .#{$prefix}-row, .#{$prefix}-footer-row {
    min-height: $row-height;
  }

  .#{$prefix}-row, .#{$prefix}-header-row, .#{$prefix}-footer-row {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    box-sizing: border-box;
  }

  .#{$prefix}-cell, .#{$prefix}-header-cell, .#{$prefix}-footer-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
    align-items: center;

    // Note: we use `first-of-type`/`last-of-type` here in order to prevent extra
    // elements like ripples or badges from throwing off the layout (see #11165).
    &:first-of-type {
      padding-left: $row-horizontal-padding;

      [dir='rtl'] &:not(:only-of-type) {
        padding-left: 0;
        padding-right: $row-horizontal-padding;
      }
    }

    &:last-of-type {
      padding-right: $row-horizontal-padding;

      [dir='rtl'] &:not(:only-of-type) {
        padding-right: 0;
        padding-left: $row-horizontal-padding;
      }
    }
  }
}
