@use '../core/style/vendor-prefixes';
@import './table-flex-styles';

@include mat-private-table-flex-styles();

/**
 * Native HTML table structure
 */
table.mat-table {
  border-spacing: 0;
}

tr.mat-header-row {
  height: $mat-header-row-height;
}

tr.mat-row, tr.mat-footer-row {
  height: $mat-row-height;
}

th.mat-header-cell {
  text-align: left;

  [dir='rtl'] & {
    text-align: right;
  }
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  // Note: we use `first-of-type`/`last-of-type` here in order to prevent extra
  // elements like ripples or badges from throwing off the layout (see #11165).
  &:first-of-type {
    padding-left: $mat-row-horizontal-padding;

    [dir='rtl'] &:not(:only-of-type) {
      padding-left: 0;
      padding-right: $mat-row-horizontal-padding;
    }
  }

  &:last-of-type {
    padding-right: $mat-row-horizontal-padding;

    [dir='rtl'] &:not(:only-of-type) {
      padding-right: 0;
      padding-left: $mat-row-horizontal-padding;
    }
  }
}

.mat-table-sticky {
  @include vendor-prefixes.position-sticky;
}

.mat-table-fixed-layout {
  table-layout: fixed;
}
