.demo-section {
  max-width: 600px;
  margin-bottom: 24px;
  padding: 16px;
  background: #efefef !important;

  & > * {
    margin: 0 0 32px;
  }
}

.demo-options {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  .mat-mdc-slide-toggle {
    margin-bottom: 8px;
  }
}
