.demo-a11y-sidenav-spacer {
  flex: 1;
}

mat-sidenav.demo-a11y-sidenav-playlist {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.demo-a11y-sidenav-playlist-header {
  text-align: center;
}
