<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDrop
    #todoList="cdkDrop"
    [cdkDropData]="todo"
    [cdkDropConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDrop
    #doneList="cdkDrop"
    [cdkDropData]="done"
    [cdkDropConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div>

