# Angular Material components
/src/material/*                                    @jelbourn
/src/material/autocomplete/**                      @crisbeto
/src/material/badge/**                             @jelbourn
/src/material/bottom-sheet/**                      @jelbourn @crisbeto
/src/material/button-toggle/**                     @jelbourn
/src/material/button/**                            @jelbourn @josephperrott
/src/material/card/**                              @jelbourn
/src/material/checkbox/**                          @jelbourn @devversion @josephperrott
/src/material/chips/**                             @jelbourn
/src/material/datepicker/**                        @mmalerba
/src/material/dialog/**                            @jelbourn @crisbeto
/src/material/divider/**                           @jelbourn @crisbeto
/src/material/expansion/**                         @josephperrott @jelbourn
/src/material/form-field/**                        @mmalerba
/src/material/grid-list/**                         @jelbourn
/src/material/icon/**                              @jelbourn
/src/material/input/**                             @mmalerba
/src/material/list/**                              @jelbourn @crisbeto @devversion
/src/material/menu/**                              @crisbeto
/src/material/paginator/**                         @andrewseguin
/src/material/prebuilt-themes/**                   @jelbourn
/src/material/progress-bar/**                      @jelbourn @crisbeto @josephperrott
/src/material/progress-spinner/**                  @jelbourn @crisbeto @josephperrott
/src/material/radio/**                             @jelbourn @devversion
/src/material/schematics/**                        @devversion @jelbourn
/src/material/select/**                            @crisbeto
/src/material/sidenav/**                           @mmalerba
/src/material/slide-toggle/**                      @devversion
/src/material/slider/**                            @mmalerba
/src/material/snack-bar/**                         @jelbourn @crisbeto @josephperrott
/src/material/sort/**                              @andrewseguin
/src/material/stepper/**                           @mmalerba
/src/material/table/**                             @andrewseguin
/src/material/tabs/**                              @andrewseguin
/src/material/testing/**                           @jelbourn
/src/material/toolbar/**                           @devversion
/src/material/tooltip/**                           @andrewseguin
/src/material/tree/**                              @jelbourn @andrewseguin

# Angular Material core
/src/material/core/*                               @jelbourn
/src/material/core/animation/**                    @jelbourn
/src/material/core/common-behaviors/**             @jelbourn @devversion
/src/material/core/datetime/**                     @mmalerba
/src/material/core/error/**                        @crisbeto @mmalerba
/src/material/core/gestures/**                     @jelbourn
/src/material/core/label/**                        @mmalerba
/src/material/core/line/**                         @jelbourn
/src/material/core/option/**                       @crisbeto
/src/material/core/placeholder/**                  @mmalerba
/src/material/core/ripple/**                       @devversion
/src/material/core/selection/**                    @jelbourn
/src/material/core/selection/pseudo*/**            @crisbeto @jelbourn
/src/material/core/style/**                        @jelbourn
/src/material/core/theming/**                      @jelbourn
/src/material/core/typography/**                   @crisbeto
/src/material/core/util/**                         @jelbourn

# CDK
/src/cdk/*                                         @jelbourn
/src/cdk/a11y/**                                   @jelbourn @devversion
/src/cdk/accordion/**                              @josephperrott
/src/cdk/bidi/**                                   @jelbourn
/src/cdk/coercion/**                               @jelbourn
/src/cdk/collections/**                            @jelbourn @crisbeto @andrewseguin
/src/cdk/drag-drop/**                              @crisbeto
/src/cdk/keycodes/**                               @jelbourn
/src/cdk/layout/**                                 @josephperrott
/src/cdk/observers/**                              @jelbourn @crisbeto
/src/cdk/overlay/**                                @jelbourn @crisbeto
/src/cdk/platform/**                               @jelbourn @devversion
/src/cdk/portal/**                                 @jelbourn
/src/cdk/schematics/**                             @devversion @jelbourn
/src/cdk/scrolling/**                              @andrewseguin @crisbeto
/src/cdk/stepper/**                                @mmalerba
/src/cdk/table/**                                  @andrewseguin
/src/cdk/testing/**                                @devversion
/src/cdk/text-field/**                             @mmalerba
/src/cdk/tree/**                                   @jelbourn @andrewseguin

# Moment adapter package
/src/material-moment-adapter/**                    @mmalerba

# Material experimental package
/src/material-experimental/*                       @jelbourn
/src/material-experimental/mdc-button/**           @andrewseguin
/src/material-experimental/mdc-card/**             @mmalerba
/src/material-experimental/mdc-checkbox/**         @mmalerba
/src/material-experimental/mdc-chips/**            @mmalerba
/src/material-experimental/mdc-helpers/**          @mmalerba
/src/material-experimental/mdc-menu/**             @crisbeto
# Note to implementer: please repossess
/src/material-experimental/mdc-radio/**            @mmalerba
/src/material-experimental/mdc-slide-toggle/**     @crisbeto
/src/material-experimental/popover-edit/**         @kseamon @andrewseguin

# CDK experimental package
/src/cdk-experimental/**                           @jelbourn
/src/cdk-experimental/dialog/**                    @jelbourn @josephperrott @crisbeto
/src/cdk-experimental/scrolling/**                 @mmalerba
/src/cdk-experimental/popover-edit/**              @kseamon @andrewseguin

# Docs examples & guides
/guides/**                                         @jelbourn
/src/material-examples/**                          @jelbourn

# Accessibility demos
/src/a11y-demo/**/*                                @jelbourn

# Dev-app
/src/dev-app/*                                     @jelbourn
/src/dev-app/autocomplete/**                       @crisbeto
/src/dev-app/badge/**                              @jelbourn
/src/dev-app/baseline/**                           @mmalerba
/src/dev-app/bottom-sheet/**                       @jelbourn @crisbeto
/src/dev-app/button-toggle/**                      @jelbourn
/src/dev-app/button/**                             @jelbourn
/src/dev-app/card/**                               @jelbourn
/src/dev-app/checkbox/**                           @jelbourn @devversion
/src/dev-app/chips/**                              @jelbourn
/src/dev-app/connected-overlay/**                  @jelbourn @crisbeto
/src/dev-app/dataset/**                            @andrewseguin
/src/dev-app/datepicker/**                         @mmalerba
/src/dev-app/dev-app/**                            @mmalerba
/src/dev-app/dialog/**                             @jelbourn @crisbeto
/src/dev-app/drag-drop/**                          @crisbeto
/src/dev-app/drawer/**                             @mmalerba
/src/dev-app/example/**                            @andrewseguin
/src/dev-app/examples-page/**                      @andrewseguin
/src/dev-app/expansion/**                          @josephperrott
/src/dev-app/focus-origin/**                       @mmalerba
/src/dev-app/gestures/**                           @jelbourn
/src/dev-app/grid-list/**                          @jelbourn
/src/dev-app/icon/**                               @jelbourn
/src/dev-app/input/**                              @mmalerba
/src/dev-app/list/**                               @jelbourn @crisbeto @devversion
/src/dev-app/live-announcer/**                     @jelbourn
/src/dev-app/mdc-button/**                         @andrewseguin
# Note to implementer: please repossess
/src/dev-app/mdc-card/**                           @mmalerba
/src/dev-app/mdc-checkbox/**                       @mmalerba
/src/dev-app/mdc-chips/**                          @mmalerba
/src/dev-app/mdc-menu/**                           @crisbeto
# Note to implementer: please repossess
/src/dev-app/mdc-radio/**                          @mmalerba
/src/dev-app/mdc-slide-toggle/**                   @crisbeto
/src/dev-app/menu/**                               @crisbeto
/src/dev-app/overlay/**                            @jelbourn @crisbeto
/src/dev-app/paginator/**                          @andrewseguin
/src/dev-app/platform/**                           @jelbourn @devversion
/src/dev-app/portal/**                             @jelbourn
/src/dev-app/popover-edit/**                       @kseamon @andrewseguin
/src/dev-app/progress-bar/**                       @jelbourn @crisbeto @josephperrott
/src/dev-app/progress-spinner/**                   @jelbourn @crisbeto @josephperrott
/src/dev-app/radio/**                              @jelbourn @devversion
/src/dev-app/ripple/**                             @devversion
/src/dev-app/screen-type/**                        @josephperrott
/src/dev-app/select/**                             @crisbeto
/src/dev-app/sidenav/**                            @mmalerba
/src/dev-app/slide-toggle/**                       @devversion
/src/dev-app/slider/**                             @mmalerba
/src/dev-app/snack-bar/**                          @jelbourn @crisbeto @josephperrott
/src/dev-app/stepper/**                            @mmalerba
/src/dev-app/table/**                              @andrewseguin
/src/dev-app/tabs/**                               @andrewseguin
/src/dev-app/toolbar/**                            @devversion
/src/dev-app/tooltip/**                            @andrewseguin
/src/dev-app/tree/**                               @jelbourn
/src/dev-app/typography/**                         @crisbeto
/src/dev-app/virtual-scroll/**                     @mmalerba

# E2E app
/e2e/*                                             @jelbourn
/e2e/components/block-scroll-strategy-e2e.spec.ts  @andrewseguin @crisbeto
/e2e/components/button-e2e.spec.ts                 @jelbourn
/e2e/components/button-toggle-e2e.spec.ts          @jelbourn
/e2e/components/card-e2e.spec.ts                   @jelbourn
/e2e/components/checkbox-e2e.spec.ts               @jelbourn @devversion
/e2e/components/dialog-e2e.spec.ts                 @jelbourn @crisbeto
/e2e/components/expansion-e2e.spec.ts              @josephperrott @jelbourn
/e2e/components/grid-list-e2e.spec.ts              @jelbourn
/e2e/components/icon-e2e.spec.ts                   @jelbourn
/e2e/components/input-e2e.spec.ts                  @mmalerba
/e2e/components/list-e2e.spec.ts                   @jelbourn @crisbeto @devversion
/e2e/components/mdc-button-e2e.spec.ts             @andrewseguin
# Note to implementer: please repossess
/e2e/components/mdc-card-e2e.spec.ts               @mmalerba
/e2e/components/mdc-checkbox-e2e.spec.ts           @mmalerba
/e2e/components/mdc-chips-e2e.spec.ts              @mmalerba
/e2e/components/mdc-menu-e2e.spec.ts               @crisbeto
# Note to implementer: please repossess
/e2e/components/mdc-radio-e2e.spec.ts              @mmalerba
/e2e/components/mdc-slide-toggle-e2e.spec.ts       @crisbeto
/e2e/components/menu-e2e.spec.ts                   @crisbeto
/e2e/components/progress-bar-e2e.spec.ts           @jelbourn @crisbeto @josephperrott
/e2e/components/progress-spinner-e2e.spec.ts       @jelbourn @crisbeto @josephperrott
/e2e/components/radio-e2e.spec.ts                  @jelbourn @devversion
/e2e/components/sidenav-e2e.spec.ts                @mmalerba
/e2e/components/slide-toggle-e2e.spec.ts           @devversion
/e2e/components/stepper-e2e.spec.ts                @mmalerba
/e2e/components/tabs-e2e.spec.ts                   @andrewseguin
/e2e/components/toolbar-e2e.spec.ts                @devversion
/e2e/components/virtual-scroll-e2e.spec.ts         @mmalerba
/e2e/util/**                                       @jelbourn
/src/e2e-app/*                                     @jelbourn
/src/e2e-app/block-scroll-strategy/**              @andrewseguin @crisbeto
/src/e2e-app/button/**                             @jelbourn
/src/e2e-app/button-toggle/**                      @jelbourn
/src/e2e-app/card/**                               @jelbourn
/src/e2e-app/checkbox/**                           @jelbourn @devversion
/src/e2e-app/dialog/**                             @jelbourn @crisbeto
/src/e2e-app/e2e-app/**                            @jelbourn
/src/e2e-app/example-viewer/**                     @andrewseguin
/src/e2e-app/expansion/**                          @josephperrott
/src/e2e-app/grid-list/**                          @jelbourn
/src/e2e-app/icon/**                               @jelbourn
/src/e2e-app/input/**                              @mmalerba
/src/e2e-app/list/**                               @jelbourn
/src/e2e-app/mdc-button/**                         @andrewseguin
# Note to implementer: please repossess
/src/e2e-app/mdc-card/**                           @mmalerba
/src/e2e-app/mdc-checkbox/**                       @mmalerba
/src/e2e-app/mdc-chips/**                          @mmalerba
/src/e2e-app/mdc-menu/**                           @crisbeto
# Note to implementer: please repossess
/src/e2e-app/mdc-radio/**                          @mmalerba
/src/e2e-app/mdc-slide-toggle/**                   @crisbeto
/src/e2e-app/menu/**                               @crisbeto
/src/e2e-app/progress-bar/**                       @jelbourn @crisbeto @josephperrott
/src/e2e-app/progress-spinner/**                   @jelbourn @crisbeto @josephperrott
/src/e2e-app/radio/**                              @jelbourn @devversion
/src/e2e-app/sidenav/**                            @mmalerba
/src/e2e-app/slide-toggle/**                       @devversion
/src/e2e-app/stepper/**                            @mmalerba
/src/e2e-app/tabs/**                               @andrewseguin
/src/e2e-app/toolbar/**                            @devversion
/src/e2e-app/virtual-scroll/**                     @mmalerba

# Universal app
/src/universal-app/**                              @jelbourn

# Tooling
/.circleci/**                                      @jelbourn
/scripts/**                                        @devversion @jelbourn
/test/**                                           @devversion @jelbourn
/tools/**                                          @devversion @jelbourn

# Public API golden files
/tools/public_api_guard/cdk/a11y.d.ts              @jelbourn @devversion
/tools/public_api_guard/cdk/accordion.d.ts         @josephperrott
/tools/public_api_guard/cdk/bidi.d.ts              @jelbourn
/tools/public_api_guard/cdk/cdk.d.ts               @jelbourn
/tools/public_api_guard/cdk/coercion.d.ts          @jelbourn
/tools/public_api_guard/cdk/collections.d.ts       @jelbourn @crisbeto @andrewseguin
/tools/public_api_guard/cdk/drag-drop.d.ts         @crisbeto
/tools/public_api_guard/cdk/keycodes.d.ts          @jelbourn
/tools/public_api_guard/cdk/layout.d.ts            @josephperrott
/tools/public_api_guard/cdk/observers.d.ts         @jelbourn @crisbeto
/tools/public_api_guard/cdk/overlay.d.ts           @jelbourn @crisbeto
/tools/public_api_guard/cdk/platform.d.ts          @jelbourn @devversion
/tools/public_api_guard/cdk/scrolling.d.ts         @andrewseguin @crisbeto
/tools/public_api_guard/cdk/stepper.d.ts           @mmalerba
/tools/public_api_guard/cdk/table.d.ts             @andrewseguin
/tools/public_api_guard/cdk/text-field.d.ts        @mmalerba
/tools/public_api_guard/cdk/tree.d.ts              @jelbourn @andrewseguin
/tools/public_api_guard/material/autocomplete.d.ts      @crisbeto
/tools/public_api_guard/material/badge.d.ts             @jelbourn
/tools/public_api_guard/material/bottom-sheet.d.ts      @jelbourn @crisbeto
/tools/public_api_guard/material/button-toggle.d.ts     @jelbourn
/tools/public_api_guard/material/button.d.ts            @jelbourn @josephperrott
/tools/public_api_guard/material/card.d.ts              @jelbourn
/tools/public_api_guard/material/checkbox.d.ts          @jelbourn @devversion @josephperrott
/tools/public_api_guard/material/chips.d.ts             @jelbourn
/tools/public_api_guard/material/core.d.ts              @jelbourn
/tools/public_api_guard/material/datepicker.d.ts        @mmalerba
/tools/public_api_guard/material/dialog.d.ts            @jelbourn @crisbeto
/tools/public_api_guard/material/divider.d.ts           @jelbourn @crisbeto
/tools/public_api_guard/material/expansion.d.ts         @josephperrott @jelbourn
/tools/public_api_guard/material/form-field.d.ts        @mmalerba
/tools/public_api_guard/material/grid-list.d.ts         @jelbourn
/tools/public_api_guard/material/icon.d.ts              @jelbourn
/tools/public_api_guard/material/input.d.ts             @mmalerba
/tools/public_api_guard/material/list.d.ts              @jelbourn @crisbeto @devversion
/tools/public_api_guard/material/menu.d.ts              @crisbeto
/tools/public_api_guard/material/paginator.d.ts         @andrewseguin
/tools/public_api_guard/material/progress-bar.d.ts      @jelbourn @crisbeto @josephperrott
/tools/public_api_guard/material/progress-spinner.d.ts  @jelbourn @crisbeto @josephperrott
/tools/public_api_guard/material/radio.d.ts             @jelbourn @devversion
/tools/public_api_guard/material/select.d.ts            @crisbeto
/tools/public_api_guard/material/sidenav.d.ts           @mmalerba
/tools/public_api_guard/material/slide-toggle.d.ts      @devversion
/tools/public_api_guard/material/slider.d.ts            @mmalerba
/tools/public_api_guard/material/snack-bar.d.ts         @jelbourn @crisbeto @josephperrott
/tools/public_api_guard/material/sort.d.ts              @andrewseguin
/tools/public_api_guard/material/stepper.d.ts           @mmalerba
/tools/public_api_guard/material/table.d.ts             @andrewseguin
/tools/public_api_guard/material/tabs.d.ts              @andrewseguin
/tools/public_api_guard/material/toolbar.d.ts           @devversion
/tools/public_api_guard/material/tooltip.d.ts           @andrewseguin
/tools/public_api_guard/material/tree.d.ts              @jelbourn @andrewseguin
/tools/public_api_guard/material/material.d.ts          @jelbourn

# Misc
/*                                                 @jelbourn
/.github/**                                        @jelbourn
/.vscode/**                                        @mmalerba
/src/*                                             @jelbourn
