@use '../../constants' as *;
@use '~@angular/material/theming' as *;

@mixin hr-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  hr {
    background: if($is-dark-theme, $mediumgray, $lightgray);
  }
}
