# Auto detect text files and perform LF normalization
* text=auto

# JS and TS files must always use LF for tools to work
*.js eol=lf
*.ts eol=lf

# Preserve verbatim line endings for NGP golden test fixtures
packages/compiler-cli/preprocessor/test/golden/** -text
