# Auto detect text files and perform LF normalization
* text=auto

# JS and TS files must always use LF for tools to work
*.js eol=lf
*.ts eol=lf

# API guardian patch must always use LF for tests to work
*.patch eol=lf

# Must keep Windows line ending to be parsed correctly
scripts/windows/packages.txt eol=crlf
