[submodule "tools/js2dart"]
	path = tools/js2dart
	url = git@github.com:angular/js2dart.git
[submodule "tools/rtts-assert"]
	path = tools/rtts-assert
	url = git@github.com:angular/assert.git
[submodule "tools/traceur"]
	path = tools/traceur
	url = git@github.com:google/traceur-compiler.git
