{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "embeddedLanguageFormatting": "off",
  "singleQuote": true,
  "semi": true,
  "quoteProps": "preserve",
  "bracketSpacing": false,
  "trailingComma": "all"
}
