@use '@material/ripple' as mdc-ripple;
@use 'sass:map';
@use '../../material/core/theming/theming';

// Mixin that provides colors for the various states of an interactive list-item. MDC
// has integrated styles for these states but relies on their complex ripples for it.
@mixin private-interactive-list-item-state-colors($config) {
  $is-dark-theme: map.get($config, is-dark);
  $active-base-color: if($is-dark-theme, white, black);
  $selected-color: theming.get-color-from-palette(map.get($config, primary));

  .mat-mdc-list-item-interactive {
    &::before {
      background: $active-base-color;
    }

    &.mdc-list-item--selected::before {
      background: $selected-color;
      opacity: mdc-ripple.states-opacity($selected-color, selected);
    }

    &:focus::before {
      opacity: mdc-ripple.states-opacity($active-base-color, focus);
    }
  }

  // MDC still shows focus/selected state if the item is disabled.
  // Just hover styles should not show up for disabled items.
  .mat-mdc-list-item-interactive:not(.mdc-list-item--disabled):not(.mdc-list-item--selected) {
    &:not(:focus):hover::before {
      opacity: mdc-ripple.states-opacity($active-base-color, hover);
    }
  }
}
