@use '@material/density' as mdc-density;
@use '@material/list' as mdc-list;
@use './interactive-list-theme';
@use './list-option-theme';
@use '../mdc-helpers/mdc-helpers';
@use '../../material/core/typography/typography';
@use '../../material/core/theming/theming';


// TODO: implement mat-list[dense] once density system is in master


@mixin color($config-or-theme) {
  $config: theming.get-color-config($config-or-theme);

  // MDC's state styles are tied in with their ripple. Since we don't use the MDC
  // ripple, we need to add the hover, focus and selected states manually.
  @include interactive-list-theme.private-interactive-list-item-state-colors($config);

  @include mdc-helpers.mat-using-mdc-theme($config) {
    @include mdc-list.deprecated-without-ripple($query: mdc-helpers.$mat-theme-styles-query);

    .mat-mdc-list-option {
      @include list-option-theme.private-list-option-color-override(primary);
    }
    .mat-mdc-list-option.mat-accent {
      @include list-option-theme.private-list-option-color-override(secondary);
    }
    .mat-mdc-list-option.mat-warn {
      @include list-option-theme.private-list-option-color-override(error);
    }
  }
}

@mixin density($config-or-theme) {
  $density-scale: theming.get-density-config($config-or-theme);
  $height: mdc-density.prop-value(
    $density-config: mdc-list.$deprecated-single-line-density-config,
    $density-scale: $density-scale,
    $property-name: height,
  );

  // MDC list provides a mixin called `mdc-list-single-line-density`, but we cannot use
  // that mixin, as the generated generated density styles are scoped to
  // `.mdc-deprecated-list-item`, while the styles should actually only affect single-line list
  // items. This has been reported as a bug in the MDC repository:
  // https://github.com/material-components/material-components-web/issues/5737.
  .mat-mdc-list-item-single-line {
    @include mdc-list.deprecated-single-line-height($height);
  }

  @include list-option-theme.private-list-option-density-styles($density-scale);
}

@mixin typography($config-or-theme) {
  $config: typography.private-typography-to-2018-config(
      theming.get-typography-config($config-or-theme));
  @include mdc-helpers.mat-using-mdc-typography($config) {
    @include mdc-list.deprecated-without-ripple($query: mdc-helpers.$mat-typography-styles-query);
    @include list-option-theme.private-list-option-typography-styles();
  }
}

@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'mat-mdc-list') {
    $color: theming.get-color-config($theme);
    $density: theming.get-density-config($theme);
    $typography: theming.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
