@use '@material/checkbox' as mdc-checkbox;
@use '@material/list/evolution-variables' as mdc-list-variables;
@use '../mdc-helpers/mdc-helpers';
@use '../../cdk/a11y';
@use './list-option-trailing-avatar-compat';

// For compatibility with the non-MDC list, we support avatars that are shown at the end
// of the list option. We create a class similar to MDC's `--trailing-icon` one.
@include list-option-trailing-avatar-compat.core-styles($query: mdc-helpers.$mat-base-styles-query);

.mat-mdc-list-option {
  // The MDC-based list-option uses the MDC checkbox for the selection indicators.
  // We need to ensure that the checkbox styles are not included for the list-option.
  @include mdc-checkbox.without-ripple(
    $query: mdc-helpers.$mat-base-styles-without-animation-query);

  &:not(._mat-animation-noopable) {
    @include mdc-checkbox.without-ripple($query: animation);
  }

  // The internal checkbox is purely decorative, but because it's an `input`, the user can still
  // focus it by tabbing or clicking. Furthermore, `mat-list-option` has the `option` role which
  // doesn't allow a nested `input`. We use `display: none` both to remove it from the tab order
  // and to prevent focus from reaching it through the screen reader's forms mode. Ideally we'd
  // remove the `input` completely, but we can't because MDC uses a `:checked` selector to
  // toggle the selected styles.
  .mdc-checkbox__native-control {
    display: none;
  }
}

@include a11y.high-contrast(active, off) {
  // In single selection mode, the selected option is indicated by changing its
  // background color, but that doesn't work in high contrast mode. We add an
  // alternate indication by rendering out a circle.
  .mat-mdc-list-option.mdc-list-item--selected::after {
    $size: 10px;
    content: '';
    position: absolute;
    top: 50%;
    right: mdc-list-variables.$side-padding;
    transform: translateY(-50%);
    width: $size;
    height: 0;
    border-bottom: solid $size;
    border-radius: $size;
  }

  [dir='rtl'] .mat-mdc-list-option.mdc-list-item--selected::after {
    right: auto;
    left: mdc-list-variables.$side-padding;
  }
}
