@use '@material/list/evolution-mixins' as mdc-list;
@use '../mdc-helpers/mdc-helpers';
@use '../../material/core/style/layout-common';

@include mdc-list.without-ripple($query: mdc-helpers.$mat-base-styles-query);

// MDC expects the list element to be a `<ul>`, since we use `<mat-list>` instead we need to
// explicitly set `display: block`
.mat-mdc-list-base {
  display: block;
}

// MDC expects that the list items are always `<li>`, since we actually use `<button>` in some
// cases, we need to make sure it expands to fill the available width.
.mat-mdc-list-item,
.mat-mdc-list-option {
  width: 100%;
  box-sizing: border-box;
}

// MDC doesn't have list dividers, so we use mat-divider and style appropriately.
// TODO(devversion): check if we can use the MDC dividers.
.mat-mdc-list-item,
.mat-mdc-list-option {
  .mat-divider-inset {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .mat-mdc-list-avatar ~ .mat-divider-inset {
    margin-left: 72px;

    [dir='rtl'] & {
      margin-right: 72px;
    }
  }
}

// MDC's hover and focus state styles are included with their ripple which we don't use.
// Instead we add the focus, hover and selected styles ourselves using this pseudo-element
.mat-mdc-list-item-interactive::before {
  @include layout-common.fill();
  content: '';
  opacity: 0;
}

// MDC always sets the cursor to `pointer`. We do not want to show this for non-interactive
// lists. See: https://github.com/material-components/material-components-web/issues/6443
.mat-mdc-list-non-interactive .mdc-list-item {
  cursor: default;
}

// The MDC-based list items already use the `::before` pseudo element for the standard
// focus/selected/hover state. Hence, we need to have a separate list-item spanning
// element that can be used for strong focus indicators.
.mat-mdc-list-item > .mat-mdc-focus-indicator {
  @include layout-common.fill();
  pointer-events: none;
}

// If there are projected lines, we project any remaining content into the list-item's end
// container and set the `--with-trailing-meta` class. If this container is empty due to no
// projected content though, we want to hide the element because otherwise the empty container
// would take up horizontal space. There is no good way to check for remaining projected content
// in the template, so we just use CSS with the `:empty` selector. Note that we need increased
// specificity here because MDC overrides the `display` with the `--trailing-meta` class too.
.mat-mdc-list-item.mdc-list-item--with-trailing-meta > .mdc-list-item__end:empty {
  display: none;
}

// Unset MDC's styles for wrapping secondary text in three-line lists. MDC implements three-line
// lists in a way where they assume that the second list line should wrap into the third line.
// This is different to the three-line list variant we want to support. We support a dedicated
// third line that can be controlled by consumers using a third `matLine` span.
// https://github.com/material-components/material-components-web/blob/master/packages/mdc-list/_evolution-mixins.scss#L199.
// TODO: Consider removing once MDC supports the various three-line list variants.
.mat-mdc-list-item.mdc-list-item--with-three-lines .mdc-list-item__secondary-text {
  white-space: nowrap;
  line-height: normal;
}
