{
  "name": "angular.dev",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "NG_BUILD_PARALLEL_TS=0 ng serve",
    "build": "ng build",
    "watch": "ng build --watch --configuration development"
  },
  "private": true,
  "dependencies": {
    "@angular/common": "^17.0.0-rc.1",
    "@angular/compiler": "^17.0.0-rc.1",
    "@angular/core": "^17.0.0-rc.1",
    "@angular/platform-browser": "^17.0.0-rc.1",
    "rxjs": "~7.8.0",
    "tslib": "^2.3.0",
    "zone.js": "~0.14.0"
  },
  "devDependencies": {
    "@angular-devkit/build-angular": "^17.0.0-rc.2",
    "@angular/cli": "^17.0.0-rc.2",
    "@angular/compiler-cli": "^17.0.0-rc.1",
    "typescript": "~5.2.0"
  }
}
