<ngx-charts-line-chart
  *ngIf="chartData.length"
  [scheme]="colorScheme"
  [results]="chartData"
  [gradient]="false"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [showGridLines]="true"
  [timeline]="true"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="true">
</ngx-charts-line-chart>

<mat-spinner *ngIf="!chartData.length" class="panel-loading-indicator"
             [diameter]="50"
             [strokeWidth]="5">
</mat-spinner>
