@use '../../constants' as *;
@use '~@angular/material/theming' as *;

@mixin layout-global-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  html,
  body,
  .content {
    background: if($is-dark-theme, mat-color($background, background), $white);
  }
}
