<div class="tax-return">
  <div class="msg" [class.canceled]="message==='Canceled'">{{message}}</div>
  <fieldset>
    <span  id=name>{{taxReturn.name}}</span>
    <label id=tid>TID: {{taxReturn.tid}}</label>
  </fieldset>
  <fieldset>
    <label>
      Income: <input [(ngModel)]="taxReturn.income" class="num">
    </label>
  </fieldset>
  <fieldset>
    <label>Tax: {{taxReturn.tax}}</label>
  </fieldset>
  <fieldset>
    <button (click)="onSaved()">Save</button>
    <button (click)="onCanceled()">Cancel</button>
    <button (click)="onClose()">Close</button>
  </fieldset>
</div>
