.mat-mdc-select {
  padding: 4px;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.select-example ::ng-deep.mat-select-value {
  color: darkblue;
}


.mat-mdc-select-panel {
  padding: 4px;

  .mat-mdc-option {
    padding: 4px;
  }
}
