<section class="class-overview api-section">
  <h2>Properties and Methods</h2>
  <div class="api-doc-code">

  <table class="api-table">
      <thead>
      <tr>
        <th colspan="2">{$ doc.name $} Properties</th>
      </tr>
      </thead>
      <tbody>
        
      <!-- STATISTICS -->
      {% if doc.statics.length %}
        {% for member in doc.statics %}{% if not member.internal %}>
          <tr class="statics">
            <th>
              <pre>
                <code><a class="code-anchor" href="#{$ member.name $}-anchor">{$ member.name $}</a></code>
              </pre>
            </th>
            <td>
              <pre class="prettyprint">
                <code>
                  {$ params.paramList(member.parameters) | indent(8, false) | trim $}{$ params.returnType(member.returnType) $}
                </code>
              </pre>
            </td>
          </tr>
        {% endif %}{% endfor %}
      {% endif %}

      <!-- CONSTRUCTOR -->
      {% if doc.constructorDoc.name %}
        <tr class="constructor">
          <th>
            <pre class="prettyprint">
              <code><a class="code-anchor" href="#constructor">{$ doc.constructorDoc.name $}</a></code>
            </pre>
          </th>
          <td>
            <pre>
              <code>{$ params.paramList(member.parameters) | indent(8, false) | trim $}{$ params.returnType(member.returnType) $}</code>
            </pre>
          </td>
        </tr>
      {% endif %}

      <!-- MEMBERS -->
      {% if doc.members.length %}
        {% for member in doc.members %}{% if not member.internal %}
          <tr class="members">
            <th>
              <pre class="prettyprint">
                <code>
                  <a class="code-anchor" href="#{$ member.name $}-anchor">{$ member.name | indent(6, false) | trim $}</a>
                </code>
              </pre>
            </th>
            <td>
              <pre>
                <code>
                  {$ params.paramList(member.parameters) | indent(8, false) | trim $}{$ params.returnType(member.returnType) $}
                </code>
              </pre>
            </td>
          </tr>
        {% endif %}{% endfor %}
    {% endif %}
    </tbody>
    </table>

  </div>

</section>