<section class="class-overview api-section">
  <h2>Properties and Methods</h2>
  <div class="api-doc-code">

  <table class="api-table">
      <thead>
      <tr>
        <th colspan="2">{$ doc.name $} Properties and Methods</th>
      </tr>
      </thead>
      <tbody>

      <!-- STATICS -->
      {% if doc.statics.length %}
        {% for member in doc.statics %}{% if not member.internal %}>
        <tr class="statics">
          <th>
            <code><a class="code-anchor" href="#{$ member.name $}">{$ member.name $}</a></code>
          </th>
          <td>
            <code>{$ params.paramList(member.parameters) | indent(8, false) | trim $}{$ params.returnType(member.returnType) $}</code>
          </td>
        </tr>
        {% endif %}{% endfor %}
      {% endif %}

      <!-- CONSTRUCTOR -->
      {% if doc.constructorDoc %}
        <tr class="constructor">
          <th>
            <code><a class="code-anchor" href="#constructor">{$ doc.constructorDoc.name $}</a></code>
            </pre>
          </th>
          <td>
            <code>{$ params.paramList(doc.constructorDoc.parameters) | indent(8, false) | trim $}{$ params.returnType(doc.constructorDoc.returnType) $}</code>
          </td>
        </tr>
      {% endif %}

      <!-- MEMBERS -->
      {% if doc.members.length %}
        {% for member in doc.members %}{% if not member.internal %}
        <tr class="members">
          <th>
            <code><a class="code-anchor" href="#{$ member.name $}-anchor">{$ member.name | indent(6, false) | trim $}</a></code>
          </th>
          <td>
            <code>{$ params.paramList(member.parameters) | indent(8, false) | trim $}{$ params.returnType(member.returnType) $}</code>
          </td>
        </tr>
        {% endif %}{% endfor %}
    {% endif %}
    </tbody>
    </table>
  </div>
</section>