{% import "lib/githubLinks.html" as github -%}

<!-- INFO BAR -->
<div class="info-banner api-info-bar">
  <span class="info-bar-item">
    npm package: <code>@angular/{$ doc.moduleDoc.id $}</code>
  </span>

  <!-- We need to work out what NgModule contains this doc -->
  {% if doc.ngModule %}
  <span class="info-bar-item">
    NgModule: <a href="doc.ngModule.path">doc.ngModule.name</a>
  </span>
  {% endif %}

  <span class="info-bar-item">
    {$ github.githubViewLink(doc, versionInfo) $}
  </span>
</div>