{% if doc.inputs %}
<section class="inputs api-section">
  <div class="api-section-header">
    <h2>Inputs</h2>
  </div>
  <div class="api-section-content">
    {% for binding, property in doc.inputs %}
    <div class="input">
      <code>{$ property.bindingName $}</code>&nbsp;bound to&nbsp;<code>{$ property.memberDoc.classDoc.name $}.{$ property.propertyName $}</code>
      {$ property.memberDoc.description | trimBlankLines | marked $}
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
