<!-- **** This is being duplicated - already in class overview content **** -->

<!--{% if doc.members.length %}
<div class="instance-members api-section">
  <h2>Class Details</h2>
  {% for member in doc.members %}{% if not member.internal %}
  <div class="instance-member">
    <a name="{$ member.name $}-anchor" class="anchor-offset"></a>
    <pre class="prettyprint no-bg" ng-class="{ 'anchor-focused': appCtrl.isApiDocMemberFocused('{$ member.name $}') }">
    <code>{$ member.name $}{$ params.paramList(member.parameters) | trim $}{$ params.returnType(member.returnType) $}</code>
    </pre>
    {%- if not member.notYetDocumented %}
    {$ member.description | replace('### Example', '') | replace('## Example', '') | replace('# Example', '') | trimBlankLines | marked $}
    {% endif -%}
  </div>
  {% if not loop.last %}<hr class="hr-margin">{% endif %}
  {% endif %}{% endfor %}
</div>
{% endif %}-->
