{% if doc.members.length %}
<div class="meta-data api-section">
  <h2>Metadata Properties</h2>
    {% for metadata in doc.members %}{% if not metadata.internal %}
    <div class="metadata-member">
      <a name="{$ metadata.name $}-anchor" class="anchor-offset"></a>
      <pre>
        <code>{$ metadata.name $}{$ params.paramList(metadata.parameters) | trim $}{$ params.returnType(metadata.returnType) $}</code>
      </pre>
      {%- if not metadata.notYetDocumented %}{$ metadata.description | trimBlankLines | marked $}{% endif -%}
    </div>
    {% if not loop.last %}<hr class="hr-margin">{% endif %}
  {% endif %}{% endfor %}
</div>
{% endif %}
