{% if doc.statics.length %}
<div class="static-members api-section">
    <h2>Static Members</h2>
  {% for member in doc.statics %}{% if not member.internal %}
    <div class="static-member">
      <a name="{$ member.name $}-anchor" class="anchor-offset"></a>
      <code-example>{$ member.name $}{$ params.paramList(member.parameters) | trim $}{$ params.returnType(member.returnType) $}</code-example>
      {%- if not member.notYetDocumented %}
      {$ member.description | marked $}
      {% endif %}
    </div>

    {% if not loop.last %}
    <hr class="hr-margin">
    {% endif %}

  {% endif %}{% endfor %}
</div>
{% endif %}
