.alert {
    display: flex;
    padding: 0px 10px;
    margin: 20px 0px;
    font-size: 14px;
    color: $darkgray;
    &.is-critical {
        border-left: 10px solid $brightred;
        background-color: rgba($brightred, 0.05);
    }

    &.is-important {
        border-left: 10px solid $orange;
        background-color: rgba($orange, 0.05);
    }

    &.is-helpful {
        border-left: 10px solid $blue;
        background-color: rgba($blue, 0.05);
    }
}