.api-info-bar {
  max-width: 800px;
  text-align: left;

  span {
    margin: 0 16px 0 0;

    @media screen and (max-width: 600px) {
      display: block;
    }

  }
}

.api-heading {
  margin-top: 24px;
  margin-bottom: 18px;
  font-size: 16px;
}

.overloads .detail-contents {
  padding-top: 0;
}
