/* BANNER */

.info-banner {
    margin: 16px 0;
    justify-content: center;
    background: $white;
    border: 1px solid rgba($lightgray, 0.5);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 16px;
    background: $white;
    height: auto;
    overflow: visible;

    @media screen and (max-width: 600px) {
        text-align: center;
    }

    p, .text-body {
        color: $darkgray;
        line-height: 32px;
        margin: 0;
        text-align: center;
    }
}