.cli-name {
  font-weight: bold;

  .kwd { color: initial }  /* override code format */
}

.cli-option-syntax {
  white-space: pre;
}

.cli-deprecated {
  background-color: $brightred;;
  padding: 2px 10px;
  margin-right: 10px;
}
