code-example, code-tabs {
    clear: both;
    display: block;
}

code-example,
code-tabs md-tab-body {
  &:not(.no-box) {
    background-color: rgba($backgroundgray, 0.2);
    border: 0.5px solid $lightgray;
    border-radius: 5px;
    color: $darkgray;
    margin: 16px auto;
  }

  &.no-box {
    pre {
      margin: 0;
    }
    code {
      background-color: transparent;
    }
  }

  code {
    overflow: auto;
  }
}

// TERMINAL / SHELL TEXT STYLES

code-example.code-shell, code-example[language=sh], code-example[language=bash] {
  background-color: $darkgray;
}

code-example header {
  background-color: $accentblue;
  border-radius: 5px 5px 0 0;
  color: $offwhite;
  font-size: 16px;
  padding: 8px 16px;
}

code-example.avoid header,
code-example.avoidFile header {
  border: 2px solid $anti-pattern;
  background: $anti-pattern;
}

code-example.avoid,
code-example.avoidFile,
code-tabs.avoid md-tab-body,
code-tabs.avoidFile md-tab-body {
  border: 0.5px solid $anti-pattern;
}

code-tabs div .mat-tab-body-content {
  height: auto;
}

code-tabs .mat-tab-body-wrapper md-tab-body .mat-tab-body {
  overflow-y: hidden;
}

code-tabs mat-tab-body-content .fadeIn {
  animation: opacity 2s ease-in;
}

aio-code pre {
    display: flex;
    min-height: 32px;
    margin: 16px;
    white-space: pre-wrap;
    align-items: center;

    code span, code ol li {
      line-height: 24px;
    }
}

code ol {
  margin: 0;
  font-family: $main-font;
  color: $lightgray;

  li {
    margin: 0;
    font-family: $code-font;
    font-size: 90%;
  }
}

.code-missing {
  color: $darkred;
}

.prettyprint {
  position: relative;
}

.copy-button {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 8px;

  color: $lightgray;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    color: $mediumgray;
  }

  @media (max-width: 480px) {
    top: 0;
    right: 0;
  }
}

.lang-sh .copy-button, .lang-bash .copy-button {
  color: $mediumgray;
  &:hover {
    color: $lightgray;
  }
}

.code-tab-group div.mat-tab-body-content {
  height: auto;
  transform: none;
}

/* SCREEN COLORS */

  .pnk,
  .blk {
    border-radius: 4px;
    padding: 2px 4px;
  }
  .pnk {
    background: $blue-grey-50;
    color: $blue-grey-900;
  }
  .blk {
    background: $blue-grey-900;
  }
  .otl {
    outline: 1px solid rgba($blue-grey-700, .56);
  }
  .kwd {
    color: $darkgray;
  }
  .typ,
  .tag {
    color: $darkred;
  }
  .str,
  .atv {
    color: $blue;
  }
  .atn {
    color: $blue;
  }
  .com {
    color: $mediumgray;
  }
  .lit {
    color: $blue;
  }
  .pun {
    color: $blue-grey-700;
  }
  .pln {
    color: $green-800;
  }
  .dec {
    color: $blue;
  }

/* SHELL / TERMINAL CODE BLOCKS */

code-example.code-shell, code-example[language=sh], code-example[language=bash] {
  & .pnk, .blk,.pln, .otl, .kwd, .typ, .tag, .str, .atv, .atn, .com, .lit, .pun, .dec {
    color: $codegreen;
  }
}

/* PRINT COLORS */


@media print {
  border: none;
  box-shadow: none;

  ol {
    background: $white;
  }

  .kwd {
    color: $darkgray;
  }
  .typ,
  .tag {
    color: $darkred;
  }
  .str,
  .atv {
    color: $blue;
  }
  .atn {
    color: $blue;
  }
  .com {
    color: $mediumgray;
  }
  .lit {
    color: $blue;
  }
  .pun {
    color: $blue-grey-700;
  }
  .pln {
    color: $green-800;
  }
  .dec {
    color: $blue;
  }
}

// REMOVE RIPPLE EFFECT FROM MATERIAL TABS
code-tabs md-tab-group *.mat-ripple-element, code-tabs md-tab-group *.mat-tab-body-active, code-tabs md-tab-group *.mat-tab-body-content, code-tabs md-tab-group *.mat-tab-body-content {
  transform: none !important;
}

[role="tabpanel"] {
    transition: none;
}

.sidenav-content code a {
  color: inherit;
  font-size: inherit;
}