code-example code {
    @include codeblock($backgroundgray);
    color: $darkgray;
    width: 100%;
}

code-example[language=bash] code {
    width: 100%;
}

.prettyprint {
    margin: 24px auto;
    display: flex;
}

.prettyprint.lang-bash code {
    @include codeblock($darkgray);
    color: $codegreen;
}

.code-example pre, code-example pre {
    padding: 0px;
    white-space: pre-wrap;
}