
aio-shell.mode-archive {

  .mat-toolbar.mat-primary, footer {
    background: linear-gradient(145deg, $blue-grey-900, $blue-grey-400);
  }

  .vertical-menu-item {
    &.selected, &:hover {
      color: $blue-grey-900;
    }
  }

  .toc-inner ul.toc-list li.active a {
    color: $blue-grey-900;

    &:before {
      background-color: $blue-grey-900;
    }
  }

  .toc-inner ul.toc-list li:hover a {
    color: $blue-grey-900;
  }
}

aio-shell.mode-next {

  .mat-toolbar.mat-primary, footer {
    background: linear-gradient(145deg, $brightred, $darkred);
  }

  .vertical-menu-item {
    &.selected, &:hover {
      color: $brightred;
    }
  }

  .toc-inner ul.toc-list li.active a {
    color: $brightred;

    &:before {
      background-color: $brightred;
    }
  }

  .toc-inner ul.toc-list li:hover a {
    color: $brightred;
  }
}
