.feature-row {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0 0;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.features-desc {
  max-width: 920px;
}

.feature {
  max-width: 300px;
  margin: 0 24px 32px 0;  
}
