.filetree {
  background: $offwhite;
  box-shadow: 0 2px 2px rgba($black, 0.24), 0 0 2px rgba($black, 0.12);
  border: 2px solid $lightgray;
  margin: 0 0 24px 0;
  padding: 24px;

  .file {
    display: block;
    font-family: $main-font;
    line-height: 32px;
    color: $lightgray;
  }

  .children {
    padding-left: 24px;
    position: relative;
    overflow: hidden;

    .file {
      position: relative;

      &:before {
        content: '';
        left: -18px;
        bottom: 16px;
        width: 16px;
        height: 9999px;
        position: absolute;
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: $lightgray;
        border-radius: 0 0 0 3px;
      }
    }
  }
}