.hamburger {
  transition-duration: 150ms;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  &:hover {
    color: $lightgray;
  }
}

.hamburger.mat-button {
  height: 100%;
  margin: 0;
  padding: 0;

  &:not(.starting) {
    transition-duration: .4s;
    transition-property: color, margin;
    transition-timing-function: cubic-bezier(.25, .8, .25, 1);
  }
}

.hamburger.mat-button:hover {
  color: $offwhite;
}

.hamburger .mat-icon {
  position: inherit;
  color: white;
}
