.sidenav-content {
  h1, h2, h3, h4, h5, h6 {

    &.no-anchor .header-link {
      display: none;
    }

    .header-link {
      color: $mediumgray;
      display: inline-block;
      margin-left: -42px;
      padding: 0 8px;
      text-decoration: none;
      vertical-align: middle;
      visibility: hidden;

      @media (max-width: 600px) {
        float: right;
        margin-left: 0;
      }
    }

    &:hover .header-link {
      visibility: visible;
    }
  }

  .l-sub-section {
    h1, h2, h3, h4, h5, h6 {
      a {
        padding-right: 24px;
        margin-left: -74px;
      }
    }
  }

  .alert {
    h1, h2, h3, h4, h5, h6 {
      a {
        padding-right: 40px;
        margin-left: -90px;
      }
    }
  }
}
