.sidenav-content {
  h1, h2, h3, h4, h5, h6 {

    .header-link {
      height: 24px;
      color: $mediumgray;
      margin: 0 6px;
      text-decoration: none;
      user-select: none;
      visibility: hidden;
      display: inline-block;
      vertical-align: text-top;
    }

    &:hover .header-link {
      visibility: visible;
      position: absolute;
    }
  }

  h1 .header-link {
    top: 16px;
  }

  h2 .header-link {
    top: 50px;
  }

  h3 .header-link {
    top: 4px;
  }
}
