
.image-display {
  border-radius: 4px;
  background: $white;
  padding: 20px;
  display: inline-block;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .2);
  margin: 0px 0px 10px 0px;

  img {
    border-radius: 4px;
    display: inline-block;
    max-width: 100%;
  }
}