.presskit-container {
  padding: 0 32px 32px 32px;

  .presskit-group {
    display: flex;
    flex-wrap: wrap;
  }

  .presskit-item {
    width: 50%;
    min-width: 400px;

    &:first-child {
      margin-top: 0;

      @media(max-width: 599px) {
        margin-top: 24px;
      }
    }

    @media screen and (max-width: 600px) {
      display: flex;
      margin-bottom: 2rem;
    }

    .presskit-inner {
      display: flex;
      align-items: center;
      margin-right: 1rem;

      @media(max-width: 600px) {
        flex-direction: column;
      }

      a {
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
          margin-left: 0.5rem;
        }
      }

      .transparent-img-bg {
        margin-top: 10px;
        border-radius: 100%;
        width: 52px;
        height: 52px;
        background-color: $deepgray;
        padding: 4px;
      }

      ul {
        padding: 0;
        list-style-type: none;

        @media(max-width: 600px) {
          padding: 0 !important;
          margin: 0 !important;
        }
      }
    }

    .presskit-image-container {
      margin-right: 2rem;

      @media(max-width: 599px) {
        width: 100%;
        margin-right: 0;
      }

      img {
        height: 60px;
        width: auto;
      }
    }
  }
}
