aio-resource-list {
  .showcase {
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 4px 0 rgba($black, 0.37);
    border-radius: 4px;
    margin-bottom: 8px * 6;
  }

  .resource-item {
    h4 {
      margin: 0;
      @include line-height(24);
    }

    p {
      margin: 0;
    }
  }

  .subcategory-title {
    padding: 16px 23px;
    margin: 0;
    background-color: $mist;
  }

  .resource-row-link {
    display: flex;
    flex-direction: column;
    border: transparent solid 1px;
    padding: 16px 23px 16px 23px;
    transition: all .3s;

    &:hover {
      text-decoration: none;
      border-color: rgba($blue, 0.5);
      border-radius: 4px;
      box-shadow: 0 8px 8px rgba(1, 67, 163, .24), 0 0 8px rgba(1, 67, 163, .12), 0 6px 18px rgba(43, 133, 231, .12);
      transform: translateY(-2px);
    }
  }
}
