body::-webkit-scrollbar {
    width: 6px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: $mediumgray;
  outline: 1px solid $darkgray;
}

.search-results::-webkit-scrollbar {
    width: 4px;
}
 
.search-results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.search-results::-webkit-scrollbar-thumb {
  background-color: $mediumgray;
  outline: 1px solid slategrey;
}