table {
  margin: 24px 0px;
  box-shadow: 0 2px 2px rgba($black, 0.24), 0 0 2px rgba($black, 0.12);
  border-radius: 2px;
  background: $offwhite;

  &.is-full-width {
    width: 100%;
  }

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }

    th {
      background: $offwhite;
      border-bottom: 1px solid $lightgray;
      color: $darkgray;
      font-size: 12px;
      font-weight: 500;
      padding: 8px 32px;
      text-align: left;
      text-transform: uppercase;
    }
  }

  tbody {
    th,
    td {
      border-bottom: 1px solid $lightgray;
      padding: 16px 24px;
      text-align: left;
      line-height: 24px;

      @media (max-width: 480px) {
        &:before {
          // content: **ADD TABLE HEADER**;
          display: inline-block;
        }
      }

    }

    td {
      letter-spacing: 0.30px;

      @media (max-width: 480px) {
        display: block;
      }

    tr td:first-child {
      @media (max-width: 480px) {
        background-color: $lightgray;
      }
    }
      
    }

    th {
      background: $offwhite;
      border-right: 1px solid $lightgray;
      font-weight: 600;
      max-width: 100px;

      @media (max-width: 480px) {
        display: none;
      }
    }

    tr:last-child td {
      border: none;

      @media (max-width: 480px) {
        border-bottom: 1px solid $lightgray;
      }

    }
  }
}