$tocItemLineHeight: 24;
$tocItemTopPadding: 9;
$tocMarkerRailSize: 1;
$tocMarkerSize: 6;

@mixin tocMarker($color) {
  background: $color;
  border-radius: 50%;
  content: '';
  height: #{$tocMarkerSize}px;
  left: -#{($tocMarkerSize - $tocMarkerRailSize) / 2}px;
  position: absolute;
  top: calc(#{$tocItemTopPadding}px + #{$tocItemLineHeight / 2}px - #{$tocMarkerSize / 2}px);
  top: calc(#{$tocItemTopPadding}px + #{$tocItemLineHeight / 2 / 10}rem - #{$tocMarkerSize / 2}px);
  width: #{$tocMarkerSize}px;
}

.toc-container {
  width: 18%;
  position: fixed;
  top: 76px;
  right: 0;
  bottom: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}

aio-toc {
  .toc-inner {
    @include font-size(13);
    overflow-y: visible;
    padding: 4px 0 0 10px;

    .toc-heading,
    .toc-list .h1 {
      @include font-size(16);
    }

    .toc-heading {
      font-weight: 500;
      margin: 0 0 16px 8px;
      padding: 0;

      &.secondary {
        position: relative;
        top: -8px;

        &:hover {
          color: $accentblue;
        }
      }
    }

    button {
      &.toc-heading,
      &.toc-more-items {
        cursor: pointer;
        display: inline-block;
        background: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        text-align: start;

        &.embedded:focus {
          outline: none;
          background: $lightgray;
        }
      }

      &.toc-heading {
        mat-icon.rotating-icon {
          height: 18px;
          width: 18px;
          position: relative;
          left: -4px;
          top: 5px;
        }

        &:hover:not(.embedded) {
          color: $accentblue;
        }
      }

      &.toc-more-items {
        color: $mediumgray;
        top: 10px;
        position: relative;

        &:hover {
          color: $accentblue;
        }

        &::after {
          content: 'expand_less';
        }

        &.collapsed::after {
          content: 'more_horiz';
        }
      }
    }

    .mat-icon {
      &.collapsed {
        @include rotate(0deg);
      }

      &:not(.collapsed) {
        @include rotate(90deg);
      }
    }

    ul.toc-list {
      list-style-type: none;
      margin: 0;
      padding: 0 8px 0 0;

      @media (max-width: 800px) {
        width: auto;
      }

      li {
        box-sizing: border-box;
        @include line-height($tocItemLineHeight);
        padding: #{$tocItemTopPadding}px 0 #{$tocItemTopPadding}px 12px;
        position: relative;
        transition: all 0.3s ease-in-out;

        &.h1:after {
          content: '';
          display: block;
          height: 1px;
          width: 40%;
          margin: 7px 0 4px 0;
          background: $lightgray;
          clear: both;
        }

        &.h3 {
          padding-left: 24px;
        }

        a {
          color: lighten($darkgray, 10);
          overflow: visible;
          @include font-size(14);
          line-height: inherit;
          display: table-cell;
        }

        &:hover {
          * {
            color: $accentblue;
          }
        }

        &.active {
          * {
            color: $blue;
            font-weight: 500;
          }

          a:before {
            @include tocMarker($blue);
          }
        }
      }

      &:not(.embedded) li {
        &:before {
          border-left: #{$tocMarkerRailSize}px solid $lightgray;
          bottom: 0;
          content: '';
          left: 0;
          position: absolute;
          top: 0;
        }

        &:first-child:before {
          top: calc(#{$tocItemTopPadding}px + #{$tocItemLineHeight / 2}px - #{$tocMarkerSize / 2}px);
          top: calc(#{$tocItemTopPadding}px + #{$tocItemLineHeight / 2 / 10}rem - #{$tocMarkerSize / 2}px);
        }

        &:last-child:before {
          bottom: calc(100% - (#{$tocItemTopPadding}px + #{$tocItemLineHeight / 2}px + #{$tocMarkerSize / 2}px));
          bottom: calc(100% - (#{$tocItemTopPadding}px + #{$tocItemLineHeight / 2 / 10}rem + #{$tocMarkerSize / 2}px));
        }

        &:not(.active):hover {
          a:before {
            @include tocMarker($lightgray);
          }
        }
      }
    }
  }

  // Alternative TOC View for Smaller Screens
  &.embedded {
    @media (min-width: 801px) {
      display: none;
    }

    .toc-inner {
      padding: 12px 0 0 0;

      .toc-heading {
        margin: 0 0 8px;
      }

      &.collapsed {
        .secondary {
          display: none;
        }
      }
    }
  }
}
