@import '../theming/theming';

/// Mixin that turns on strong focus indicators.
///
/// @example
///   .my-app {
///     @include mat-strong-focus-indicators();
///   }

@mixin mat-strong-focus-indicators() {
  // Reference to the root selector, used to simplify the nested selectors
  // in this mixin.
  $root-selector: #{&};

  // Border width of the focus indicators.
  $border-width: 2px;

  @at-root .mat-focus-indicator {
    // Base styles for the focus indicators.
    #{$root-selector} &::before {
      border: $border-width solid transparent;
      border-radius: 4px;
      box-sizing: border-box;
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    
    // By default, all focus indicators are flush with the bounding box of their
    // host element. For particular elements (listed below), default inset/offset
    // values are necessary to ensure that the focus indicator is sufficiently
    // contrastive and renders appropriately.

    #{$root-selector} &.mat-button-base::before,
    #{$root-selector} &.mat-card::before,
    #{$root-selector} &.mat-sort-header-button::before {
      margin: $border-width * -2;
    }

    #{$root-selector} &.mat-calendar-body-cell::before {
      margin: $border-width * -1;
    }

    #{$root-selector} &.mat-tab-link::before,
    #{$root-selector} &.mat-tab-label::before {
      margin: $border-width * 2;
    }

    // Render the focus indicator on focus. Defining a pseudo element's
    // content will cause it to render.
    
    // For checkboxes, radios, and slide toggles, render the focus indicator
    // when the class .cdk-focused is present.
    #{$root-selector} .cdk-focused.mat-checkbox &::before,
    #{$root-selector} .cdk-focused.mat-radio-button &::before,
    #{$root-selector} .cdk-focused.mat-slide-toggle &::before,

    // For options, render the focus indicator when the class .mat-active
    // is present.
    #{$root-selector} &.mat-active.mat-option::before,

    // For all other components, render the focus indicator on focus.
    #{$root-selector} &:focus::before {
      content: '';
    }      
  }
}

/// Mixin that sets the color of the focus indicators.
///
/// @param {color|map} $themeOrMap
///   If theme, focus indicators are set to the primary color of the theme. If
///   color, focus indicators are set to that color.
///
/// @example
///   .demo-dark-theme {
///     @include mat-strong-focus-indicators-theme($darkThemeMap);
///   }
///
/// @example
///   .demo-red-theme {
///     @include mat-strong-focus-indicators-theme(#F00);
///   }

@mixin mat-strong-focus-indicators-theme($themeOrColor) {
  .mat-focus-indicator::before {
    border-color: if(
      type-of($themeOrColor) == 'map',
      mat-color(map_get($themeOrColor, primary)),
      $themeOrColor);
  }
}
