.demo-rotini {
  padding: 10px;
  border: 1px solid black;
  background-color: skyblue;
}

.demo-fusilli {
  padding: 10px;
  border: 1px solid black;
  background-color: lightgoldenrodyellow;
}

.demo-spagetti {
  margin: 0;
  padding: 10px;
  border: 1px solid black;
  color: white;
  background-color: rebeccapurple;
  opacity: 0.5;
}

.demo-tortellini {
  margin: 0;
  padding: 10px;
  border: 1px solid black;
  color: white;
  background-color: orangered;
  opacity: 0.5;
}

.demo-keyboard {
  margin: 0;
  padding: 10px;
  border: 1px solid black;
  background-color: mediumturquoise;
  opacity: 0.7;
}
