<div class="md-tab-header" role="tablist"
     (keydown)="handleKeydown($event)">
  <div class="md-tab-label" role="tab" md-tab-label-wrapper
       *ngFor="let tab of _tabs; let i = index"
       [id]="_getTabLabelId(i)"
       [tabIndex]="selectedIndex == i ? 0 : -1"
       [attr.aria-controls]="_getTabContentId(i)"
       [attr.aria-selected]="selectedIndex == i"
       [class.md-active]="selectedIndex == i"
       (click)="focusIndex = selectedIndex = i">
    <template [portalHost]="tab.label"></template>
  </div>
  <md-ink-bar></md-ink-bar>
</div>
<div class="md-tab-body-wrapper">
  <div class="md-tab-body"
       role="tabpanel"
       *ngFor="let tab of _tabs; let i = index"
       [id]="_getTabContentId(i)"
       [class.md-active]="selectedIndex == i"
       [attr.aria-labelledby]="_getTabLabelId(i)">
    <template [ngIf]="selectedIndex == i">
      <template [portalHost]="tab.content"></template>
    </template>
  </div>
</div>
