@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$blue-palette);
$accent: mat.define-palette(mat.$grey-palette);
$theme: mat.define-light-theme((
  color: (primary: $primary, accent: $accent),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.core();

@include mat.all-legacy-component-themes($theme);
@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
