<section>
  <h2>Basic input box (e.g. name field)</h2>
  <md-form-field floatPlaceholder="never">
    <input mdInput placeholder="First name" [(ngModel)]="firstName">
  </md-form-field>
  <md-form-field floatPlaceholder="never">
    <input mdInput placeholder="Last name" [(ngModel)]="lastName">
  </md-form-field>
</section>

<section>
  <h2>Input with hint (e.g. password field)</h2>
  <md-form-field hideRequiredMarker>
    <input mdInput [type]="passwordType" placeholder="Password" [(ngModel)]="password" required
           #passwordModel="ngModel">
    <button md-icon-button mdSuffix [attr.aria-label]="passwordToggleLabel"
            (click)="showPassword = !showPassword">
      <md-icon>{{passwordToggleIcon}}</md-icon>
    </button>
    <md-hint>Hint: favorite color</md-hint>
    <md-error *ngIf="passwordModel.hasError('required')">You must enter your password.</md-error>
  </md-form-field>
</section>

<section>
  <h2>Input with error message (e.g. email field)</h2>
  <md-form-field>
    <input mdInput type="email" placeholder="Email" [(ngModel)]="email" required email
           #emailModel="ngModel">
    <md-error *ngIf="emailModel.hasError('required')">You must enter your email.</md-error>
    <md-error *ngIf="emailModel.hasError('email')">Not a valid email address.</md-error>
  </md-form-field>
</section>

<section>
  <h2>Input with prefix & suffix (e.g. currency converter)</h2>
  <md-form-field floatPlaceholder="always">
    <input mdInput type="number" placeholder="USD" [(ngModel)]="usd">
    <span mdPrefix>$</span>
  </md-form-field>
  =
  <md-form-field floatPlaceholder="always">
    <input mdInput type="number" placeholder="JPY" [(ngModel)]="jpy">
    <span mdPrefix>‎¥‎</span>
  </md-form-field>
  (as of 7/31/2017)
</section>

<section>
  <h2>Textarea input (e.g.  comment box)</h2>
  <md-form-field>
    <textarea mdInput aria-label="Comment" [(ngModel)]="comment" mdTextareaAutosize
              [maxlength]="commentMax" #commentModel="ngModel"></textarea>
    <md-hint>Leave us a comment!</md-hint>
    <md-hint align="end">{{commentCount}}/{{commentMax}}</md-hint>
  </md-form-field>
</section>
