# boilerplate files
**/src/styles.css
**/src/systemjs-angular-loader.js
**/src/systemjs.config.js
**/src/tsconfig.json
**/bs-config.e2e.json
**/bs-config.json
**/package.json
**/tslint.json
**/karma.conf.js
**/karma-test-shim.js
**/browser-test-shim.js
**/node_modules

# built files
*.map
_test-output
protractor-helpers.js
*/e2e-spec.js
**/*.js
**/ts/**/*.js
**/js-es6*/**/*.js
dist/


# special
!/*
!*.1.*
!*.2.*
!*.3.*
*.1.js
*.2.js
*.3.js
*.1.js.map
*.2.js.map
*.3.js.map
!systemjs.config.*.js
!karma-test-shim.*.js
!copy-dist-files.js

# AngularJS files
!**/*.ajs.js
**/app/**/*.ajs.js

# aot
**/*.ngfactory.ts
**/*.ngsummary.json
**/*.shim.ngstyle.ts
**/*.metadata.json
!aot/bs-config.json
!aot/index.html
!rollup-config.js

# testing
!testing/src/browser-test-shim.js
!testing/karma*.js

# TS to JS
!ts-to-js/js*/**/*.js
ts-to-js/js*/**/system*.js

# webpack
!webpack/**/config/*.js
!webpack/**/*webpack*.js

# styleguide
!styleguide/src/systemjs.custom.js

# plunkers
*plnkr.no-link.html
