
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sample-project-primary: mat.define-palette(mat.$indigo-palette);
$sample-project-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sample-project-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sample-project-theme: mat.define-light-theme((
  color: (
    primary: $sample-project-primary,
    accent: $sample-project-accent,
    warn: $sample-project-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sample-project-theme);
@include mat.mdc-slider-theme($sample-project-theme);
@include mat.mdc-slider-typography($sample-project-theme);
@include mat.mdc-slide-toggle-theme($sample-project-theme);
@include mat.mdc-slide-toggle-typography($sample-project-theme);
@include mat.mdc-radio-theme($sample-project-theme);
@include mat.mdc-radio-typography($sample-project-theme);
@include mat.mdc-progress-spinner-theme($sample-project-theme);
@include mat.mdc-progress-spinner-typography($sample-project-theme);
@include mat.mdc-progress-bar-theme($sample-project-theme);
@include mat.mdc-progress-bar-typography($sample-project-theme);
@include mat.mdc-paginator-theme($sample-project-theme);
@include mat.mdc-paginator-typography($sample-project-theme);
@include mat.mdc-dialog-theme($sample-project-theme);
@include mat.mdc-dialog-typography($sample-project-theme);
@include mat.mdc-checkbox-theme($sample-project-theme);
@include mat.mdc-checkbox-typography($sample-project-theme);
@include mat.mdc-card-theme($sample-project-theme);
@include mat.mdc-card-typography($sample-project-theme);
@include mat.mdc-button-theme($sample-project-theme);
@include mat.mdc-button-typography($sample-project-theme);
@include mat.mdc-fab-theme($sample-project-theme);
@include mat.mdc-fab-typography($sample-project-theme);
@include mat.mdc-icon-button-theme($sample-project-theme);
@include mat.mdc-icon-button-typography($sample-project-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
