.demo-autocomplete {
  display: flex;
  flex-flow: row wrap;

  .mat-card {
    width: 400px;
    margin: 24px;
  }

  .mat-input-container {
    margin-top: 16px;
  }
}

.demo-secondary-text {
  color: rgba(0, 0, 0, 0.54);
  margin-left: 8px;
}
