@import '../mdc-theming/all-theme';

@mixin angular-material-mdc-typography($config-or-theme: null) {
  $config: if(_mat-is-theme-object($config-or-theme),
      mat-get-typography-config($config-or-theme), $config-or-theme);

  // If no actual color configuration has been specified, create a default one.
  @if $config == null {
    $config: mat-typography-config();
  }

  @include angular-material-mdc-theme((
    color: null,
    density: null,
    typography: $config,
  ));
}
