@use 'sass:map';
@use '@material/elevation/elevation-theme' as mdc-elevation;

// Prefix for elevation-related selectors.
$prefix: 'mat-mdc-elevation-z';

// The default color for elevation shadows.
$color: black !default;

// Applies the correct css rules to an element to give it the elevation specified by $zValue.
// The $zValue must be between 0 and 24.
@mixin elevation($zValue, $color: $color) {
  @include mdc-elevation.elevation($zValue, $color);
}

// Applies the elevation to an element in a manner that allows
// consumers to override it via the Material elevation classes.
@mixin overridable-elevation($zValue, $color: $color) {
  &:not([class*='#{$prefix}']) {
    @include elevation($zValue, $color);
  }
}

@mixin private-theme-elevation($zValue, $config) {
  $foreground: map.get($config, foreground);
  $elevation-color: map.get($foreground, elevation);
  $elevation-color-or-default: if($elevation-color == null, $color, $elevation-color);

  @include elevation($zValue, $elevation-color-or-default);
}

@mixin private-theme-overridable-elevation($zValue, $config) {
  $foreground: map.get($config, foreground);
  $elevation-color: map.get($foreground, elevation);
  $elevation-color-or-default: if($elevation-color == null, $color, $elevation-color);

  @include overridable-elevation($zValue, $elevation-color-or-default);
}
