<mat-form-field>
  <mat-label>{{label}}</mat-label>
  <mat-select [disabled]="disabled" [(value)]="selectedIdx" (valueChange)="select($event)">
    <mat-select-trigger>
      <span *ngIf="showSymbol" class="symbol {{selected?.value}}"></span><span>{{selected?.title}}</span>
    </mat-select-trigger>
    <mat-option *ngFor="let option of options; index as i" [value]="i">
      <span *ngIf="showSymbol" class="symbol {{option.value}}"></span><span>{{option.title}}</span>
    </mat-option>
  </mat-select>
</mat-form-field>
