/************************************

             Media queries

 To use these, put this snippet in the approriate selector:

     @include bp(tiny) {
         background-color: purple;
     }

     Replace "tiny" with "medium" or "big" as necessary.
*************************************/

@mixin bp($point) {

  $bp-xsmall: "(min-width: 320px)";
  $bp-teeny: "(min-width: 480px)";
  $bp-tiny: "(min-width: 600px)";
  $bp-small: "(min-width: 650px)";
  $bp-medium: "(min-width: 800px)";
  $bp-big: "(min-width: 1000px)";

  @if $point == big {
    @media #{$bp-big} { @content; }
  }
  @else if $point == medium {
    @media #{$bp-medium} { @content; }
  }
  @else if $point == small {
    @media #{$bp-small}  { @content; }
  }
  @else if $point == tiny {
    @media #{$bp-tiny}  { @content; }
  }
  @else if $point == teeny {
    @media #{$bp-teeny}  { @content; }
  }
  @else if $point == xsmall {
    @media #{$bp-xsmall}  { @content; }
  }
}

/************************************/

.vertical-menu-item {
  box-sizing: border-box;
  color: #545454;
  cursor: pointer;
  display: block;
  max-width: 260px;
  overflow-wrap: break-word;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  text-align: left;
  transition-duration: 180ms;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  width: 100%;
  word-wrap: break-word;

  &:hover {
    background-color: #ddd;
    text-shadow: 0px 0px 5px #ffffff;
  }

  //icons _within_ nav
  .material-icons {
    position: absolute;
    top: 6px;
  }

  @include bp(tiny) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

.vertical-menu-item.selected {
  color:#018494;
}

.heading {
  color: #444;
  cursor: pointer;
  font-size: .85rem;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

.material-icons.active {
  display: inline-block;
  position: absolute;
  top: 6px;
}

.heading-children {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.heading-children.active {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.heading.selected.level-1,
.heading-children.selected.level-1 {
  border-left: 3px #00bcd4 solid;
}

.level-2 {
  padding-left: 30px;
}

.level-3 {
  padding-left: 15px;
}

@mixin rotate($degrees) {
  -moz-transform: rotate($degrees);
  -webkit-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  transform: rotate($degrees);
  transition: transform 150ms;
  transition-timing-function: ease-in-out;
}

.level-1.active .material-icons, .level-2.active .material-icons {
  @include rotate(90deg);
}

.level-1:not(.active) .material-icons, .level-2:not(.active) .material-icons {
  @include rotate(0deg);
}
