@use '@material/tooltip/tooltip';
@import '../mdc-helpers/mdc-helpers';

@mixin mat-mdc-tooltip-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  @include mat-using-mdc-theme($config) {
    @include tooltip.core-styles($query: $mat-theme-styles-query);
  }
}

@mixin mat-mdc-tooltip-typography($config-or-theme) {
  $config: mat-get-typography-config($config-or-theme);
  @include mat-using-mdc-typography($config) {
    @include tooltip.core-styles($query: $mat-typography-styles-query);
  }
}

@mixin mat-mdc-tooltip-density($config-or-theme) {
  $density-scale: mat-get-density-config($config-or-theme);
}

@mixin mat-mdc-tooltip-theme($theme-or-color-config) {
  $theme: mat-private-legacy-get-theme($theme-or-color-config);
  @include mat-private-check-duplicate-theme-styles($theme, 'mat-mdc-tooltip') {
    $color: mat-get-color-config($theme);
    $density: mat-get-density-config($theme);
    $typography: mat-get-typography-config($theme);

    @if $color != null {
      @include mat-mdc-tooltip-color($color);
    }
    @if $density != null {
      @include mat-mdc-tooltip-density($density);
    }
    @if $typography != null {
      @include mat-mdc-tooltip-typography($typography);
    }
  }
}
