@use '@material/tooltip/tooltip';

// Only include the structural styles, because we handle the animation ourselves.
@include tooltip.core-styles($query: structure);

.mat-mdc-tooltip {
  // We don't use MDC's positioning so this has to be relative.
  position: relative;

  // Increases the area of the tooltip so the user's pointer can go from the trigger directly to it.
  &::before {
    $offset: -8px;
    content: '';
    top: $offset;
    right: $offset;
    bottom: $offset;
    left: $offset;
    z-index: -1;
    position: absolute;
  }
}

.mat-mdc-tooltip-panel-non-interactive {
  pointer-events: none;
}
