<html lang="en"><head></head><body><form id="mainForm" method="post" action="http://plnkr.co/edit/?p=preview" target="_self"><input type="hidden" name="files[app/app.component.ts]" value="import { Component } from '@angular/core';

@Component({
  selector: 'my-app',
  template: '<hero-form></hero-form>'
})
export class AppComponent { }


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/app.module.ts]" value="import { NgModule }      from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { FormsModule }   from '@angular/forms';

import { AppComponent }  from './app.component';
import { HeroFormComponent } from './hero-form.component';

@NgModule({
  imports: [
    BrowserModule,
    FormsModule
  ],
  declarations: [
    AppComponent,
    HeroFormComponent
  ],
  bootstrap: [ AppComponent ]
})
export class AppModule { }


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-form.component.ts]" value="import { Component } from '@angular/core';

import { Hero }    from './hero';

@Component({
  moduleId: module.id,
  selector: 'hero-form',
  templateUrl: './hero-form.component.html'
})
export class HeroFormComponent {

  powers = ['Really Smart', 'Super Flexible',
            'Super Hot', 'Weather Changer'];

  model = new Hero(18, 'Dr IQ', this.powers[0], 'Chuck Overstreet');

  submitted = false;

  onSubmit() { this.submitted = true; }

  // TODO: Remove this when we're done
  get diagnostic() { return JSON.stringify(this.model); }

  newHero() {
    this.model = new Hero(42, '', '');
  }

  skyDog(): Hero {
    let myHero =  new Hero(42, 'SkyDog',
                           'Fetch any object at any distance',
                           'Leslie Rollover');
    console.log('My hero is called ' + myHero.name); // &quot;My hero is called SkyDog&quot;
    return myHero;
  }

  //////// NOT SHOWN IN DOCS ////////

  // Reveal in html:
  //   Name via form.controls = {{showFormControls(heroForm)}}
  showFormControls(form: any) {
    return form &amp;&amp; form.controls['name'] &amp;&amp;
    form.controls['name'].value; // Dr. IQ
  }

  /////////////////////////////

}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero.ts]" value="export class Hero {

  constructor(
    public id: number,
    public name: string,
    public power: string,
    public alterEgo?: string
  ) {  }

}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[main.ts]" value="import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { AppModule } from './app/app.module';

platformBrowserDynamic().bootstrapModule(AppModule);


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[forms.css]" value=".ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[styles.css]" value="/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}
.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-form.component.html]" value="<div class=&quot;container&quot;>
  <div [hidden]=&quot;submitted&quot;>
    <h1>Hero Form</h1>
    <form (ngSubmit)=&quot;onSubmit()&quot; #heroForm=&quot;ngForm&quot;>
      <div class=&quot;form-group&quot;>
        <label for=&quot;name&quot;>Name</label>
        <input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;name&quot;
               required
               [(ngModel)]=&quot;model.name&quot; name=&quot;name&quot;
               #name=&quot;ngModel&quot;>
        <div [hidden]=&quot;name.valid || name.pristine&quot;
             class=&quot;alert alert-danger&quot;>
          Name is required
        </div>
      </div>

      <div class=&quot;form-group&quot;>
        <label for=&quot;alterEgo&quot;>Alter Ego</label>
        <input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;alterEgo&quot;
               [(ngModel)]=&quot;model.alterEgo&quot; name=&quot;alterEgo&quot;>
      </div>

      <div class=&quot;form-group&quot;>
        <label for=&quot;power&quot;>Hero Power</label>
        <select class=&quot;form-control&quot; id=&quot;power&quot;
                required
                [(ngModel)]=&quot;model.power&quot; name=&quot;power&quot;
                #power=&quot;ngModel&quot;>
          <option *ngFor=&quot;let pow of powers&quot; [value]=&quot;pow&quot;>{{pow}}</option>
        </select>
        <div [hidden]=&quot;power.valid || power.pristine&quot; class=&quot;alert alert-danger&quot;>
          Power is required
        </div>
      </div>

      <button type=&quot;submit&quot; class=&quot;btn btn-success&quot; [disabled]=&quot;!heroForm.form.valid&quot;>Submit</button>
      <button type=&quot;button&quot; class=&quot;btn btn-default&quot; (click)=&quot;newHero(); heroForm.reset()&quot;>New Hero</button>
      <i>with</i> reset

      &amp;nbsp;&amp;nbsp;
      <button type=&quot;button&quot; class=&quot;btn btn-default&quot; (click)=&quot;newHero()&quot;>New Hero</button>
      <i>without</i> reset

     <!-- NOT SHOWN IN DOCS -->
      <div>
        <hr>
        Name via form.controls = {{showFormControls(heroForm)}}
      </div>
     <!-- - -->
    </form>
  </div>

  <div [hidden]=&quot;!submitted&quot;>
    <h2>You submitted the following:</h2>
    <div class=&quot;row&quot;>
      <div class=&quot;col-xs-3&quot;>Name</div>
      <div class=&quot;col-xs-9  pull-left&quot;>{{ model.name }}</div>
    </div>
    <div class=&quot;row&quot;>
      <div class=&quot;col-xs-3&quot;>Alter Ego</div>
      <div class=&quot;col-xs-9 pull-left&quot;>{{ model.alterEgo }}</div>
    </div>
    <div class=&quot;row&quot;>
      <div class=&quot;col-xs-3&quot;>Power</div>
      <div class=&quot;col-xs-9 pull-left&quot;>{{ model.power }}</div>
    </div>
    <br>
    <button class=&quot;btn btn-primary&quot; (click)=&quot;submitted=false&quot;>Edit</button>
  </div>
</div>

<!-- ====================================================  -->
  <div>
    <form>

       <!-- ... all of the form ... -->

    </form>
  </div>

<!-- ====================================================  -->
<hr>
<style>
  .no-style .ng-valid {
  border-left: 1px  solid #CCC
}

  .no-style .ng-invalid {
  border-left: 1px  solid #CCC
}
</style>
<div class=&quot;no-style&quot; style=&quot;margin-left: 4px&quot;>
  <div class=&quot;container&quot;>
      <h1>Hero Form</h1>
      <form>
        <div class=&quot;form-group&quot;>
          <label for=&quot;name&quot;>Name</label>
          <input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;name&quot; required>
        </div>

        <div class=&quot;form-group&quot;>
          <label for=&quot;alterEgo&quot;>Alter Ego</label>
          <input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;alterEgo&quot;>
        </div>

        <div class=&quot;form-group&quot;>
          <label for=&quot;power&quot;>Hero Power</label>
          <select class=&quot;form-control&quot; id=&quot;power&quot; required>
            <option *ngFor=&quot;let pow of powers&quot; [value]=&quot;pow&quot;>{{pow}}</option>
          </select>
        </div>

        <button type=&quot;submit&quot; class=&quot;btn btn-success&quot;>Submit</button>

      </form>
  </div>

  <!-- ====================================================  -->
  <hr>
  <div class=&quot;container&quot;>
      <h1>Hero Form</h1>
      <form>
        {{diagnostic}}
        <div class=&quot;form-group&quot;>
          <label for=&quot;name&quot;>Name</label>
          <input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;name&quot;
                 required
                 [(ngModel)]=&quot;model.name&quot; name=&quot;name&quot;>
        </div>

        <div class=&quot;form-group&quot;>
          <label for=&quot;alterEgo&quot;>Alter Ego</label>
          <input type=&quot;text&quot;  class=&quot;form-control&quot; id=&quot;alterEgo&quot;
                 [(ngModel)]=&quot;model.alterEgo&quot; name=&quot;alterEgo&quot;>
        </div>

        <div class=&quot;form-group&quot;>
          <label for=&quot;power&quot;>Hero Power</label>
          <select class=&quot;form-control&quot;  id=&quot;power&quot;
                  required
                  [(ngModel)]=&quot;model.power&quot; name=&quot;power&quot;>
            <option *ngFor=&quot;let pow of powers&quot; [value]=&quot;pow&quot;>{{pow}}</option>
          </select>
        </div>

        <button type=&quot;submit&quot; class=&quot;btn btn-success&quot;>Submit</button>

      </form>
  </div>

  <!-- EXTRA MATERIAL FOR DOCUMENTATION -->
  <hr>
    <input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;name&quot;
           required
           [(ngModel)]=&quot;model.name&quot; name=&quot;name&quot;>
    TODO: remove this: {{model.name}}
  <hr>
    <input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;name&quot;
           required
           [ngModel]=&quot;model.name&quot; name=&quot;name&quot;
           (ngModelChange)=&quot;model.name = $event&quot;>
    TODO: remove this: {{model.name}}
  <hr>
       <input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;name&quot;
         required
         [(ngModel)]=&quot;model.name&quot; name=&quot;name&quot;
         #spy>
       <br>TODO: remove this: {{spy.className}}

</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[index.html]" value="<!DOCTYPE html>
<html>
  <head>
    <title>Hero Form</title>
    <script>document.write('<base href=&quot;' + document.location + '&quot; />');</script>
    <meta charset=&quot;UTF-8&quot;>
    <meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;>

    <link rel=&quot;stylesheet&quot;
          href=&quot;https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css&quot;>
    <link rel=&quot;stylesheet&quot; href=&quot;styles.css&quot;>
    <link rel=&quot;stylesheet&quot; href=&quot;forms.css&quot;>

    <!-- Polyfills -->
    <script src=&quot;https://unpkg.com/core-js/client/shim.min.js&quot;></script>

    <script src=&quot;https://unpkg.com/zone.js@0.7.4?main=browser&quot;></script>
    <script src=&quot;https://unpkg.com/systemjs@0.19.39/dist/system.src.js&quot;></script>

    <script src=&quot;https://cdn.rawgit.com/angular/angular.io/b3c65a9/public/docs/_examples/_boilerplate/systemjs.config.web.js&quot;></script>
    <script>
      System.import('main.js').catch(function(err){ console.error(err); });
    </script>
  </head>

  <body>
    <my-app>Loading...</my-app>
  </body>

</html>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="tags[0]" value="angular"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="private" value="true"><input type="hidden" name="description" value="Angular Example - Forms"></form><script>document.getElementById("mainForm").submit();</script></body></html>