<header class="marketing-banner">
  <h1 class="banner-headline no-toc no-anchor">Press kit</h1>
</header>

<article class="center-layout presskit-container">
  <!-- Angular Logo Section -->
  <div class="presskit-section">
    <h2>Official Angular Logo</h2>

    <p>
      The logo graphics available for download on this page are provided under
      <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
      This means that you can pretty much do what you like with it including printing it on shirts, creating your own
      variations, or getting it tattooed over your navel.
    </p>
    <p>
      We do ask that you not use the rest of the site graphics in other contexts to avoid confusion.
    </p>

    <div class="presskit-icon-group">
      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="assets/images/logos/angular/angular.svg" alt="Full color logo Angular">
        </div>
        <div>
          <h3>Full Color Logo</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="assets/images/logos/angular/angular.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="assets/images/logos/angular/angular.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="assets/images/logos/angular/angular_solidBlack.svg" class="transparent-img" alt="Black logo Angular">
        </div>
        <div>
          <h3>One Color Logo</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="assets/images/logos/angular/angular_solidBlack.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="assets/images/logos/angular/angular_solidBlack.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="assets/images/logos/angular/angular_whiteTransparent.svg" class="transparent-img-inverse" alt="Transparent logo Angular">
        </div>
        <div>
          <h3>One Color Inverse Logo</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="assets/images/logos/angular/angular_whiteTransparent.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="assets/images/logos/angular/angular_whiteTransparent.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Brand Icons Section -->
  <div class="presskit-section">
    <h2>Brand Icons</h2>

    <div class="presskit-icon-group">
      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/animations.png" alt="Animations icon">
        </div>
        <div>
          <h3>Animations</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/animations.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/animations.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/cdk.png" alt="CDK icon">
        </div>
        <div>
          <h3>Component Dev Kit (CDK)</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/cdk.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/cdk.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/cli.png" alt="CLI icon">
        </div>
        <div>
          <h3>CLI (Command Line Interface)</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/cli.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/cli.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/compiler.png" alt="Compiler icon">
        </div>
        <div>
          <h3>Compiler</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/compiler.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/compiler.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/components.png" alt="Components icon">
        </div>
        <div>
          <h3>Web Components</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/components.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/components.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/forms.png" alt="Forms icon">
        </div>
        <div>
          <h3>Forms</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/forms.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/forms.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/http.png" alt="HTTP icon">
        </div>
        <div>
          <h3>HTTP</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/http.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/http.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/i18n.png" alt="i18n icon">
        </div>
        <div>
          <h3>i18n</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/i18n.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/i18n.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/karma.png" alt="Karma icon">
        </div>
        <div>
          <h3>Karma</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/karma.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/karma.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/labs.png" alt="Labs icon">
        </div>
        <div>
          <h3>Angular Labs</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/labs.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/labs.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/language-services.png" alt="Language services icon">
        </div>
        <div>
          <h3>Language Services</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/language-services.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/language-services.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/material.png" alt="Angular Material icon">
        </div>
        <div>
          <h3>Angular Material</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/material.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/material.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/pwa.png" alt="PWA icon">
        </div>
        <div>
          <h3>PWA (Progressive Web App)</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/pwa.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/pwa.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/router.png" alt="Router icon">
        </div>
        <div>
          <h3>Router</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/router.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/router.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/universal.png" alt="Universal icon">
        </div>
        <div>
          <h3>Universal</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/universal.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/universal.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Concept Icons Section -->
  <div class="presskit-section">
    <h2>Concept and Feature Icons</h2>

    <div class="presskit-icon-group">
      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/dependency-injection.png" alt="Dependency injection icon">
        </div>
        <div>
          <h3>Dependency Injection</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/dependency-injection.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/dependency-injection.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/lazy-loading.png" alt="Lazy loading icon">
        </div>
        <div>
          <h3>Lazy Loading</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/lazy-loading.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/lazy-loading.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/libraries.png" alt="Libraries icon">
        </div>
        <div>
          <h3>Libraries</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/libraries.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/libraries.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/performance.png" alt="Performance icon">
        </div>
        <div>
          <h3>Performance</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/performance.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/performance.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="presskit-icon-item">
        <div class="presskit-image-container">
          <img src="generated/images/marketing/concept-icons/templates.png" alt="Templates icon">
        </div>
        <div>
          <h3>Templates</h3>
          <ul class="presskit-links-container">
            <li>
              <a href="generated/images/marketing/concept-icons/templates.png" download>Download PNG icon</a>
            </li>
            <li>
              <a href="generated/images/marketing/concept-icons/templates.svg" download>Download SVG icon</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Press and Media Section -->
  <div class="presskit-section">
    <h2>Press and Media</h2>

    <p>
      For inquiries regarding press and media please contact us at
      <a href="mailto:press@angular.io">press@angular.io</a>.
    </p>
  </div>

  <!-- Brand Names Section -->
  <div class="presskit-section">
    <h2>Brand Names</h2>

    <h3>Angular</h3>
    <p>
      The name <b>Angular</b> represents the work and promises provided to you by the Angular team.
    </p>
    <p>
      When not specified, Angular is assumed to be referring to the latest and greatest stable version from the Angular
      Team.
    </p>

    <h4>Example</h4>
    <p>
      <b>Version v4.1 now available</b> - We are pleased to announce that the latest release of Angular is now
      available. Staying up to date is easy!
    </p>

    <h4>Example</h4>
    <p>
      <b>Correct:</b> "New <code>*ngIf</code> capabilities&mdash;new in version 4.0 is the ability to ..."
    </p>
    <p>
      <b class="error-text">Incorrect:</b> "New <code>*ngIf</code> capabilities in Angular 4&mdash;Angular 4 introduces
      the ability to ..."
    </p>
    <p>
      <b>Reasoning</b>
    </p>
    <p>
      By not using "Angular 4" in the title, the content still feels applicable and useful after version 5, 6, 7 have
      been released, as the syntax is unlikely to change in the short and medium term.
    </p>

    <h3>AngularJS</h3>
    <p>
      <b>AngularJS</b> is the v1.x series of work and promises provided by the Angular team.
    </p>

    <h4>Examples</h4>
    <ul>
      <li>AngularJS is one of the most used framework on the web today (by number of projects).</li>
      <li>Millions of developers are currently building with AngularJS.</li>
      <li>Developers are beginning to upgrade from AngularJS to Angular.</li>
      <li>I’m upgrading my app from AngularJS to Angular.</li>
      <li>I'm using AngularJS Material on this project.</li>
    </ul>

    <p>
      AngularJS projects should use the
      <a href="assets/images/logos/angularjs/AngularJS-Shield.svg" title="AngularJS logo">original AngularJS logo</a> /
      icon, and not the Angular icon:
    </p>
    <img src="assets/images/logos/angularjs/AngularJS-Shield.svg" alt="AngularJS logo" style="margin-left: 20px;">

    <h3>Angular Material</h3>
    <p>
      This is the work being performed by the Angular team to provide Material Design components for Angular
      apps.
    </p>

    <h3>AngularJS Material</h3>
    <p>
      This is the work being performed by the Angular team on Material Design components that are compatible with
      AngularJS.
    </p>

    <h3>3rd Party Projects</h3>
    <p>
      <b>X for Angular</b>
    </p>
    <p>
      3rd parties should use the terminology “X for Angular” or “ng-X” for software projects. Projects should avoid the
      use of Angular X (e.g. Angular UI Toolkit), as it could create authorship confusion. This rule does not apply to
      events or meetup groups.
    </p>
    <p>
      Developers should avoid using Angular version numbers in project names, as this will artificially limit their
      projects by tying them to a point in time of Angular, or will require renaming over time.
    </p>
    <p>
      Where a codename or shortname is used, such as on npm or GitHub, some are acceptable, some are not acceptable.
    </p>

    <b>Do not use</b>
    <ul>
      <li><code>ng2-</code></li>
      <li><code>angular2-</code></li>
    </ul>

    <b>OK to use</b>
    <ul>
      <li><code>ng-</code></li>
      <li><code>angular-</code></li>
    </ul>

    <p>
      As always, component and directive selectors should not begin with “ng-” selectors as this will conflict with
      components and directives provided by the Angular team.
    </p>

    <h4>Examples</h4>
    <ul>
      <li>The ng-BE team just launched <code>ng-health</code> to help developers track their own health.</li>
      <li>I’m going to use NativeScript for Angular to take advantage of native UI widgets.</li>
      <li><code>ReallyCoolTool</code> for Angular.</li>
      <li><code>ReallyCoolTool</code> for AngularJS.</li>
    </ul>
  </div>

  <!-- Terminology Section -->
  <div class="presskit-section">
    <h2>Terminology</h2>
    <p>
      We often use terms that are not part of our brand, but we want to remain consistent on the styling and use of them
      to prevent confusion and to appear unified.
    </p>
    <ul>
      <li><a href="guide/glossary#aot">Ahead-of-Time compilation (AOT)</a></li>
      <li><a href="guide/glossary#jit">Just-in-Time compilation (JIT)</a></li>
    </ul>
  </div>
</article>
