<header class="marketing-banner">
  <h1 class="banner-headline no-toc no-anchor">Carpeta de prensa</h1>
</header>

<article class="presskit-container">
  <div class="presskit-row">
    <div class="presskit-inner">
      <div>
        <h2>LOGO DE ANGULAR</h2>
        <p>
          Los gráficos del logotipo disponibles para descargar en esta página se proporcionan en
          <a class="cc-by-anchor" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
          Esto significa que puedes hacer lo que quieras con él, incluso imprimirlo en camisetas, crear tu
          propias variaciones, o tatuartele sobre el ombligo.
        </p>
        <p>Te pedimos que no utilices el resto de los gráficos del sitio en otros contextos para evitar confusiones.</p>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="assets/images/logos/angular/angular.svg" alt="Full color logo Angular">
      </div>
      <div>
        <h3 class="l-space-left-3">LOGOTIPO A TODO COLOR</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Logo de Angular (png) - <a href="assets/images/logos/angular/angular.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Logo de Angular (svg) - <a href="assets/images/logos/angular/angular.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <div>
          <img src="assets/images/logos/angular/angular_solidBlack.svg" alt="Black logo Angular">
        </div>
      </div>
      <div>
        <h3 class="l-space-left-3">LOGOTIPO DE UN COLOR</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Logo Angular en Negro (png) - <a href="assets/images/logos/angular/angular_solidBlack.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Logo Angular en Negro (svg) - <a href="assets/images/logos/angular/angular_solidBlack.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <div>
          <img src="assets/images/logos/angular/angular_whiteTransparent.svg" class="transparent-img-bg"
            alt="Transparent logo Angular">
        </div>
      </div>
      <div>
        <h3 class="l-space-left-3">LOGOTIPO INVERSO DE UN COLOR</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Logo Angular White Semi-Transparent (png) - <a
                href="assets/images/logos/angular/angular_whiteTransparent.png" download>Descargar</a></span>
          </li>
          <li>
            <span>Logo Angular Semi-Transparente (svg) - <a
                href="assets/images/logos/angular/angular_whiteTransparent.svg" download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div>
        <h2>ICONOS DE MARCA</h2>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/animations.png" alt="Icono de Animaciones">
      </div>
      <div>
        <h3 class="l-space-left-3">ANIMACIONES</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de Animaciones (png) - <a href="generated/images/marketing/concept-icons/animations.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de Animaciones (svg) - <a href="generated/images/marketing/concept-icons/animations.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/augury.png" alt="Icono de Augury">
      </div>
      <div>
        <h3 class="l-space-left-3">AUGURY</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de Augury (png) - <a href="generated/images/marketing/concept-icons/augury.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de Augury (svg) - <a href="generated/images/marketing/concept-icons/augury.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/cdk.png" alt="Icono de CDK">
      </div>
      <div>
        <h3 class="l-space-left-3">KIT DE DESARROLLO DE COMPONENTES (CDK)</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de CDK (png) - <a href="generated/images/marketing/concept-icons/cdk.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de CDK (svg) - <a href="generated/images/marketing/concept-icons/cdk.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container"></div>
      <img src="generated/images/marketing/concept-icons/cli.png" alt="Icono de el CLI">
    </div>
    <div>
      <h3 class="l-space-left-3">CLI</h3>
      <ul class="l-space-left-3">
        <li>
          <span>Icono de el CLI (png) - <a href="generated/images/marketing/concept-icons/cli.png"
              download>Descargar</a></span>
        </li>
        <li>
          <span>Icono de el CLI (svg) - <a href="generated/images/marketing/concept-icons/cli.svg"
              download>Descargar</a></span>
        </li>
      </ul>
    </div>
  </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/compiler.png" alt="Icono de Compilador">
      </div>
      <div>
        <h3 class="l-space-left-3">COMPILADOR</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de Compilador (png) - <a href="generated/images/marketing/concept-icons/compiler.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de Compilador (svg) - <a href="generated/images/marketing/concept-icons/compiler.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/components.png" alt="Icono de Componentes Web">
      </div>
      <div>
        <h3 class="l-space-left-3">COMPONENTES WEB</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de Componentes Web (png) - <a href="generated/images/marketing/concept-icons/components.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de Componentes Web (svg) - <a href="generated/images/marketing/concept-icons/components.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/forms.png" alt="Icono de Formularios">
      </div>
      <div>
        <h3 class="l-space-left-3">FORMULARIOS</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de Formularios (png) - <a href="generated/images/marketing/concept-icons/forms.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de Formularios (svg) - <a href="generated/images/marketing/concept-icons/forms.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/http.png" alt="Icono de HTTP">
      </div>
      <div>
        <h3 class="l-space-left-3">HTTP</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de HTTP (png) - <a href="generated/images/marketing/concept-icons/http.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de HTTP (svg) - <a href="generated/images/marketing/concept-icons/http.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/i18n.png" alt="Icono de i18n">
      </div>
      <div>
        <h3 class="l-space-left-3">i18n</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de HTTP (png) - <a href="generated/images/marketing/concept-icons/i18n.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de HTTP (svg) - <a href="generated/images/marketing/concept-icons/i18n.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/karma.png" alt="Icono de Karma">
      </div>
      <div>
        <h3 class="l-space-left-3">KARMA</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de Karma (png) - <a href="generated/images/marketing/concept-icons/karma.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de Karma (svg) - <a href="generated/images/marketing/concept-icons/karma.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/labs.png" alt="Icono de Labs">
      </div>
      <div>
        <h3 class="l-space-left-3">LABS</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de Labs (png) - <a href="generated/images/marketing/concept-icons/labs.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de Labs (svg) - <a href="generated/images/marketing/concept-icons/labs.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/language-services.png" alt="Icono de Language Services">
      </div>
      <div>
        <h3 class="l-space-left-3">LANGUAGE SERVICES</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de Language Services (png) - <a
                href="generated/images/marketing/concept-icons/language-services.png" download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de Language Services (svg) - <a
                href="generated/images/marketing/concept-icons/language-services.svg" download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/material.png" alt="Icono de Material">
      </div>
      <div>
        <h3 class="l-space-left-3">MATERIAL</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de material (png) - <a href="generated/images/marketing/concept-icons/material.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de material (svg) - <a href="generated/images/marketing/concept-icons/material.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/protractor.png" alt="Icono de Protractor">
      </div>
      <div>
        <h3 class="l-space-left-3">PROTRACTOR</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de Protractor (png) - <a href="generated/images/marketing/concept-icons/protractor.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de Protractor (svg) - <a href="generated/images/marketing/concept-icons/protractor.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/pwa.png" alt="Icono de PWA">
      </div>
      <div>
        <h3 class="l-space-left-3">PWA</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de PWA (png) - <a href="generated/images/marketing/concept-icons/pwa.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de PWA (svg) - <a href="generated/images/marketing/concept-icons/pwa.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/router.png" alt="Icono de Router">
      </div>
      <div>
        <h3 class="l-space-left-3">ROUTER</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de Router (png) - <a href="generated/images/marketing/concept-icons/router.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de Router (svg) - <a href="generated/images/marketing/concept-icons/router.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/universal.png" alt="Icono Universal">
      </div>
      <div>
        <h3 class="l-space-left-3">UNIVERSAL</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono Universal (png) - <a href="generated/images/marketing/concept-icons/universal.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono Universal (svg) - <a href="generated/images/marketing/concept-icons/universal.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div>
        <h2>ICONOS DE CONCEPTO Y CARACTERÍSTICAS</h2>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/dependency-injection.png"
          alt="Icono de inyección de dependencia">
      </div>
      <div>
        <h3 class="l-space-left-3">INYECCIÓN DE DEPENDENCIA</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de inyección de dependencia (png) - <a
                href="generated/images/marketing/concept-icons/dependency-injection.png" download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de inyección de dependencia (svg) - <a
                href="generated/images/marketing/concept-icons/dependency-injection.svg" download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/lazy-loading.png" alt="Icono de carga diferida">
      </div>
      <div>
        <h3 class="l-space-left-3">LAZY LOADING</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de carga diferida (png) - <a href="generated/images/marketing/concept-icons/lazy-loading.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de carga diferida (svg) - <a href="generated/images/marketing/concept-icons/lazy-loading.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/libraries.png" alt="Icono de bibliotecas">
      </div>
      <div>
        <h3 class="l-space-left-3">Librerías</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de bibliotecas (png) - <a href="generated/images/marketing/concept-icons/libraries.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de librerías (svg) - <a href="generated/images/marketing/concept-icons/libraries.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/performance.png" alt="Icono de rendimiento">
      </div>
      <div>
        <h3 class="l-space-left-3">RENDIMIENTO</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de rendimiento (png) - <a href="generated/images/marketing/concept-icons/performance.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de rendimiento (svg) - <a href="generated/images/marketing/concept-icons/performance.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="presskit-image-container">
        <img src="generated/images/marketing/concept-icons/templates.png" alt="Icono de plantillas">
      </div>
      <div>
        <h3 class="l-space-left-3">PLANTILLAS</h3>
        <ul class="l-space-left-3">
          <li>
            <span>Icono de plantillas (png) - <a href="generated/images/marketing/concept-icons/templates.png"
                download>Descargar</a></span>
          </li>
          <li>
            <span>Icono de plantillas (svg) - <a href="generated/images/marketing/concept-icons/templates.svg"
                download>Descargar</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div>
        <h2>PRENSA Y MEDIOS </h2>
        <p> Para consultas sobre prensa y medios, contáctenos en
          <a href="mailto:press@angular.io">press@angular.io</a>.</p>
      </div>
    </div>
  </div>

  <style>
    div.bullets ul {
      list-style-type: disc !important;
      margin-left: 1em !important;
    }
  </style>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="bullets">
        <h2>NOMBRES DE MARCAS</h2>
        <h3>Angular</h3>
        <p>El Nombre <b>Angular</b> representa el trabajo y las promesas que le proporcionó el equipo de Angular.</p>

        <p> Cuando no se especifica, se supone que Angular se refiere a la última y mejor versión estable del equipo de
          Angular. </p>
        <h4>Ejemplo</h4>
        <p><b> Versión v4.1 ya disponible </b>: Nos complace anunciar que la última versión de Angular ya está
          disponible. ¡Mantenerse actualizado es fácil! </p>

        <h4>Ejemplo</h4>

        <p><b>Correcto: </b> "Nuevo <code>*ngIf</code> capacidades</b>&mdash;nuevo en la versión 4.0 es la capacidad de
          ..."</p>
        <p><b style="color: red">Incorrecto: </b> "Nuevo <code>*ngIf</code> capacidades en Angular 4</b>&mdash;Angular 4
          introduce la capacidad de ..."</p>

        <p><b>Razonamiento</b></p>

        <p> Al no usar "Angular 4" en el título, el contenido aún se siente aplicable y útil después de que se hayan
          lanzado las versiones 5, 6, 7, ya que es poco probable que la sintaxis cambie a corto y mediano plazo. </p>

        <h3>AngularJS</h3>

        <p><b> AngularJS </b> es la serie v1.x de trabajo y promesas proporcionadas por el equipo de Angular. </p>

        <h4>Ejemplos</h4>
        <ol>
          <li> AngularJS es uno de los frameworks más utilizados en la web en la actualidad (por número de proyectos). </li>
          <li> Millones de desarrolladores están construyendo actualmente con AngularJS. </li>
          <li> Los desarrolladores están comenzando a actualizar de AngularJS a Angular. </li>
          <li> Estoy actualizando mi aplicación de AngularJS a Angular. </li>
          <li> Estoy usando AngularJS Material en este proyecto. </li>
        </ol>

        <p>Los proyectos de AngularJS deben usar el
          <a href="assets/images/logos/angularjs/AngularJS-Shield.svg" title="AngularJS logo">
            logo original de AngularJS </a> / icono, y no el icono de Angular.</p>

        <img src="assets/images/logos/angularjs/AngularJS-Shield.svg" alt="AngularJS Logo" style="margin-left:20px;"
          height="128" width="128">

        <h3>Angular Material</h3>

        <p>Este es el trabajo que está realizando el equipo de Angular para proporcionar componentes de Material Design
          para aplicaciones Angular.</p>

        <h3>Material de AngularJS</h3>

        <p>Este es el trabajo que está realizando el equipo de Angular en los componentes de Material Design que son
          compatibles con AngularJS.</p>

        <h3>Proyectos de terceros</h3>

        <p><b>X para Angular</b></p>

        <p>Los terceros deben utilizar la terminología "X para Angular" o "ng-X" para proyectos de software. Los
          proyectos deben evitar el uso de Angular X (por ejemplo, Angular UI Toolkit), ya que podría crear confusión en
          la autoría. Esta regla no se aplica a eventos o grupos de reuniones.</p>

        <p>Los desarrolladores deben evitar el uso de números de versión de Angular en los nombres de los proyectos, ya
          que esto limitará artificialmente sus proyectos al vincularlos a un punto en el tiempo de Angular, o requerirá
          un cambio de nombre con el tiempo.</p>

        <p>Cuando se usa un nombre en clave o un nombre abreviado, como en npm o github, algunos son aceptables, otros
          no.</p>

        <b>No utilices</b>
        <ul>
          <li><code>ng2-</code></li>
          <li><code>angular2-</code></li>
        </ul>

        <b>Bien para usar</b>
        <ul>
          <li><code>ng-</code></li>
          <li><code>angular-</code></li>
        </ul>

        <p>Como siempre, los selectores de componentes y directivas no deben comenzar con selectores "ng-", ya que esto
          entrará en conflicto con los componentes y las directivas proporcionadas por el equipo de Angular.</p>

        <h4>Ejemplos</h4>
        <ul>
          <li>El equipo ng-BE acaba de lanzar <code>ng-health</code> Para ayudar a los desarrolladores a rastrear su
            propia salud.</li>
          <li>Voy a usar NativeScript para Angular para aprovechar los widgets de IU nativos.</li>
          <li><code>ReallyCoolTool</code> para Angular.</li>
          <li><code>ReallyCoolTool</code> para AngularJS.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="presskit-row">
    <div class="presskit-inner">
      <div class="bullets">
        <h2>TÉRMINOS QUE UTILIZAMOS</h2>
        <p>
          A menudo utilizamos términos que no forman parte de nuestra marca,
          pero queremos ser consistentes en el estilo y el uso de ellos para evitar confusiones y parecer unificados.
        </p>
        <ul>
          <li>Ahead of Time compilation (AOT)</li>
          <li>Just in Time compilation (JIT)</li>
        </ul>
      </div>
    </div>
  </div>
</article>