table {
  width: 100%;
}

.example-first-header-row th {
  border-bottom: none;
}

.example-second-header-row {
  font-style: italic;
}

.example-first-footer-row {
  font-weight: bold;
}

.example-second-footer-row td {
  color: #900000;
}
