@use 'sass:map';
@use '@material/tooltip/tooltip';
@use '@material/tooltip' as tooltip-theme;
@use '../core/theming/theming';
@use '../core/theming/palette';
@use '../core/mdc-helpers/mdc-helpers';
@use '../core/typography/typography';

@mixin color($config-or-theme) {
  $config: theming.get-color-config($config-or-theme);
  @include mdc-helpers.using-mdc-theme($config) {
    @include tooltip.core-styles($query: mdc-helpers.$mdc-theme-styles-query);
    // We are defining our own tooltip background color because of concerns
    // surrounding the 0.6 background color opacity of the MDC tooltip styles.
    @include tooltip-theme.fill-color(
      map.get(palette.$light-theme-background-palette, tooltip)
    );
  }
}

@mixin typography($config-or-theme) {
  $config: typography.private-typography-to-2018-config(
          theming.get-typography-config($config-or-theme));
  @include mdc-helpers.using-mdc-typography($config) {
    @include tooltip.core-styles($query: mdc-helpers.$mdc-typography-styles-query);
  }
}

@mixin density($config-or-theme) {
  $density-scale: theming.get-density-config($config-or-theme);
}

@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'mat-tooltip') {
    $color: theming.get-color-config($theme);
    $density: theming.get-density-config($theme);
    $typography: theming.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
