@use '../../cdk/a11y';

$horizontal-padding: 8px;
$max-width: 250px;
$margin: 14px;

$handset-horizontal-padding: 16px;
$handset-margin: 24px;

.mat-tooltip {
  color: white;
  border-radius: 4px;
  margin: $margin;
  max-width: $max-width;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
  overflow: hidden;
  text-overflow: ellipsis;

  @include a11y.high-contrast(active, off) {
    outline: solid 1px;
  }
}

.mat-tooltip-handset {
  margin: $handset-margin;
  padding-left: $handset-horizontal-padding;
  padding-right: $handset-horizontal-padding;
}

.mat-tooltip-panel-non-interactive {
  pointer-events: none;
}
