<div class="row">
  <div class="col-xs-12">
    <nav role="navigation">
      <ol>
        <li>
          <a [routerLink]="['/form-controls']"><h2>Accessible form control labels</h2></a>
        </li>
        <li>
          <a [routerLink]="['/managing-focus']"><h2>Managing focus</h2></a>
        </li>
        <li>
          <a [routerLink]="['/component-roles']"><h2>Roles for custom component widgets</h2></a>
        </li>
        <li>
          <a [routerLink]="['/dev-tools']"><h2>Developer tools</h2></a>
        </li>
      </ol>
    </nav>
  </div>
</div>
