@use 'sass:map';
@use 'external/npm/node_modules/@angular/material/index' as mat;
@include mat.all-component-typographies();
@include mat.core();

html,
body {
  padding: 0;
  margin: 0;
}

// Light theme
$light-primary: mat.m2-define-palette(mat.$m2-grey-palette, 700, 200);
$light-accent: mat.m2-define-palette(mat.$m2-blue-palette, 800);
$light-theme: mat.m2-define-light-theme($light-primary, $light-accent);

// Dark theme
$dark-primary: mat.m2-define-palette(mat.$m2-blue-grey-palette, 50);
$dark-accent: mat.m2-define-palette(mat.$m2-blue-palette, 200);
$dark-theme: map.deep-merge(
  mat.m2-define-dark-theme($dark-primary, $dark-accent),
  (
    'color': (
      'background': (
        background: #202124,
        card: #202124,
      ),
      'foreground': (
        text: #bcc5ce,
      ),
    ),
    'background': (
      background: #202124,
      card: #202124,
    ),
    'foreground': (
      'text': #bcc5ce,
    ),
  )
);

.light-theme {
  @include mat.all-component-themes($light-theme);

  .mat-mdc-chip.mat-mdc-standard-chip {
    --mdc-chip-container-height: 24px;
  }
}

.dark-theme {
  background: #202124;
  @include mat.all-component-themes($dark-theme);

  .mat-mdc-chip.mat-mdc-standard-chip {
    --mdc-chip-container-height: 24px;
  }
}

ng-devtools {
  .mdc-card {
    padding: 4px;
  }
}

.mat-mdc-menu-content {
  padding: 0 !important;
}
