.mat-mdc-list { padding: 8px; }

.mat-mdc-list-item-icon {
  color: darkblue;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-list-item-content {
  padding: 8px;
}
