<span [ngSwitch]="mode">
  <span *ngSwitchCase="'disabled'">{{title}} <em>(not available on this device)</em></span>
  <span *ngSwitchCase="'embedded'">
    <div *ngIf="showEmbedded" title="{{title}}">
      <aio-embedded-plunker [src]="plnkr"></aio-embedded-plunker>
    </div>
    <img *ngIf="!showEmbedded" (click)="toggleEmbedded()" [src]="plnkrImg" alt="{{title}}">
    <p *ngIf="enableDownload">
      You can also <a [href]="zip" download title="Download example">download this example</a>.
    </p>
  </span>
  <span *ngSwitchCase="'downloadOnly'">
    <a [href]="zip" download title="{{title}}">{{title}}</a>
  </span>
  <span *ngSwitchDefault>
    <a [href]="plnkr" target="_blank" title="{{title}}">{{title}}</a>
    <span *ngIf="enableDownload">
      /  <a [href]="zip" download title="Download example">download example</a>
    </span>
  </span>
</span>
