.demo-select {
  display: flex;
  flex-flow: row wrap;

  .mat-mdc-card {
    width: 450px;
    margin: 24px 24px 0 0;
    display: block;

    [dir='rtl'] :host & {
      margin: 24px 0 0 24px;
    }
  }

  .demo-drink-icon {
    vertical-align: bottom;
    padding-right: 0.25em;
  }

  .demo-drinks-width-large {
    width: 400px;
  }
}

.demo-card {
  margin: 30px 0;
}
