
{
  "presets": ["es2015"],
  "plugins": [["transform-es2015-modules-umd", {
    "globals": {
      "@angular/core": "ng.core",
      "@angular/compiler": "ng.compiler",
      "@angular/platform-browser": "ng.platformBrowser",
      "@angular/http": "ng.http",
      "rxjs/Observable": "Rx",
      "rxjs/Subject": "Rx"
    },
    "exactGlobals": true
  }]],
  "moduleId": "@angular/http"
}
