@use 'sass:map';
@use '../core/theming/palette';
@use '../core/theming/theming';

@mixin color($config-or-theme) {
  $config: theming.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  .mat-progress-bar-background {
    fill: theming.color($primary, lighter);
  }

  .mat-progress-bar-buffer {
    background-color: theming.color($primary, lighter);
  }

  .mat-progress-bar-fill::after {
    background-color: theming.color($primary);
  }

  .mat-progress-bar.mat-accent {
    .mat-progress-bar-background {
      fill: theming.color($accent, lighter);
    }

    .mat-progress-bar-buffer {
      background-color: theming.color($accent, lighter);
    }

    .mat-progress-bar-fill::after {
      background-color: theming.color($accent);
    }
  }

  .mat-progress-bar.mat-warn {
    .mat-progress-bar-background {
      fill: theming.color($warn, lighter);
    }

    .mat-progress-bar-buffer {
      background-color: theming.color($warn, lighter);
    }

    .mat-progress-bar-fill::after {
      background-color: theming.color($warn);
    }
  }
}

@mixin typography($config-or-theme) {}

@mixin _mat-progress-bar-density($config-or-theme) {}

@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'mat-progress-bar') {
    $color: theming.get-color-config($theme);
    $density: theming.get-density-config($theme);
    $typography: theming.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include _mat-progress-bar-density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}

