@use '@material/theme/theme-color' as mdc-theme-color;
@use '@material/theme/theme' as mdc-theme;
@use '@material/list/evolution-mixins' as mdc-list-mixins;
@use '@material/typography' as mdc-typography;
@use '@material/ripple' as mdc-ripple;
@use '@angular/material' as mat;

@use '../mdc-helpers/mdc-helpers';

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);

  @include mdc-helpers.mat-using-mdc-theme($config) {
    .mat-mdc-option {
      // Since this will usually be rendered in an overlay,
      // we have explicitly set the default color.
      @include mdc-theme.prop(color, text-primary-on-background);

      &:hover:not(.mdc-list-item--disabled),
      &:focus:not(.mdc-list-item--disabled),
      &.mat-mdc-option-active,

      // In multiple mode there is a checkbox to show that the option is selected.
      &.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(.mdc-list-item--disabled) {
        $color: mdc-theme-color.$on-surface;
        background: rgba($color, mdc-ripple.states-opacity($color, hover));
      }
    }

    .mat-primary {
      .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) {
        @include mdc-list-mixins.list-primary-text-ink-color(primary,
          $query: mdc-helpers.$mat-theme-styles-query);
      }
    }

    .mat-accent {
      .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) {
        @include mdc-list-mixins.list-primary-text-ink-color(secondary,
          $query: mdc-helpers.$mat-theme-styles-query);
      }
    }

    .mat-warn {
      .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) {
        @include mdc-list-mixins.list-primary-text-ink-color(error,
          $query: mdc-helpers.$mat-theme-styles-query);
      }
    }
  }
}

@mixin typography($config-or-theme) {
  $config: mat.private-typography-to-2018-config(
      mat.get-typography-config($config-or-theme));

  @include mdc-helpers.mat-using-mdc-typography($config) {
    // MDC uses the `subtitle1` level for list items, but
    // the spec shows `body1` as the correct level.
    .mat-mdc-option {
      @include mdc-typography.typography(body1, $query: mdc-helpers.$mat-typography-styles-query);
    }
  }
}

@mixin density($config-or-theme) {
  $density-scale: mat.get-density-config($config-or-theme);
}

@mixin theme($theme-or-color-config) {
  $theme: mat.private-legacy-get-theme($theme-or-color-config);
  @include mat.private-check-duplicate-theme-styles($theme, 'mat-mdc-option') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
