.example-container {
  height: 400px;
  overflow: auto;
}

.mat-table-sticky {
  background: #59abfd;
  opacity: 1;
}

.example-sticky-toggle-group {
  margin: 8px;
}

.mat-column-filler {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
}

.mat-header-cell, .mat-footer-cell, .mat-cell {
  min-width: 80px;
  box-sizing: border-box;
}
