.example-container {
  height: 400px;
  overflow: auto;
}

.mat-mdc-table-sticky, .mat-mdc-table-sticky.mat-mdc-header-cell {
  background: #59abfd;
  opacity: 1;
}

.example-sticky-toggle-group {
  margin: 8px;
}

.mat-column-filler {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
}

.mat-mdc-header-cell, .mat-mdc-footer-cell, .mat-mdc-cell {
  min-width: 80px;
  box-sizing: border-box;
}

// A width and/or height must be specified to get the browser to show any customizations to
// the scrollbar.
.cdk-table-scroll-container::-webkit-scrollbar {
  background: #59abfd;
  height: 10px;
  width: 10px;
}

.cdk-table-scroll-container::-webkit-scrollbar-track {
  background: white;
}

.cdk-table-scroll-container::-webkit-scrollbar-thumb {
  background: gray;
}
