.demo-tooltip {
  .centered {
    text-align: center;
    height: 200px;
    overflow: auto;

    button {
      margin: 16px;
    }
  }
  .mat-radio-button {
    display: block;
  }
}

.red-tooltip {
  background-color: rgb(255, 128, 128);
  color: black;
}
