ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  border: 1px solid #444;
  margin-bottom: .5rem;
  display: flex;
}

li button {
  background-color: aliceblue;
  flex: 1;
  padding: 1rem;
  margin: 0;
  text-align: left;
  border-radius: 0;
}

li button:hover, li button:active {
  background-color: #444;
  color: white;
  cursor: pointer;
}

label {
  display: block;
  padding-bottom: .4rem;
  margin-top: 1rem;
}
