.demo-list {
  display: flex;
  flex-flow: row wrap;

  .mat-mdc-list-base {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 20px 20px 0 0;
  }

  h2 {
    margin-top: 20px;
  }

  .mat-mdc-icon-button {
    color: rgba(0, 0, 0, 0.12);
  }

  &.demo-show-boxes .mat-mdc-list-item {
    border: 1px solid grey;
  }
}

.demo-secondary-text {
  color: rgba(0, 0, 0, 0.54);
}
