.adev-reference-list-page {
  padding: var(--layout-padding);
  max-width: var(--page-width);

  container: api-ref-page / inline-size;

  header {
    margin-block-end: 2.75rem;

    // small page label: "Getting Started"
    h6 {
      color: var(--quaternary-contrast);
      font-weight: 500;
      font-size: 0.875rem;
      margin: 0;
    }

    p {
      max-width: 78ch;
      color: var(--secondary-contrast);
    }
  }
}

.adev-reference-list-legend {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-block-start: 0;
  padding-inline: 0;
  cursor: pointer;
  width: 100%;

  @container api-ref-page (max-width: 775px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @container api-ref-page (max-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @container api-ref-page (max-width: 500px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @container api-ref-page (max-width: 350px) {
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.3rem;
    font-size: 0.875rem;
    color: var(--quaternary-contrast);
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-inline-end: 0.5rem;
    margin-block-end: 0.5rem;
    transition:
      color 0.3s ease,
      background 0.3s ease,
      border 0.3s ease;

    &:hover {
      color: var(--primary-contrast);
      border: 1px solid var(--senary-contrast);
    }

    &.adev-reference-list-legend-item-active {
      background: var(--septenary-contrast);
      border: 1px solid var(--quinary-contrast);
      color: var(--primary-contrast);
    }
  }
}

.adev-reference-list-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-block-start: 1.5rem;
  padding-block-end: 2rem;
  border-block: 1px solid var(--senary-contrast);
}

.adev-reference-list-form-part-two {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.adev-reference-list-empty {
  flex-basis: 100%;
  p {
    font-size: 1rem;
  }
}

.adev-featured-list {
  display: block;
  padding-block-end: 1rem;
  margin-block: 1rem;
  border-top: 0;
  margin-top: -1.5rem;
}

.docs-api-item-label-full {
  white-space: nowrap;
}

.adev-status-dropdown {
  border: 1px solid var(--senary-contrast);
  border-radius: 0.25rem;
  padding: 0;
  transform: translateY(-0.7rem);
  max-height: 200px;
  overflow-y: auto;
  background: var(--page-background);

  li {
    list-style: none;
    width: 198px;
    box-sizing: border-box;

    button {
      background: var(--page-background);
      width: 100%;
      text-align: left;
      padding-block: 0.5rem;
      color: var(--quaternary-contrast);
      transition:
        color 0.3s ease,
        background 0.3s ease;
      font-weight: 400;

      &:hover {
        background: var(--senary-contrast);
        color: var(--primary-contrast);
      }
    }
  }
}

.adev-status-select {
  font-size: 1rem;
  color: var(--quaternary-contrast);
  button {
    border: 1px solid var(--senary-contrast);
    border-radius: 0.25rem;
    width: 200px;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    transition: border 0.3s ease;
    &:focus-visible {
      outline: 1px solid var(--french-violet);
    }
    span {
      color: var(--tertiary-contrast);
      transition: color 0.3s ease;
      margin-inline-start: 0.1rem;
    }

    docs-icon {
      font-size: 1.3rem;
      color: var(--quaternary-contrast);
      transition: color 0.3s ease;
    }
  }
}
