.mat-mdc-menu-item {
  color: darkblue;
}

.mat-mdc-menu-panel {
  padding: 12px;
}


/* TODO(mdc-migration): The following rule targets internal classes of menu that may no longer apply for the MDC version. */
.mat-mdc-menu-item .mat-menu-submenu-icon { padding: 12px; }
