.demo-root {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding: 20px;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.demo-content {
  padding: 15px;
}
