.demo-root {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding: 20px;
  min-height: 1000px;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  md-toolbar {
    i {
      padding: 20px;
      cursor: pointer;
    }

    .demo-toolbar {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    button {
      color: white;
    }
  }

  h1 {
    font-size: 20px;
  }

}

.demo-content {
  padding: 15px;
}
