@use 'sass:map';
@use '@angular/material' as mat;

@mixin strong-focus-indicators($config: ()) {
  // Default focus indicator config.
  $default-config: (
    border-color: black,
    display: block,
  );

  // Merge default config with user config.
  $config: map.merge($default-config, $config);

  @include mat.focus-indicators-private-private-customize-focus-indicators($config, 'mat-mdc');
}
