@use '@angular/material' as mat;
@use 'sass:map';
@use 'sass:meta';

// stylelint-disable-next-line material/theme-mixin-api
@mixin color($config-or-theme-or-color) {
  @if meta.type-of($config-or-theme-or-color) == 'color' {
    @include mat.focus-indicators-private-private-customize-focus-indicators((
      border-color: $config-or-theme-or-color
    ), 'mat-mdc');
  }
  @else {
    $config: mat.get-color-config($config-or-theme-or-color);
    $border-color: mat.get-color-from-palette(map.get($config, primary));
    @include mat.focus-indicators-private-private-customize-focus-indicators((
      border-color: $border-color
    ), 'mat-mdc');
  }
}

// stylelint-disable-next-line material/theme-mixin-api
@mixin theme($theme-or-color-config-or-color) {
  @if meta.type-of($theme-or-color-config-or-color) == 'color' {
    @include mat.focus-indicators-private-private-customize-focus-indicators((
      border-color: $theme-or-color-config-or-color
    ), 'mat-mdc');
  }
  @else {
    $theme: mat.private-legacy-get-theme($theme-or-color-config-or-color);
    @include mat.private-check-duplicate-theme-styles($theme, 'mat-mdc-focus-indicators') {
      $color: mat.get-color-config($theme);
      @if $color != null {
        @include color($color);
      }
    }
  }
}
