@import '@angular/material/core/theming/all-theme';

// Include core material styles.
@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink);

$light-theme: mat-light-theme($primary, $accent);
$dark-theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($light-theme);

.demo-dark-theme {
  @include angular-material-theme($dark-theme);
}
