.demo-nav-bar {
  border: 1px solid #e0e0e0;
  margin-bottom: 40px;
  [md-tab-nav-bar] {
    background: #f9f9f9;
  }
  sunny-routed-content,
  rainy-routed-content,
  foggy-routed-content {
    display: block;
    padding: 12px;
  }
}

.demo-tab-group {
  border: 1px solid #e0e0e0;
  margin-bottom: 40px;
  .md-tab-header {
    background: #f9f9f9;
  }
  .md-tab-body-content {
    padding: 12px;
  }
}

tabs-demo md-card {
  width: 160px;

}

.demo-dynamic-tabs {
  display: flex;
  width: 100%;

  md-tab-group {
    min-width: 200px;
    margin-bottom: 0;
    flex-grow: 1;
  }

  md-card {
    min-width: 160px;
    margin-right: 16px;

    md-checkbox {
      display: block;
      margin-top: 8px;
    }

    md-input {
      width: 100px;
    }

    button {
      width: 100%;
    }
  }
}