@use '@material/tab-indicator' as mdc-tab-indicator;
@use '../../material/core/style/private';
@use '../mdc-helpers/mdc-helpers';
@use './tabs-common';

@include mdc-tab-indicator.core-styles($query: mdc-helpers.$mat-base-styles-query);
@include tabs-common.paginated-tab-header;

.mat-mdc-tab-label-container {
  @include tabs-common.paginated-tab-header-container;
}

.mat-mdc-tab-header-pagination-disabled {
  box-shadow: none;
  cursor: default;
  opacity: 0.4;
}

.mat-mdc-tab-labels {
  @include tabs-common.paginated-tab-header-item-wrapper('.mat-mdc-tab-header');
}
