@import '@material/tab-indicator/mixins';
@import '../../material/core/style/noop-animation';
@import '../mdc-helpers/mdc-helpers';
@import './tabs-common';

@include mdc-tab-indicator-core-styles($query: $mat-base-styles-query);
@include mat-mdc-paginated-tab-header;

.mat-mdc-tab-label-container {
  @include mat-mdc-paginated-tab-header-container;
}

.mat-mdc-tab-header-pagination-disabled {
  box-shadow: none;
  cursor: default;
  opacity: 0.4;
}

.mat-mdc-tab-labels {
  @include mat-mdc-paginated-tab-header-item-wrapper;
}
