@use 'sass:map';
@use '@material/menu-surface' as mdc-menu-surface;
@use '@material/list/evolution-mixins' as mdc-list-mixins;
@use '@material/list/evolution-variables' as mdc-list-variables;
@use '../../material/core/style/menu-common';
@use '../../material/core/style/button-common';
@use '../../cdk/a11y';
@use '../mdc-helpers/mdc-helpers';

@include mdc-menu-surface.core-styles($query: structure);

// Prevent rendering mat-menu as it can affect the flex layout.
mat-menu {
  display: none;
}

.mat-mdc-menu-content {
  @include mdc-list-mixins.list-base($query: structure);
}

.mat-mdc-menu-panel {
  // Include Material's base menu panel styling which contain the `min-width`, `max-width` and some
  // styling to make scrolling smoother. MDC doesn't include the `min-width` and `max-width`, even
  // though they're explicitly defined in spec.
  @include menu-common.base;

  // The CDK positioning uses flexbox to anchor the element, whereas MDC uses `position: absolute`.
  position: static;

  @include a11y.high-contrast(active, off) {
    outline: solid 1px;
  }
}

.mat-mdc-menu-item {
  @include mdc-list-mixins.item-base;
  @include mdc-list-mixins.item-spacing(
    mdc-list-variables.$side-padding, $query: mdc-helpers.$mat-base-styles-query);

  // MDC's menu items are `<li>` nodes which don't need resets, however ours
  // can be anything, including buttons, so we need to do the reset ourselves.
  @include button-common.reset;
  cursor: pointer;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  background: none;
  text-decoration: none;

  // Set the `min-height` here ourselves, instead of going through
  // the `mdc-list-one-line-item-density` mixin, because it sets a `height`
  // which doesn't work well with multi-line items.
  $height-config: map.get(mdc-list-variables.$one-line-item-density-config, height);
  min-height: map.get($height-config, default);

  &[disabled] {
    // Usually every click inside the menu closes it, however some browsers will stop events
    // when the user clicks on a disabled item, **except** when the user clicks on a non-disabled
    // child node of the disabled button. This is inconsistent because some regions of a disabled
    // button will still cause the menu to close and some won't (see #16694). We make the behavior
    // more consistent by disabling pointer events and allowing the user to click through.
    pointer-events: none;
    cursor: default;

    // This is the same as `mdc-list-mixins.list-disabled-opacity` which
    // we can't use directly, because it comes with some selectors.
    opacity: mdc-list-variables.$content-disabled-opacity;
  }

  .mat-icon {
    margin-right: mdc-list-variables.$side-padding;
  }

  [dir='rtl'] & {
    text-align: right;

    .mat-icon {
      margin-right: 0;
      margin-left: mdc-list-variables.$side-padding;
    }
  }

  // Needs to be overwritten explicitly, because the style can
  // leak in from the list and cause the text to truncate.
  .mdc-list-item__primary-text {
    white-space: normal;
  }

  @include a11y.high-contrast(active, off) {
    $outline-width: 1px;

    // We need to move the item 1px down, because Firefox seems to have
    // an issue rendering the top part of the outline (see #21524).
    margin-top: $outline-width;

    &.cdk-program-focused,
    &.cdk-keyboard-focused,
    &-highlighted {
      outline: dotted $outline-width;
    }
  }
}

.mat-mdc-menu-item-submenu-trigger {
  @include menu-common.item-submenu-trigger(mdc-list-variables.$side-padding);
}

.mat-mdc-menu-submenu-icon {
  @include menu-common.item-submenu-icon(mdc-list-variables.$side-padding);
}

// Increase specificity because ripple styles are part of the `mat-core` mixin and can
// potentially overwrite the absolute position of the container.
.mat-mdc-menu-item .mat-mdc-menu-ripple {
  @include menu-common.item-ripple;
}
