@import '~@angular/material/_theming';

$dashboard-primary: mat-palette($mat-blue);
$dashboard-accent: mat-palette($mat-grey);
$dashboard-light-theme: mat-light-theme($dashboard-primary, $dashboard-accent);

@include mat-core();

// Only include the theme of the components that are used.
@include mat-toolbar-theme($dashboard-light-theme);
@include mat-progress-spinner-theme($dashboard-light-theme);
@include mat-card-theme($dashboard-light-theme);

body {
  // As a custom background for the dashboard we want to use hue 200 of the grey palette.
  // Setting the body style manually is easier than overwriting the whole $background variables.
  background-color: map_get($mat-grey, 200);
}
