<h1 id="toc">Pipes</h1>
<a href="#date-pipe">Date Pipe</a>
<a href="#date-pipe-formatting">Date Pipe Formatting</a>
<a href="#currency-pipe-formatting">Currency Pipe Formatting</a>
<a href="#pipe-chaining">Pipe Chaining</a>
<a href="#power-booster">Power Booster custom pipe</a>
<!-- Only used in deprecated `pipes.md` -->
<a href="#power-boost-calc">Power Boost Calculator custom pipe with params</a>
<a href="#hero-message">Async Messages and AsyncPipe</a>
<a href="#json-pipe">Json Pipe for Debugging</a>
<a href="#pipe-precedence">Pipes and Precedence</a>
<!-- Only used in deprecated `pipes.md` -->
<a href="#flying-heroes">Flying Heroes filter pipe (pure)</a>
<!-- Only used in deprecated `pipes.md` -->
<a href="#flying-heroes-impure">Flying Heroes filter pipe (impure)</a>
<!-- Only used in deprecated `pipes.md` -->
<a href="#hero-list">Hero List with caching FetchJsonPipe</a>

<hr>
<h2 id="date-pipe">Date Pipe</h2>
<app-birthday></app-birthday>

<hr>
<h2 id="date-pipe-formatting">Date Pipe Formatting</h2>
<app-birthday-formatting></app-birthday-formatting>

<hr>
<h2 id="currency-pipe-formatting">Currency Pipe Formatting</h2>
<app-currency-formatting></app-currency-formatting>

<hr>
<h2 id="pipe-chaining">Pipe Chaining</h2>
<app-birthday-pipe-chaining></app-birthday-pipe-chaining>

<hr>
<app-power-booster id="power-booster"></app-power-booster>

<!-- Only used in deprecated `pipes.md` -->
<hr>
<app-power-boost-calculator id="power-boost-calc">loading</app-power-boost-calculator>

<h2 id="pipe-precedence">Pipes and Precedence</h2>
<app-pipe-precedence></app-pipe-precedence>

<hr>
<app-hero-async-message id="hero-message"></app-hero-async-message>

<hr>
<h2 id="json-pipe">Json Pipe for Debugging</h2>
<p>Use the JsonPipe to display component properties for debugging.</p>
<code>data | json</code>
<p>
  <app-json-pipe></app-json-pipe>
</p>

<!-- Only used in deprecated `pipes.md` -->
<hr>
<app-flying-heroes id="flying-heroes"></app-flying-heroes>

<!-- Only used in deprecated `pipes.md` -->
<hr>
<app-flying-heroes-impure id="flying-heroes-impure"></app-flying-heroes-impure>

<!-- Only used in deprecated `pipes.md` -->
<hr>
<app-hero-list id="hero-list"></app-hero-list>
