<h2>Heroes from JSON File</h2>

<div *ngFor="let hero of ('assets/heroes.json' | fetch) ">
  {{hero.name}}
</div>

<p>Heroes as JSON:
  {{'assets/heroes.json' | fetch | json}}
</p>`

<h2>Compiled example of hero List</h2>

<!-- #docregion herosList -->
<p>
Heroes from JSON File

<!-- #enddocregion herosList -->
</p>
<!-- #docregion herosList -->
<p>
Windstorm
Bombasto
Magneto
Tornado

Heroes as JSON: [ { "name": "Windstorm", "canFly": true }, { "name": "Bombasto", "canFly": false }, { "name": "Magneto", "canFly": false }, { "name": "Tornado", "canFly": true } ]
<!-- #enddocregion herosList -->
</p>
