<as-split
  unit="percent"
  [direction]="'vertical'"
  [gutterSize]="9"
  (dragStart)="resizingDevtools.set(true)"
  (dragEnd)="resizingDevtools.set(false)"
>
  <as-split-area size="40">
    <iframe
      #ref
      src="demo-app/todos/app"
      id="sample-app"
      title="todos-app"
      [style.pointer-events]="resizingDevtools() ? 'none' : 'auto'"
    ></iframe>
  </as-split-area>
  <as-split-area size="60">
    <div class="devtools-wrapper">
      <ng-devtools></ng-devtools>
    </div>
  </as-split-area>
</as-split>
