<as-split
  unit="percent"
  [direction]="'vertical'"
  [gutterSize]="9"
  (dragStart)="resizingDevtools.set(true)"
  (dragEnd)="resizingDevtools.set(false)"
>
  <as-split-area size="40">
    <iframe
      src="demo-app/todos/app"
      id="sample-app"
      title="todos-app"
      [style.pointer-events]="resizingDevtools() ? 'none' : 'auto'"
      (load)="iframeLoaded.set(true)"
    ></iframe>
  </as-split-area>
  <as-split-area size="60">
    <div class="devtools-wrapper">
      @if (iframeLoaded()) {
        <!-- We want to ensure that the extension is loaded after the client app. -->
        <ng-devtools />
      }
    </div>
  </as-split-area>
</as-split>
