<section class="class-overview">
  <h2>Interface Overview</h2>
  <div class="api-doc-code">

    <code class="no-bg openParens">interface {$ doc.name $} {</code>

    {% if doc.members.length %}
    <div class="members">
      {% for member in doc.members %}{% if not member.internal %}
        <pre class="prettyprint no-bg-with-indent"><code>
          <a class="code-anchor" href="#{$ member.name $}-anchor">{$ member.name | indent(6, false) | trim $}</a>
          {$ params.paramList(member.parameters) | indent(8, false) | trim $}{$ params.returnType(member.returnType) $}
        </code></pre>
      {% endif %}{% endfor %}
    {% endif %}

    <code class="endParens api-doc-code no-bg">}</code>
  </div>
</section>