@use '../../constants' as *;
@use '~@angular/material/theming' as *;

@mixin resources-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  aio-resource-list {
    .subcategory-title {
      background-color: if($is-dark-theme, $deepgray, $mist);
    }

    .resource-row-link {
      background-color: if($is-dark-theme, $darkgray, $white);

      &:hover {
        border-color: if($is-dark-theme, rgba($lightblue, 0.5), rgba($blue, 0.5));
        box-shadow: 0 8px 8px rgb(1 131 163 / 24%), 0 0 8px rgb(1 67 163 / 12%), 0 6px 18px rgb(43 133 231 / 12%);
      }
    }
  }
}
