@use '@angular/cdk';
@use 'sass:math';

@use '../../core/style/menu-common';
@use '../../core/style/vendor-prefixes';
@use '../../core/style/layout-common';

.mat-option {
  @include menu-common.item-base();
  position: relative;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  box-sizing: border-box;
  align-items: center;
  -webkit-tap-highlight-color: transparent;

  &[aria-disabled='true'] {
    @include vendor-prefixes.user-select(none);
    cursor: default;
  }

  .mat-optgroup &:not(.mat-option-multiple) {
    padding-left: menu-common.$side-padding * 2;

    [dir='rtl'] & {
      padding-left: menu-common.$side-padding;
      padding-right: menu-common.$side-padding * 2;
    }
  }

  // For options, render the focus indicator when the class .mat-active is present.
  &.mat-active::before {
    content: '';
  }

  @include cdk.high-contrast(active, off) {
    // Fade out the option when it is disabled so that it can be distinguished from the enabled
    // options. Note that ideally we'd use `color: GreyText` here which is what the browser uses
    // for disabled buttons, but we can't because Firefox doesn't recognize it.
    &[aria-disabled='true'] {
      opacity: 0.5;
    }

    // In single selection mode, the selected option is indicated by changing its
    // background color, but that doesn't work in high contrast mode. We add an
    // alternate indication by rendering out a circle.
    &.mat-selected:not(.mat-option-multiple)::after {
      $size: 10px;
      content: '';
      position: absolute;
      top: 50%;
      right: menu-common.$side-padding;
      transform: translateY(-50%);
      width: $size;
      height: 0;
      border-bottom: solid $size;
      border-radius: $size;
    }

    [dir='rtl'] &.mat-selected:not(.mat-option-multiple)::after {
      right: auto;
      left: menu-common.$side-padding;
    }
  }
}

// Collapses unwanted whitespace created by newlines in code like the following:
// <mat-option>
//   {{value}}
// </mat-option>
.mat-option-text {
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Increase specificity because ripple styles are part of the `mat-core` mixin and can
// potentially overwrite the absolute position of the container.
.mat-option .mat-option-ripple {
  @include layout-common.fill;

  // Disable pointer events for the ripple container because the container will overlay the
  // user content and we don't want to disable mouse events on the user content.
  // Pointer events can be safely disabled because the ripple trigger element is the host element.
  pointer-events: none;
}

.mat-option-pseudo-checkbox {
  $margin: math.div(menu-common.$side-padding, 2);
  margin-right: $margin;

  [dir='rtl'] & {
    margin-left: $margin;
    margin-right: 0;
  }
}
