nav a {
  padding: 1rem;
  font-size: 1rem;
  background-color: #e8e8e8;
  color: #3d3d3d;
}

@media (min-width: 400px) {
  nav a {
    font-size: 1.2rem;
  }
}

nav a:hover {
  color: white;
  background-color: #42545C;
 }

nav a.active {
  background-color: black;
  color: white;
}
