.spacer {
  background: #3f51b5;
  margin-bottom: 10px;
}

.spacer.vertical {
  width: 100px;
  height: 3000px;
}

.spacer.horizontal {
  width: 3000px;
  height: 100px;
}

.scroller {
  width: 100px;
  height: 100px;
  overflow: auto;
  position: absolute;
  top: 100px;
  left: 200px;
}

.scroller-spacer {
  width: 200px;
  height: 200px;
  background: #ff4081;
}
