<h2>Heroes</h2>
<div class="search">
  <label for="hero-name">Hero name: </label>
  <input type="text" #heroNameInput [(ngModel)]="heroName" id="hero-name">

  <button type="button" [disabled]="!heroName"
    (click)="addOrEditHero(heroName)">
    {{ !editHero ? 'Add' : 'Edit selected' + ' hero' }}
  </button>
  <button type="button" [disabled]="editHero" (click)="search(heroName)">
    Search
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button type="button" class="edit" [class.selected]="hero===editHero" (click)="updateSelectedHeroForEditing(hero)">
      <span class="badge">{{ hero.id || -1 }}</span>
      <span>{{hero.name}}</span>
    </button>
    <button type="button" class="delete" title="delete hero"
      (click)="delete(hero)">
      x
    </button>
  </li>
</ul>
