.mat-datepicker-actions {
  $spacing: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 $spacing $spacing $spacing;

  .mat-mdc-button-base + .mat-mdc-button-base {
    margin-left: $spacing;

    [dir='rtl'] & {
      margin-left: 0;
      margin-right: $spacing;
    }
  }
}
