<div class="adev-footer-container">
  <div class="adev-footer-columns">
    <div>
      <h2>Social Media</h2>
      <ul>
        <li *ngFor="let link of links.socialMedia | keyvalue">
          <a [href]="link.value.href" [title]="link.value.title">{{ link.key | titlecase }}</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Community</h2>
      <ul>
        <li *ngFor="let link of links.community | keyvalue">
          <a [href]="link.value.href" [title]="link.value.title">{{ link.key | titlecase }}</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Resources</h2>
      <ul>
        <li *ngFor="let link of links.resources | keyvalue">
          <a
            *ngIf="link.value.routerLink"
            [routerLink]="link.value.routerLink"
            [title]="link.value.title"
            >{{ link.key | titlecase }}</a
          >
          <a *ngIf="link.value.href" [href]="link.value.href" [title]="link.value.title">{{
            link.key | titlecase
          }}</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Languages</h2>
      <ul>
        <li *ngFor="let link of links.languages | keyvalue">
          <a [href]="link.value.href" [title]="link.value.title">{{ link.key | titlecase }}</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="docs-license">
    Super-powered by Google ©2010-2024. Code licensed under an
    <a routerLink="/license" title="License text">MIT-style License</a>. Documentation licensed under
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
  </p>
</div>