<div class="adev-footer-container">
  <div class="adev-footer-columns">
    <div>
      <h2>Социальные сети</h2>
      <ul>
        <li>
          <a [href]="ngLinks.MEDIUM" title="Блог Angular">Блог</a>
        </li>
        <li>
          <a [href]="ngLinks.BLUESKY" title="Bluesky">Bluesky</a>
        </li>
        <li>
          <a [href]="ngLinks.YOUTUBE" title="YouTube">YouTube</a>
        </li>
        <li>
          <a [href]="ngLinks.DISCORD" title="Присоединяйтесь к обсуждениям на сервере сообщества Angular в Discord.">
            Discord
          </a>
        </li>
        <li>
          <a [href]="ngLinks.GITHUB" title="GitHub">GitHub</a>
        </li>
        <li>
          <a [href]="ngLinks.STACKOVERFLOW"
            title="Stack Overflow: где сообщество отвечает на ваши технические вопросы по Angular.">
            Stack Overflow
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Сообщество</h2>
      <ul>
        <li>
          <a href="https://github.com/angular/angular/blob/main/CONTRIBUTING.md" title="Внести вклад в Angular">
            Внести вклад
          </a>
        </li>
        <li>
          <a href="https://github.com/angular/code-of-conduct/blob/main/CODE_OF_CONDUCT.md"
            title="Относиться друг к другу с уважением.">
            Кодекс поведения
          </a>
        </li>
        <li>
          <a href="https://github.com/angular/angular/issues" title="Сообщить об ошибках и предложениях на GitHub.">
            Сообщить об ошибке
          </a>
        </li>
        <li>
          <a href="https://devlibrary.withgoogle.com/products/angular?sort=updated" title="Google's DevLibrary">
            Google's DevLibrary
          </a>
        </li>
        <li>
          <a href="https://developers.google.com/community/experts/directory?specialization=angular"
            title="Angular Google Developer Experts">
            Angular Google Developer Experts
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Ресурсы</h2>
      <ul>
        <li>
          <a routerLink="/press-kit" title="Контакты для прессы, логотипы и брендинг.">Пресс-кит</a>
        </li>
        <li>
          <a routerLink="/roadmap" title="Дорожная карта">Дорожная карта</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Языки</h2>
      <ul>
        <li>
          <a href="https://angular.cn/" title="简体中文版">简体中文版</a>
        </li>
        <li>
          <a href="https://dev.angular.tw/" title="正體中文版">正體中文版</a>
        </li>
        <li>
          <a href="https://angular.jp/" title="日本語版">日本語版</a>
        </li>
        <li>
          <a href="https://angular.kr/" title="한국어">한국어</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="docs-license">
    При поддержке Google ©2010-2025. Код под лицензией
    <a routerLink="/license" title="Текст лицензии">MIT-style License</a>
    . Документация под лицензией
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
    . Собрано Angular версии v{{angularVersion}}.
  </p>
</div>