<html lang="en"><head></head><body><form id="mainForm" method="post" action="http://plnkr.co/edit/?p=preview" target="_self"><input type="hidden" name="files[app/app.component.ts]" value="import { Component } from '@angular/core';

import { heroes } from './hero';

@Component({
  moduleId: module.id,
  selector: 'my-app',
  templateUrl: './app.component.html',
  styleUrls: [ './app.component.css' ]
})
export class AppComponent {
  heroes = heroes;
  hero = this.heroes[0];
  heroTraits = [ 'honest', 'brave', 'considerate' ];

  // flags for the table
  attrDirs = true;
  strucDirs = true;
  divNgIf = false;

  showId = true;
  showDefaultTraits = true;
  showSad = true;
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/app.module.ts]" value="import { NgModule }      from '@angular/core';
import { FormsModule }   from '@angular/forms';
import { BrowserModule } from '@angular/platform-browser';

import { AppComponent }     from './app.component';
import { ContentComponent } from './content.component';
import { heroComponents } from './hero.components';

@NgModule({
  imports: [ BrowserModule, FormsModule ],
  declarations: [
    AppComponent,
    ContentComponent,
    heroComponents
  ],
  bootstrap: [ AppComponent ]
})
export class AppModule { }


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/content.component.ts]" value="import { Component } from '@angular/core';

@Component({
  selector: 'content-comp',
  template:
    `<div>
      <ng-content></ng-content>
    </div>`,
  styles: [ `
    div { border: medium dashed green; padding: 1em; width: 150px; text-align: center}
  `]
})
export class ContentComponent { }


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero.components.ts]" value="import { Component, Input } from '@angular/core';
import { Hero } from './hero';

@Component({
  selector: 'happy-hero',
  template: `Wow. You like {{hero.name}}. What a happy hero ... just like you.`
})
export class HappyHeroComponent {
  @Input() hero: Hero;
}

@Component({
  selector: 'sad-hero',
  template: `You like {{hero.name}}? Such a sad hero. Are you sad too?`
})
export class SadHeroComponent {
  @Input() hero: Hero;
}

@Component({
  selector: 'confused-hero',
  template: `Are you as confused as {{hero.name}}?`
})
export class ConfusedHeroComponent {
  @Input() hero: Hero;
}

@Component({
  selector: 'unknown-hero',
  template: `{{message}}`
})
export class UnknownHeroComponent {
  @Input() hero: Hero;
  get message() {
    return this.hero &amp;&amp; this.hero.name ?
      `${this.hero.name} is strange and mysterious.` :
      'Are you feeling indecisive?';
  }
}

export const heroComponents =
  [ HappyHeroComponent, SadHeroComponent, ConfusedHeroComponent, UnknownHeroComponent ];


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero.ts]" value="export class Hero {
  id: number;
  name: string;
  emotion?: string;
}

export const heroes: Hero[] = [
  { id: 1, name: 'Mr. Nice',  emotion: 'happy'},
  { id: 2, name: 'Narco',     emotion: 'sad' },
  { id: 3, name: 'Windstorm', emotion: 'confused' },
  { id: 4, name: 'Magneta'}
];


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[main.ts]" value="import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { AppModule } from './app/app.module';

platformBrowserDynamic().bootstrapModule(AppModule);



/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/app.component.css]" value="button {
  min-width: 100px;
  font-size: 100%;
}

code, .code {
  background-color: #eee;
  color: black;
  font-family: Courier, sans-serif;
  font-size: 85%;
}

div.code {
  width: 400px;
}

.heroic {
  font-size: 150%;
  font-weight: bold;
}

hr {
  margin: 40px 0
}

td, th {
  text-align: left;
  vertical-align: top;
}

p span { color: red; font-size: 70%; }


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[styles.css]" value="/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}
.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/app.component.html]" value="<h1>&amp;lt;ng-container&amp;gt;</h1>

<div *ngIf=&quot;hero&quot;>{{hero.name}}</div>

<hr>

<h3>&amp;lt;ng-container&amp;gt; and CSS</h3>
<p>Examples demonstrating issues with rigid CSS styles.</p>

<button (click)=&quot;hero = hero ? null : heroes[0]&quot;>Toggle hero</button>

<h4>#1 &amp;lt;ng-container&amp;gt; and &amp;lt;p&amp;gt;</h4>
<p>
  I turned the corner
  <ng-container *ngIf=&quot;hero&quot;>
    and saw {{hero.name}}. I waved
  </ng-container>
  and continued on my way.
</p>
<p>
  I turned the corner
  <span *ngIf=&quot;hero&quot;>
    and saw {{hero.name}}. I waved
  </span>
  and continued on my way.
</p>

<h4>#2 &amp;lt;ng-container&amp;gt; and &amp;lt;p&amp;gt;</h4>

<div *ngIf=&quot;hero&quot;>
  <p>
    {{hero.name}} is
    <ng-container *ngFor=&quot;let trait of heroTraits; let first=first; let last=last&quot;>
      <ng-container *ngIf=&quot;!first&quot;>,</ng-container>
      <ng-container *ngIf=&quot;last&quot;>and</ng-container>
      {{trait}}
    </ng-container>.
  </p>

  <p>
    {{hero.name}} is
    <span *ngFor=&quot;let trait of heroTraits; let first=first; let last=last&quot;>
      <span *ngIf=&quot;!first&quot;>,</span>
      <span *ngIf=&quot;last&quot;>and</span>
      {{trait}}
    </span>.
  </p>

<br>

<h4>#3 &amp;lt;ng-container&amp;gt; and &amp;lt;p&amp;gt;</h4>
    <p>
      <label><input type=&quot;checkbox&quot; [checked]=&quot;showId&quot; (change)=&quot;showId=!showId&quot;>Show ID</label>
    </p>

  <div>
    The <code>hero.id</code> in the &amp;lt;span&amp;gt;
    is caught by the <span>p-span</span> CSS:
    <p>
      <span *ngIf=&quot;showId&quot;>
        Id: ({{hero.id}})
      </span>
      Name: {{hero.name}}
    </p>
  </div>

  <div>
    The <code>hero.id</code> in the &amp;lt;ng-container&amp;gt;
    is unaffected by the <span>p-span</span> CSS:
    <p>
      <ng-container *ngIf=&quot;showId&quot;>
        Id: ({{hero.id}})
      </ng-container>
      Name: {{hero.name}}
    </p>
  </div>

  <div>
    The <code>hero.id</code> in the &amp;lt;template *ngIf&amp;gt; disappears:
    <p>
      <template *ngIf=&quot;showId&quot;>
        Id: ({{hero.id}})
      </template>
      Name: {{hero.name}}
    </p>
  </div>

  <div>
    The <code>hero.id</code> in the &amp;lt;template [ngIf]&amp;gt;
    is unaffected by the <span>p-span</span> CSS:
    <p>
      <template [ngIf]=&quot;showId&quot;>
        Id: ({{hero.id}})
      </template>
      Name: {{hero.name}}
    </p>
  </div>

</div>

<hr>

<h3>&amp;lt;ng-container&amp;gt; and layout-sensitive elements</h3>
<p>
  Examples demonstrating issues with layout-sensitive elements
  such as &amp;lt;select&amp;gt; and &amp;lt;table&amp;gt;.
</p>

<h4>#1 &amp;lt;ng-container&amp;gt; and &amp;lt;options&amp;gt;</h4>

<p><i>&amp;lt;select&amp;gt; with &amp;lt;span&amp;gt;</i></p>
<div>
  Pick your favorite hero
  (<label><input type=&quot;checkbox&quot; checked (change)=&quot;showSad=!showSad&quot;>show sad</label>)
</div>
<select [(ngModel)]=&quot;hero&quot;>
  <span *ngFor=&quot;let h of heroes&quot;>
    <span *ngIf=&quot;showSad || h?.emotion != 'sad'&quot;>
      <option [ngValue]=&quot;h&quot;>{{h.name}} ({{h?.emotion}})</option>
    </span>
  </span>
</select>

<p><i>&amp;lt;select&amp;gt; with &amp;lt;ng-container&amp;gt;</i></p>
<div>
  Pick your favorite hero
  (<label><input type=&quot;checkbox&quot; checked (change)=&quot;showSad=!showSad&quot;>show sad</label>)
</div>
<select [(ngModel)]=&quot;hero&quot;>
  <ng-container *ngFor=&quot;let h of heroes&quot;>
    <ng-container *ngIf=&quot;showSad || h?.emotion != 'sad'&quot;>
      <option [ngValue]=&quot;h&quot;>{{h.name}} ({{h?.emotion}})</option>
    </ng-container>
  </ng-container>
</select>

<br><br><br><br>

<h4>#2 &amp;lt;ng-container&amp;gt; and &amp;lt;options&amp;gt;</h4>
<p>
  <label (change)=&quot;traitPicker.value=showDefaultTraits ? 'loyal' : heroTraits[0]&quot;>
    <input type=&quot;checkbox&quot;
          [checked]=&quot;showDefaultTraits&quot;
          (change)=&quot;showDefaultTraits=!showDefaultTraits&quot;>Show default traits
  </label>
</p>

<p>Options with &amp;lt;ng-container&amp;gt;</p>

<select #traitPicker>
  <ng-container *ngIf=&quot;showDefaultTraits&quot;>
    <!-- Default traits -->
    <option value=&quot;loyal&quot;>LOYAL</option>
    <option value=&quot;clean&quot;>CLEAN</option>
    <option value=&quot;reverent&quot;>REVERENT</option>
  </ng-container>
  <option *ngFor=&quot;let trait of heroTraits&quot; [value]=&quot;trait&quot;>
    {{ trait | uppercase }}
  </option>
</select>


<p>Options with &amp;lt;span&amp;gt;</p>
<select>
  <!-- Default traits are always excluded because intermediate <span> is illegal -->
  <span *ngIf=&quot;showDefaultTraits&quot;>
    <option value=&quot;loyal&quot;>LOYAL</option>
    <option value=&quot;clean&quot;>CLEAN</option>
    <option value=&quot;reverent&quot;>REVERENT</option>
  </span>
  <option *ngFor=&quot;let trait of heroTraits&quot; [value]=&quot;trait&quot;>
    {{ trait | uppercase }}
  </option>
</select>

<br>

<h4>&amp;lt;ng-container&amp;gt; and &amp;lt;table&amp;gt;</h4>
<p>
  <label><input type=&quot;checkbox&quot; checked (change)=&quot;attrDirs=!attrDirs&quot;>Attribute directives</label>
  <label><input type=&quot;checkbox&quot; checked (change)=&quot;strucDirs=!strucDirs&quot;>Structural directives</label>
  <label><input type=&quot;checkbox&quot; (change)=&quot;divNgIf=!divNgIf&quot;>div with *ngIf</label>
</p>

<table>
  <tr>
    <th width=&quot;20%&quot;>Directive</th>
    <th width=&quot;10%&quot;>Type</th>
    <th>Description</th>
  </tr>

  <tr *ngIf=&quot;attrDirs&quot;>
    <td>NgClass</td><td>A</td><td>Add or remove multiple CSS classes.</td>
  </tr>

<ng-container *ngIf=&quot;divNgIf&quot;>
  <div *ngIf=&quot;strucDirs&quot;>
    <tr>
      <td>xxx</td><td>S</td><td>div with *ngIf formats crazy.</td>
    </tr>
    <tr>
      <td>yyy</td><td>S</td><td>div with *ngIf formats crazy.</td>
    </tr>
  </div>
</ng-container>

  <ng-container *ngIf=&quot;strucDirs&quot;>
    <tr>
      <td>NgFor</td><td>S</td><td>Repeat the template for each item in a list.</td>
    </tr>
    <tr>
      <td>NgIf</td><td>S</td><td>Add or remove DOM elements.</td>
    </tr>
  </ng-container>

  <ng-container *ngIf=&quot;attrDirs&quot;>
    <tr>
      <td>NgStyle</td><td>A</td><td>Add or remove multiple style attributes.</td>
    </tr>
  </ng-container>

  <tr *ngIf=&quot;strucDirs&quot;>
    <td>NgSwitch</td><td>S</td><td>Include in DOM if case matches the switch value.</td>
  </tr>

</table>

<hr>

<h3>Do not confuse &amp;lt;ng-container&amp;gt; with &amp;lt;ng-content&amp;gt;</h3>

<p>&amp;lt;ng-container&amp;gt;Inside ng-container&amp;lt;/ng-container&amp;gt;</p>
<ng-container>Inside ng-container</ng-container>

<p>&amp;lt;ng-content&amp;gt;this is an Angular parse error&amp;lt;/ng-content&amp;gt;</p>
<!--  <ng-content>this is an Angular parse error</ng-content>  -->
<div class=&quot;code&quot;>Template parse errors:<br>
&amp;lt;ng-content&amp;gt; element cannot have content.</div>

<p>Demo of &amp;lt;/ng-content&amp;gt;</p>
<content-comp>
  Projected content
</content-comp>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="files[index.html]" value="<!DOCTYPE html>
<html>
  <head>
    <title>Angular &amp;lt;ng-container&amp;gt;</title>
    <meta charset=&quot;UTF-8&quot;>
    <meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;>
    <link rel=&quot;stylesheet&quot; href=&quot;styles.css&quot;>

    <!-- Polyfills -->
    <script src=&quot;https://unpkg.com/core-js/client/shim.min.js&quot;></script>

    <script src=&quot;https://unpkg.com/zone.js@0.7.4?main=browser&quot;></script>
    <script src=&quot;https://unpkg.com/systemjs@0.19.39/dist/system.src.js&quot;></script>

    <script src=&quot;https://cdn.rawgit.com/angular/angular.io/b3c65a9/public/docs/_examples/_boilerplate/systemjs.config.web.js&quot;></script>
    <script>
      System.import('main.js').catch(function(err){ console.error(err); });
    </script>
  </head>

  <body>
    <my-app>Loading...</my-apps>
  </body>

</html>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="tags[0]" value="angular"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="tags[2]" value="ngcontainer"><input type="hidden" name="tags[3]" value="structural"><input type="hidden" name="tags[4]" value="directives"><input type="hidden" name="private" value="true"><input type="hidden" name="description" value="Angular Example - <ng-container>"></form><script>document.getElementById("mainForm").submit();</script></body></html>