:host {
  display: block;
  padding-top: var(--layout-padding);
  padding-bottom: var(--layout-padding);

  .docs-viewer {
    &.docs-animate-content {
      animation: fade-in 500ms;
    }
  }

  //applying styles when TOC position got translated to the top right 
  @media only screen and (min-width: 1431px) {
    display: flex;
    justify-content: center;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}