@use '../../constants' as *;
@use '~@angular/material/theming' as *;

@mixin callout-theme($theme) {
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark-theme: map-get($theme, is-dark);


    .callout {      
        header {
          color: $white;
        }
      
        &.is-critical {
          border-color: $brightred;
          background: rgba($brightred, 0.05);
      
          header {
            background: $brightred;
          }
        }
      
        &.is-important {
          border-color: $orange;
          background: rgba($orange, 0.05);
      
          header {
            background: $amber-700;
          }
        }
      
        &.is-helpful {
          border-color: $blue;
          background: rgba($blue, 0.05);
      
          header {
            background: $blue;
          }
        }
      }
}
