@use '@angular/cdk';
@use 'sass:math';

@use '../core/style/variables';
@use '../core/style/vendor-prefixes';

// This refers to the thickness of the slider. On a horizontal slider this is the height, on a
// vertical slider this is the width.
$thickness: 48px !default;
$min-size: 128px !default;
$padding: 8px !default;

$track-thickness: 2px !default;
$thumb-size: 20px !default;
$thumb-border-width: 3px !default;
$thumb-border-width-active: 2px !default;
$thumb-border-width-disabled: 4px !default;

$thumb-default-scale: 0.7 !default;
$thumb-focus-scale: 1 !default;
$thumb-disabled-scale: 0.5 !default;

$thumb-arrow-gap: 12px !default;

$thumb-label-size: 28px !default;

$tick-size: 2px !default;

$focus-ring-size: 30px !default;


.mat-slider {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: $padding;
  outline: none;
  vertical-align: middle;

  &:not(.mat-slider-disabled):active,
  &.mat-slider-sliding:not(.mat-slider-disabled) {
    cursor: grabbing;
  }
}

.mat-slider-wrapper {
  // force browser to show background-color when using the print function
  @include vendor-prefixes.color-adjust(exact);
  position: absolute;
}

.mat-slider-track-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.mat-slider-track-fill {
  position: absolute;
  transform-origin: 0 0;
  transition:
    transform variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function,
    background-color variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function;
}

.mat-slider-track-background {
  position: absolute;
  transform-origin: 100% 100%;
  transition:
    transform variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function,
    background-color variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function;
}

.mat-slider-ticks-container {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.mat-slider-ticks {
  @include vendor-prefixes.private-background-clip(content-box);
  background-repeat: repeat;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity variables.$swift-ease-out-duration
    variables.$swift-ease-out-timing-function;
}

.mat-slider-thumb-container {
  position: absolute;
  z-index: 1;
  transition: transform variables.$swift-ease-out-duration
    variables.$swift-ease-out-timing-function;
}

.mat-slider-focus-ring {
  position: absolute;
  width: $focus-ring-size;
  height: $focus-ring-size;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition:
    transform variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function,
    background-color variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function,
    opacity variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function;

  .mat-slider.cdk-keyboard-focused &,
  .mat-slider.cdk-program-focused & {
    transform: scale(1);
    opacity: 1;
  }
}

%_mat-slider-cursor {
  .mat-slider:not(.mat-slider-disabled):not(.mat-slider-sliding) & {
    cursor: grab;
  }
}

.mat-slider-thumb {
  @extend %_mat-slider-cursor;

  position: absolute;
  right: math.div(-$thumb-size, 2);
  bottom: math.div(-$thumb-size, 2);
  box-sizing: border-box;
  width: $thumb-size;
  height: $thumb-size;
  border: $thumb-border-width solid transparent;
  border-radius: 50%;
  transform: scale($thumb-default-scale);
  transition:
    transform variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function,
    background-color variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function,
    border-color variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function;
}

.mat-slider-thumb-label {
  @extend %_mat-slider-cursor;

  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: $thumb-label-size;
  height: $thumb-label-size;
  border-radius: 50%;
  transition:
    transform variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function,
    border-radius  variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function,
    background-color  variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function;

  @include cdk.high-contrast(active, off) {
    outline: solid 1px;
  }
}

.mat-slider-thumb-label-text {
  z-index: 1;
  opacity: 0;
  transition: opacity variables.$swift-ease-out-duration variables.$swift-ease-out-timing-function;
}


// Slider sliding state.
.mat-slider-sliding {
  .mat-slider-track-fill,
  .mat-slider-track-background,
  .mat-slider-thumb-container {
    // Must use `transition-duration: 0ms` to disable animation rather than `transition: none`.
    // On Mobile Safari `transition: none` causes the slider thumb to appear stuck.
    transition-duration: 0ms;
  }
}


// Slider with ticks when not disabled.
.mat-slider-has-ticks {

  .mat-slider-wrapper::after {
    content: '';
    position: absolute;
    border-width: 0;
    border-style: solid;
    opacity: 0;
    transition: opacity variables.$swift-ease-out-duration
      variables.$swift-ease-out-timing-function;
  }

  &.cdk-focused,
  &:hover {
    &:not(.mat-slider-hide-last-tick) {
      .mat-slider-wrapper::after {
        opacity: 1;
      }
    }

    &:not(.mat-slider-disabled) .mat-slider-ticks {
      opacity: 1;
    }
  }
}


// Slider with thumb label.
.mat-slider-thumb-label-showing {
  .mat-slider-focus-ring {
    display: none;
  }

  .mat-slider-thumb-label {
    display: flex;
  }
}


// Inverted slider.
.mat-slider-axis-inverted {
  .mat-slider-track-fill {
    transform-origin: 100% 100%;
  }

  .mat-slider-track-background {
    transform-origin: 0 0;
  }
}


// Active slider.
.mat-slider:not(.mat-slider-disabled) {
  &.cdk-focused {
    &.mat-slider-thumb-label-showing .mat-slider-thumb {
      transform: scale(0);
    }

    .mat-slider-thumb-label {
      border-radius: 50% 50% 0;
    }

    .mat-slider-thumb-label-text {
      opacity: 1;
    }
  }

  &.cdk-mouse-focused,
  &.cdk-touch-focused,
  &.cdk-program-focused {
    .mat-slider-thumb {
      border-width: $thumb-border-width-active;
      transform: scale($thumb-focus-scale);
    }
  }
}


// Disabled slider.
.mat-slider-disabled {
  .mat-slider-focus-ring {
    transform: scale(0);
    opacity: 0;
  }

  .mat-slider-thumb {
    border-width: $thumb-border-width-disabled;
    transform: scale($thumb-disabled-scale);
  }

  .mat-slider-thumb-label {
    display: none;
  }
}


// Horizontal slider.
.mat-slider-horizontal {
  height: $thickness;
  min-width: $min-size;

  .mat-slider-wrapper {
    height: $track-thickness;
    top: math.div($thickness - $track-thickness, 2);
    left: $padding;
    right: $padding;
  }

  .mat-slider-wrapper::after {
    height: $track-thickness;
    border-left-width: $tick-size;
    right: 0;
    top: 0;
  }

  .mat-slider-track-wrapper {
    height: $track-thickness;
    width: 100%;
  }

  .mat-slider-track-fill {
    height: $track-thickness;
    width: 100%;
    transform: scaleX(0);
  }

  .mat-slider-track-background {
    height: $track-thickness;
    width: 100%;
    transform: scaleX(1);
  }

  .mat-slider-ticks-container {
    height: $track-thickness;
    width: 100%;

    @include cdk.high-contrast(active, off) {
      height: 0;
      outline: solid $track-thickness;
      top: math.div($track-thickness, 2);
    }
  }

  .mat-slider-ticks {
    height: $track-thickness;
    width: 100%;
  }

  .mat-slider-thumb-container {
    width: 100%;
    height: 0;
    top: 50%;
  }

  .mat-slider-focus-ring {
    top: math.div(-$focus-ring-size, 2);
    right: math.div(-$focus-ring-size, 2);
  }

  .mat-slider-thumb-label {
    right: math.div(-$thumb-label-size, 2);
    top: -($thumb-label-size + $thumb-arrow-gap);
    transform: translateY(math.div($thumb-label-size, 2) + $thumb-arrow-gap)
        scale(0.01)
        rotate(45deg);
  }

  .mat-slider-thumb-label-text {
    transform: rotate(-45deg);
  }

  &.cdk-focused {
    .mat-slider-thumb-label {
      transform: rotate(45deg);
    }

    @include cdk.high-contrast(active, off) {
      .mat-slider-thumb-label,
      .mat-slider-thumb-label-text {
        transform: none;
      }
    }
  }
}


// Vertical slider.
.mat-slider-vertical {
  width: $thickness;
  min-height: $min-size;

  .mat-slider-wrapper {
    width: $track-thickness;
    top: $padding;
    bottom: $padding;
    left: math.div($thickness - $track-thickness, 2);
  }

  .mat-slider-wrapper::after {
    width: $track-thickness;
    border-top-width: $tick-size;
    bottom: 0;
    left: 0;
  }

  .mat-slider-track-wrapper {
    height: 100%;
    width: $track-thickness;
  }

  .mat-slider-track-fill {
    height: 100%;
    width: $track-thickness;
    transform: scaleY(0);
  }

  .mat-slider-track-background {
    height: 100%;
    width: $track-thickness;
    transform: scaleY(1);
  }

  .mat-slider-ticks-container {
    width: $track-thickness;
    height: 100%;

    @include cdk.high-contrast(active, off) {
      width: 0;
      outline: solid $track-thickness;
      left: math.div($track-thickness, 2);
    }
  }

  .mat-slider-focus-ring {
    bottom: math.div(-$focus-ring-size, 2);
    left: math.div(-$focus-ring-size, 2);
  }

  .mat-slider-ticks {
    width: $track-thickness;
    height: 100%;
  }

  .mat-slider-thumb-container {
    height: 100%;
    width: 0;
    left: 50%;
  }

  .mat-slider-thumb {
    @include vendor-prefixes.backface-visibility(hidden);
  }

  .mat-slider-thumb-label {
    bottom: math.div(-$thumb-label-size, 2);
    left: -($thumb-label-size + $thumb-arrow-gap);
    transform: translateX(math.div($thumb-label-size, 2) + $thumb-arrow-gap)
        scale(0.01)
        rotate(-45deg);
  }

  .mat-slider-thumb-label-text {
    transform: rotate(45deg);
  }

  &.cdk-focused {
    .mat-slider-thumb-label {
      transform: rotate(-45deg);
    }
  }
}


// Slider in RTL languages.
[dir='rtl'] {
  .mat-slider-wrapper::after {
    left: 0;
    right: auto;
  }

  .mat-slider-horizontal {
    .mat-slider-track-fill {
      transform-origin: 100% 100%;
    }

    .mat-slider-track-background {
      transform-origin: 0 0;
    }

    &.mat-slider-axis-inverted {
      .mat-slider-track-fill {
        transform-origin: 0 0;
      }

      .mat-slider-track-background {
        transform-origin: 100% 100%;
      }
    }
  }
}

// Slider inside a component with disabled animations.
.mat-slider._mat-animation-noopable {
  .mat-slider-track-fill,
  .mat-slider-track-background,
  .mat-slider-ticks,
  .mat-slider-thumb-container,
  .mat-slider-focus-ring,
  .mat-slider-thumb,
  .mat-slider-thumb-label,
  .mat-slider-thumb-label-text,
  .mat-slider-has-ticks .mat-slider-wrapper::after {
    transition: none;
  }
}
