 <!-- #docregion -->
<div class="container">

  <h2>Reactive Form</h2>

  <form [formGroup]="actorForm" #formDir="ngForm">

    <div [hidden]="formDir.submitted">

      <div class="cross-validation" [class.cross-validation-error]="actorForm.hasError('unambiguousRole') && (actorForm.touched || actorForm.dirty)">
        <div class="form-group">

          <label for="name">Name</label>
          <!-- #docregion name-with-error-msg -->
          <input type="text" id="name" class="form-control"
                formControlName="name" required>

          <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger">

            <div *ngIf="name.hasError('required')">
              Name is required.
            </div>
            <div *ngIf="name.hasError('minlength')">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="name.hasError('forbiddenName')">
              Name cannot be Bob.
            </div>
          </div>
          <!-- #enddocregion name-with-error-msg -->
        </div>

        <div class="form-group">
          <label for="role">Role</label>
          <input type="text" id="role" class="form-control"
              formControlName="role">

          <div *ngIf="role.pending">Validating...</div>
          <div *ngIf="role.invalid" class="alert alert-danger role-errors">
            <div *ngIf="role.hasError('uniqueRole')">
              Role is already taken.
            </div>
          </div>
        </div>

        <!-- #docregion cross-validation-error-message -->
        <div *ngIf="actorForm.hasError('unambiguousRole') && (actorForm.touched || actorForm.dirty)" class="cross-validation-error-message alert alert-danger">
            Name cannot match role or audiences will be confused.
        </div>
        <!-- #enddocregion cross-validation-error-message -->
      </div>

      <div class="form-group">
        <label for="skill">Skill</label>
        <select id="skill" class="form-control"
            formControlName="skill" required>
          <option *ngFor="let skill of skills" [value]="skill">{{ skill }}</option>
        </select>

        <div *ngIf="skill.invalid && skill.touched" class="alert alert-danger">
          <div *ngIf="skill.hasError('required')">Skill is required.</div>
        </div>
      </div>

      <p>Complete the form to enable the Submit button.</p>
      <button type="submit"
              class="btn btn-default"
              [disabled]="actorForm.invalid">Submit</button>
      <button type="button" class="btn btn-default"
             (click)="formDir.resetForm({})">Reset</button>
    </div>
  </form>

  <div class="submitted-message" *ngIf="formDir.submitted">
    <p>You've submitted your actor, {{ actorForm.value.name }}!</p>
    <button type="button" (click)="formDir.resetForm({})">Add new actor</button>
  </div>
</div>
