
/**
 * Mixin that creates a new stacking context.
 * see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
 */
@mixin md-stacking-context() {
  position: relative;

  // Use a transform to create a new stacking context.
  transform: translate3D(0, 0, 0);
}

/**
 * This mixin hides an element visually.
 * That means it's still accessible for screen-readers but not visible in view.
 */
@mixin md-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: none;
  width: 1px;
}