.api-section {
    position: relative;

    pre {
        white-space: pre-wrap;
    }

    table.api-table {
        min-width: 680px;

        thead th {
            color: white;
            font-size: 16px;
            background-color: $blue;
            border-radius: 4px 4px 0 0;
            text-transform: none;
            padding: 8px 24px;
        }
        
        tbody {
            pre {
                white-space: normal;
                margin: 4px;
                padding: 4px 16px;
            }

            td, th {
                padding: 0;
            }

            th {
                max-width: 150px;
            }
        }

    }
}


.api-header label {
    border-radius: 4px;
    padding: 4px 16px;
    display: inline;
    font-size: 14px;
    color: white;
    margin: 0 8px 0 16px;
    font-weight: 500;
    text-transform: uppercase;
    
    @media screen and (max-width: 600px) {
        display: block;
        margin: 8px 0;
    }

    &.api-status-label {
        background-color: $mediumgray;
    }

    &.api-type-label {
        background-color: $accentblue;

        @each $name, $symbol in $api-symbols {
            &.#{$name} {
                background: map-get($symbol, background);
            }
        }

    }
}