footer {
    position: relative;
}

footer .footer {
    padding: 20px;
    z-index: 10;
    background-color: $blue;
    color: $offwhite;
    text-align: center;
    font-weight: 300;
    a {
        color: $offwhite;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &:visited {
        text-decoration: none;
        }
    }
    p {
        margin: 0px 0px 5px;
    }
}

footer::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: 
        url('../src/assets/images/logos/angular2/angular_whiteTransparent.png') top left repeat-y,
        url('../src/assets/images/logos/angular2/angular_whiteTransparent.png') top 80px left 168px repeat-y,
        url('../src/assets/images/logos/angular2/angular_whiteTransparent.png') top left 336px repeat-y,
        url('../src/assets/images/logos/angular2/angular_whiteTransparent.png') top 80px left 504px repeat-y,
        url('../src/assets/images/logos/angular2/angular_whiteTransparent.png') top left 672px repeat-y,
        url('../src/assets/images/logos/angular2/angular_whiteTransparent.png') top 80px left 840px repeat-y,
        url('../src/assets/images/logos/angular2/angular_whiteTransparent.png') top left 1008px repeat-y,
        url('../src/assets/images/logos/angular2/angular_whiteTransparent.png') top 80px left 1176px repeat-y,
        url('../src/assets/images/logos/angular2/angular_whiteTransparent.png') top left 1344px repeat-y,
        url('../src/assets/images/logos/angular2/angular_whiteTransparent.png') top 80px left 1512px repeat-y,
        url('../src/assets/images/logos/angular2/angular_whiteTransparent.png') top left 1680px repeat-y,
        url('../src/assets/images/logos/angular2/angular_whiteTransparent.png') top 80px left 1848px repeat-y;
    opacity: 0.1;
    background-size: 160px auto;
}