.fill-remaining-space {
  flex: 1 1 auto;
}

aio-top-menu a.nav-link {
  margin: 0;
  padding: 24px 16px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.nav-link.home img {
  position: relative;
  margin-top: -21px;
  margin-right: 20px;
  top: 12px;
  height: 40px;
}

@media (max-width: 700px) {
  .nav-link {
    font-size: 80%;
    margin-right: 8px;
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .nav-link {
    font-size: 80%;
    margin-right: 8px;
    margin-left: 0px;
  }
}

aio-top-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-position: inside;
    padding: 0px;
    margin: 0px;

    li {
      padding-bottom: 2px;
      list-style-type: none;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

      &:focus {
        background-color: $accentblue;
        outline: none;
      }
    }
  }
}

aio-shell.page-home md-toolbar.app-toolbar.mat-toolbar {
  background-color: transparent;
}

md-toolbar.mat-toolbar {
  position: absolute; 
  perspective: 2000px;
  top: 0px;
  right: 0; 
  left: 0;
  z-index: 10;
  padding: 0 16px 0 0;

  .mat-toolbar-row {
    @media (max-width: 600px) {
    }
  }
}

aio-shell.sidenav-open {
  md-toolbar.mat-toolbar md-icon {
    color: $mediumgray;
  }
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-width: 150px;
  height: 100%;
}

aio-search-box input {
  color: $darkgray;
  border: none;
  border-radius: 100px;
  background-color: $offwhite;
  padding: 5px 16px;
  margin-left: 8px;
  width: 150px;
  height: 40%;

   @include bp(big) {
    transition: width 0.4s ease-in-out;
    &:focus {
      width: 50%;
      max-width: 240px;
    }
  }
  @media (max-width: 480px) {
    width: 180px;
  }
}
