aio-top-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

aio-top-menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-position: inside;
  padding: 0px;
  margin: 0px;
}

aio-top-menu li {
  list-style-type: none;
  padding: 0px;
}

md-toolbar.mat-toolbar {
  position: relative;
  z-index: 10;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
  padding: 0 16px 0px 0px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-width: 150px;
  height: 100%;
}

aio-search-box input {
  color: $darkgray;
  border: none;
  border-radius: 5px;
  background-color: $offwhite;
  padding: 5px 10px;
  margin-left: 8px;
  width:150px;
  height: 40%;
   @include bp(big) {
    transition: width 0.4s ease-in-out;
    &:focus {
      width: 50%;
    }  
  }
  @include bp(medium) {
    transition: width 0.4s ease-in-out;
    &:focus {
      width: 50%;
    }  
  }
}