.demo-sidenav-area {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  .mat-toolbar {
    flex: 0;
  }

  .mat-sidenav-container {
    flex: 1;
  }

  .demo-sidenav-content {
    padding: 32px;
  }

  .demo-filler-content {
    padding: 60px;
  }
}
