<!doctype html>
<html>
<body>
    <input type="text">
    <ul></ul>


    <% if(type === 'dart') { %>
    <script src="main.dart" type="application/dart"></script>
    <% } else { %>
    <script src="../../../traceur-runtime.js" type="text/javascript"></script>
    <script src="../../../rtts_assert/lib/rtts_assert.js" type="text/javascript"></script>
    <script src="../../../es6-module-loader-sans-promises.src.js"></script>
    <script src="../../../system.src.js"></script>
    <script src="../../../extension-register.js"></script>

    <script src="main.js" type="text/javascript"></script>
    <% } %>
</body>
</html>
