
.demo {
  display: flex;
  flex-flow: row wrap;

  .mat-list, .mat-nav-list {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 20px 20px 0 0;

  }
  h2 {
    margin-top: 20px;
  }

  .mat-icon {
    color: rgba(0, 0, 0, 0.12);
  }

  .mat-list-icon {
    color: white;
    background: rgba(0, 0, 0, 0.3);
  }
}

.demo-secondary-text {
  color: rgba(0, 0, 0, 0.54);
}
