.list-demo {
  display: flex;
  flex-flow: row wrap;

  .mat-list, .mat-nav-list {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 20px 20px 0 0;

  }

  h2 {
    margin-top: 20px;
  }
}

/* Theme for the list-item demo elements. */
@mixin demo-list-item-theme($dark: false) {
  $base-color: if($dark, white, black);

  .list-demo .mat-icon {
    color: rgba($base-color, 0.12);
  }

  .list-demo .mat-list-icon {
    color: white;
    background: rgba($base-color, 0.3);
  }

  .list-demo .demo-secondary-text {
    color: rgba($base-color, 0.54);
  }
}

@include demo-list-item-theme(false);

.demo-dark-theme {
  @include demo-list-item-theme(true);
}
