
.demo {
  width: 350px;
  display: flex;

  md-list, md-nav-list {
    border: 1px solid rgba(0,0,0,0.12);
    width: 350px;
    margin: 20px;

  }
  h2 {
    margin: 0 20px;
  }

  i {
    color: rgba(0,0,0,0.12);
  }
}

.demo-button {
  margin: 20px;
}

.demo-secondary-text {
  color: rgba(0, 0, 0, 0.54);
}