@use '../all-theme';
@use '../../core';
@use '../../../core/theming/palette';
@use '../../../core/theming/theming';
@use '../../../core/typography/all-typography';


// Include non-theme styles for core.
@include core.core();

// Define a theme.
$primary: theming.define-palette(palette.$pink-palette, 700, 500, 900);
$accent:  theming.define-palette(palette.$blue-grey-palette, A200, A100, A400);

$theme: theming.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: all-typography.define-typography-config(),
  density: 0,
));

// Include all theme styles for the components.
@include all-theme.all-legacy-component-themes($theme);
