/* CrisisListComponent's private CSS styles */
.crises {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}

.crises li {
  position: relative;
  cursor: pointer;
}

.crises li:hover {
  left: 0.1em;
}

.crises a {
  color: black;
  text-decoration: none;
  display: block;
  background-color: #eee;
  margin: 0.5em 0;
  border-radius: 4px;
  line-height: 2rem;
}

@media (min-width: 600px) {
  .crises a {
    font-size: 1.2rem;
    padding: 0.5em 0;
    line-height: 1.4rem;
  }
}

.crises a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}

.crises .selected a {
  background: #d6e6f7;
}

.crises .selected a:hover {
  background-color: #bdd7f5;
}

.heroes .selected a {
  background-color: #d6e6f7;
}

.heroes .selected a:hover {
  background-color: #bdd7f5;
}

.crises .badge {
  padding: 0.5em 0.6em;
  color: white;
  background-color: #435b60;
  min-width: 16px;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
