// The width/height of the checkbox element.
$size: 18px !default;

// The width/height of the legacy-checkbox element.
$legacy-size: 16px !default;

// The width of the checkbox border shown when the checkbox is unchecked.
$border-width: 2px;

// The base duration used for the majority of transitions for the checkbox.
$transition-duration: 90ms;
