@import './variables';

// The width/height of the checkbox element.
$mat-checkbox-size: 16px !default;

// The width of the checkbox border shown when the checkbox is unchecked.
$mat-checkbox-border-width: 2px;

// The base duration used for the majority of transitions for the checkbox.
$mat-checkbox-transition-duration: 90ms;
