nav {
  padding-top: 20px;
  padding-bottom: 10px;

  a {
    margin-right: 15px;
    text-decoration: none;
  }
}

.dialog-open-button {
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 20px;
}
