@use '@angular/docs/styles/media-queries' as mq;
@use '@angular/docs/styles/reference' as ref;

:host {
  display: block;
  width: 100%;
  max-width: var(--page-width);
  padding: var(--layout-padding) 0 1rem var(--layout-padding);
  box-sizing: border-box;

  @include mq.for-desktop-down {
    padding: var(--layout-padding);
    max-width: none;
  }
}

// stylelint-disable-next-line
::ng-deep {
  @include ref.reference-common();
  @include ref.cli-reference();
}
