@use '../all-theme';
@use '../../mdc-typography/all-typography';
@use '../../../material/core/core';
@use '../../../material/core/core-theme';
@use '../../../material/core/theming/palette';
@use '../../../material/core/theming/theming';

// Include non-theme styles for core.
@include core.core();

// Define a theme.
$primary: theming.define-palette(palette.$indigo-palette);
$accent:  theming.define-palette(palette.$pink-palette, A200, A100, A400);

$theme: theming.define-light-theme($primary, $accent);

// Include all theme styles for the components.
@include all-theme.all-mdc-component-themes($theme);
@include all-typography.all-mdc-component-typographies();
@include core-theme.theme($theme);
