@use '../all-theme';
@use '../../mdc-typography/all-typography';
@use '../../../material/core/core';
@use '../../../material/core/theming/palette';
@use '../../../material/core/theming/theming';

// Include non-theme styles for core.
@include core.core();

// Define a theme.
$primary: theming.palette(palette.$indigo);
$accent:  theming.palette(palette.$pink, A200, A100, A400);

$theme: theming.light-theme($primary, $accent);

// Include all theme styles for the components.
@include all-theme.angular-material-mdc-theme($theme);
@include all-typography.angular-material-mdc-typography();
@include core.theme($theme);
