@import '../all-theme';
@import '../../mdc-typography/all-typography';

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme-mdc($theme);
@include angular-material-typography-mdc();
