@use '@angular/material' as mat;
@use '../all-theme';

// Define a theme.
$primary: mat.define-palette(mat.$purple-palette, 700, 500, 800);
$accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$theme: (
    color: mat.define-dark-theme($primary, $accent),
    // TODO(mmalerba): Update to `mat-mdc-typography-config()` once non-MDC components can handle
    //  2018 configs.
    typography: mat.define-typography-config()
);

// Include non-theme styles for core.
@include mat.core($theme);

// Include all theme styles for the components.
@include mat.core-theme($theme);
@include all-theme.all-mdc-component-themes($theme);
