$screen-xs: 700px;
$screen-sm: 775px;
$screen-md: 900px;
$screen-lg: 1200px;
$screen-xl: 1430px;
$screen-xxl: 1800px;

@mixin for-phone-only {
  @media (max-width: $screen-xs) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: calc($screen-xs + 1px)) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: calc($screen-xs + 1px)) and (max-width: $screen-md) {
    @content;
  }
}

@mixin for-tablet-up {
  @media (min-width: calc($screen-sm + 1px)) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: calc($screen-md + 1px)) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: calc($screen-lg + 1px)) {
    @content;
  }
}

@mixin for-large-desktop-up {
  @media (min-width: calc($screen-xl + .01px)) {
    @content;
  }
}

@mixin for-extra-large-desktop-up {
  @media (min-width: calc($screen-xxl + 1px)) {
    @content;
  }
}

@mixin for-desktop-down {
  @media (max-width: $screen-lg) {
    @content;
  }
}

@mixin for-large-desktop-down {
  @media (max-width: calc($screen-xl )) {
    @content;
  }
}

@mixin for-tablet-landscape-down {
  @media (max-width: $screen-md) {
    @content;
  }
}

@mixin for-tablet-down {
  @media (max-width: $screen-sm) {
    @content;
  }
}