<style>@import "angular2_material/src/components/radio/radio-button.css";</style>

<!-- TODO(jelbourn): render the radio on either side of the content -->

<label role="radio" class="md-radio-root"
    [class.md-radio-checked]="checked"
    (^click)="select($event)">
  <!-- The actual `radio` part of the control. -->
  <div class="md-radio-container">
    <div class="md-radio-off"></div>
    <div class="md-radio-on"></div>
  </div>

  <!-- The label for radio control. -->
  <div class="md-radio-label">
      <content></content>
  </div>
</label>
