@use '@angular/cdk';
@use '@material/snackbar' as mdc-snackbar;

@use '../mdc-helpers/mdc-helpers';

@include mdc-helpers.disable-fallback-declarations {
  // Include the styles without the animations since we
  // reuse the same animation as the non-MDC version.
  @include mdc-snackbar.core-styles($query: mdc-helpers.$mat-base-styles-without-animation-query);
}

// MDC sets the position as fixed and sets the container on the bottom center of the page (or
// otherwise can be set to be "leading"). Our overlay handles a more advanced configuration
// of positions, so we'll defer logic there.
.mat-mdc-snack-bar-container {
  position: static;

  @include cdk.high-contrast(active, off) {
    border: solid 1px;
  }
}

// These elements need to have full width using flex layout.
.mat-mdc-snack-bar-handset,
.mat-mdc-snack-bar-container,
.mat-mdc-snack-bar-label {
  // Note that we need to include the full `flex` shorthand
  // declaration so the container doesn't collapse on IE11.
  flex: 1 1 auto;
}

// Ensures that the snack bar stretches to full width in handset mode.
.mat-mdc-snack-bar-handset .mdc-snackbar__surface {
  width: 100%;
}
