@use '../all-theme';
@use '../../core';
@use '../palette';
@use '../theming';
@use '../../typography/all-typography';


// Include non-theme styles for core.
@include core.core();

// Define a theme.
$primary: theming.define-palette(palette.$indigo-palette);
$accent:  theming.define-palette(palette.$pink-palette, A200, A100, A400);

$theme: theming.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: all-typography.define-typography-config(),
  density: 0,
));

// Include all theme styles for the components.
@include all-theme.all-component-themes($theme);
