@use '../all-theme';
@use '../../core';
@use '../palette';
@use '../theming';


// Include non-theme styles for core.
@include core.core();

// Define a theme.
$primary: theming.palette(palette.$purple, 700, 500, 800);
$accent:  theming.palette(palette.$green, A200, A100, A400);

$theme: theming.dark-theme((
  color: (
    primary: $primary,
    accent: $accent
  )
));

// Include all theme styles for the components.
@include all-theme.angular-material-theme($theme);
