@use '@angular/material' as mat;

@use '../theming/all-theme';

@mixin all-mdc-component-colors($config-or-theme) {
  // In case a theme object has been passed instead of a configuration for
  // the color system, extract the color config from the theme object.
  $config: if(mat.private-is-theme-object($config-or-theme),
      mat.get-color-config($config-or-theme), $config-or-theme);

  @if $config == null {
    @error 'No color configuration specified.';
  }

  @include all-theme.all-mdc-component-themes((
    color: $config,
    typography: null,
    density: null,
  ));
}

// @deprecated Use `all-mdc-component-colors`.
@mixin angular-material-mdc-color($config-or-theme) {
  @include all-mdc-component-colors($config-or-theme);
}
