<h2>Products</h2>

<!-- #docregion router-link -->
@for (product of products; track product) {
  <div>
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
    <!-- #enddocregion router-link -->
    @if (product.description) {
      <p>Description: {{ product.description }}</p>
    }
    <button type="button" (click)="share()">
      Share
    </button>
    <app-product-alerts
      [product]="product"
      (notify)="onNotify()">
    </app-product-alerts>
    <!-- #docregion router-link -->
  </div>
}
<!-- #enddocregion router-link -->
