/*#docregion*/
.spinner {
  left: 7em;
  top: 20em;
  position: absolute;
  background-color: blue;
  height: .3em;
  width: 6em;
  margin:-60px 0 0 -60px;
  animation:spin 4s linear infinite;
}
@keyframes spin { 100% { transform:rotate(360deg); } }

.spinner-hidden {
  display:none;
}
