{% import "lib/githubLinks.html" as github -%}

{% set relativePath = doc.fileInfo.relativePath %}
{% if doc.title %}{$ ('# ' + doc.title.trim()) | marked $}{% endif %}
{% if '/' in relativePath or 'docs.md' in relativePath %}
<div class="github-links">
  {$ github.githubEditLink(doc, versionInfo) $}
</div>
{% endif %}
{% block content %}
<div class="content">
  {$ doc.description | marked $}
  {% if doc.reviewed %}<div class="reviewed">Last reviewed on {$ doc.reviewed.date.toDateString() $}</div>{% endif %}
</div>
{% endblock %}