.demo-stepper {
  margin-top: 8px;
}

.demo-form-field {
  margin-top: 16px;
}

.demo-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.demo-radio-button {
  margin: 5px;
}
