.demo-wrapper {
  // Prevent the container from stretching to 100%.
  display: inline-block;

  .mat-mdc-tooltip-trigger {
    // Center the trigger relative to the content so that it's not flush against one of the
    // viewport edges. This will guarantee that we always get the specified demo position.
    margin: 32px auto;
    display: block;
  }
}

.demo-form-field {
  margin: 0 8px;
}
