<h4 class="docs-api-h4 docs-api-class-name">
  <code>{$ class.name $}</code>
</h4>
<p class="docs-api-class-description">{$ class.description $}</p>

{%- if class.directiveSelectors -%}
<div class="docs-api-directive-selectors">
  <span class="docs-api-class-selector-label">selector:</span>
  {% for s in class.directiveSelectors %}
    <span class="docs-api-class-selector-name">{$ s $}</span>
  {% endfor %}
</div>
{%- endif -%}

{%- if class.directiveExportAs -%}
<span class="docs-api-h4 docs-api-class-export-label">Exported as:</span>
<span class="docs-api-class-export-name">{$ class.directiveExportAs $}</span>
{%- endif -%}

{%- if class.isDeprecated -%}
<div class="docs-api-class-deprecated-marker">Deprecated</div>
{%- endif -%}

{$ propertyList(class.properties) $}

{$ methodList(class.methods) $}
