{# Defines macros for reusable templates. #}
{% macro method(method) -%}
  {% include 'method.template.html' %}
{% endmacro %}

{% macro property(property) -%}
  {% include 'property.template.html' %}
{% endmacro %}

{% macro methodList(methodList) -%}
  {% include 'method-list.template.html' %}
{% endmacro %}

{% macro propertyList(propertyList) -%}
  {% include 'property-list.template.html' %}
{% endmacro %}

{% macro class(class) -%}
  {% include 'class.template.html' %}
{% endmacro %}

<h1 class="docs-api-h1">{$ doc.name $}</h1>
<h2 class="docs-api-h2">
  Module: <code>{$ doc.ngModule.name $}</code>
</h2>


{%- if doc.services.length -%}
  <h2 class="docs-api-h2">Services</h2>
  {% for service in doc.services %}
    {$ class(service) $}
  {% endfor %}
{%- endif -%}


{%- if doc.directives.length -%}
  <h2>Directives</h2>
  {% for directive in doc.directives %}
    {$ class(directive) $}
  {% endfor %}
{%- endif -%}

{%- if doc.additionalClasses.length -%}
  <h2>Additional classes</h2>
  {% for other in doc.additionalClasses %}
    {$ class(other) $}
  {% endfor %}
{%- endif -%}
