<table>
  <tr>
    <th colspan="2">{$ method.name $}</th>
  </tr>
  <tr>
    <td colspan="2"> {$ method.description $}</td>
  </tr>

  {%- if method.params.length -%}
  <tr>
    <th colspan="2"> Parameters</th>
  </tr>
  {% for parameter in method.params %}
  <tr>
    <td>
      <p>
        {$ parameter.name $}
        {%- if parameter.isOptional -%}
          <span>?</span>
        {%- endif -%}
      </p>
      <p>{$ parameter.type $}</p>
    </td>
    <td>
      {$ parameter.description $}
    </td>
  </tr>
  {% endfor %}
  {%- endif -%}

  {%- if method.showReturns -%}
  <tr>
    <th colspan="2"> Returns</th>
  </tr>
  <tr>
    <td>{$ method.returnType $}</td>
    <td>{$ method.returns.description $}</td>
  </tr>
  {%- endif -%}
</table>
