<tr class="docs-api-properties-row">
  <td class="docs-api-properties-name-cell">
    {%- if property.isDirectiveInput -%}
      <div class="docs-api-input-marker">
        {%- if property.directiveInputAlias -%}
        @Input(<span class="docs-api-input-alias">{$ property.directiveInputAlias $}</span>)
        {% else %}
          @Input()
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if property.isDirectiveOutput -%}
      <div class="docs-api-output-marker">
        {%- if property.directiveOutputAlias -%}
        @Output(<span class="docs-api-output-alias">{$ property.directiveOutputAlias $}</span>)
        {% else %}
          @Output()
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if property.isDeprecated -%}
      <div class="docs-api-deprecated-marker">Deprecated</div>
    {%- endif -%}   

    <p class="docs-api-property-name">
      <code>{$ property.name $}: {$ property.type $}</code>
    </p>
  </td>
  <td class="docs-api-property-description">{$ property.description | marked | safe $}</td>
</tr>
