ng2-heroes {
  border: solid black 2px;
  display: block;
  padding: 5px;
}

ng1-hero {
  border: solid green 2px;
  margin-top: 5px;
  padding: 5px;
  display: block;
}

.title {
  background-color: blue;
  color: white;
}
