:host {
  display: block;
}

.insert-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  transition: opacity 1s ease-out, transform 1s ease-out;

  @starting-style {
    opacity: 0;
    transform: translateY(20px);
  }
}
