<h1>Deprecation</h1>

<!--#docregion deprecated-example-->

<input [formControl]="control" [(ngModel)]="value">

<!--#enddocregion deprecated-example-->

<!--#docregion reactive-form-example-->

<input [formControl]="control">

<!--#enddocregion reactive-form-example-->

<!--#docregion template-driven-form-example-->

<input [(ngModel)]="value">

<!--#enddocregion template-driven-form-example-->

<select>
<!--#docregion valid-template-bind-->
<option *ngFor="let optionName of options" [value]="optionName"></option>
<!--#enddocregion valid-template-bind-->
</select>
