@import '@material/radio/mixins.import';
@import '@material/radio/variables.import';
@import '@material/form-field/mixins.import';
@import '../mdc-helpers/mdc-helpers';

@include mdc-radio-without-ripple($query: $mat-base-styles-query);
@include mdc-form-field-core-styles($query: $mat-base-styles-query);

// This is necessary because we do not depend on MDC's ripple, but have our own that should be
// positioned correctly. This can be removed once we start using MDC's ripple implementation.
.mat-mdc-radio-button .mat-radio-ripple {
  position: absolute;
  left: calc(50% - #{$mdc-radio-icon-size});
  top: calc(50% - #{$mdc-radio-icon-size});
  height: $mdc-radio-icon-size * 2;
  width: $mdc-radio-icon-size * 2;
  z-index: 1;
  pointer-events: none;

  .mat-ripple-element:not(.mat-radio-persistent-ripple) {
    opacity: $mdc-radio-ripple-opacity;
  }
}
