@import '../mdc-helpers/mdc-helpers';
@import '@material/slider/mixins.import';

@mixin mat-mdc-slider-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  @include mat-using-mdc-theme($config) {
    @include mdc-slider-core-styles($query: $mat-theme-styles-query);

    .mat-mdc-slider {
      &.mat-primary {
        @include mdc-slider-color-accessible(primary, $mat-theme-styles-query);
      }

      &.mat-warn {
        @include mdc-slider-color-accessible(error, $mat-theme-styles-query);
      }
    }
  }
}

@mixin mat-mdc-slider-typography($config-or-theme) {
  $config: mat-get-typography-config($config-or-theme);
  @include mat-using-mdc-typography($config) {
    @include mdc-slider-core-styles($query: $mat-typography-styles-query);
  }
}

@mixin mat-mdc-slider-density($config-or-theme) {
  $density-scale: mat-get-density-config($config-or-theme);
}

@mixin mat-mdc-slider-theme($theme-or-color-config) {
  $theme: _mat-legacy-get-theme($theme-or-color-config);
  @include _mat-check-duplicate-theme-styles($theme, 'mat-mdc-slider');
  $color: mat-get-color-config($theme);
  $density: mat-get-density-config($theme);
  $typography: mat-get-typography-config($theme);

  @if $color != null {
    @include mat-mdc-slider-color($color);
  }
  @if $density != null {
    @include mat-mdc-slider-density($density);
  }
  @if $typography != null {
    @include mat-mdc-slider-typography($typography);
  }
}

