@import '../mdc-helpers/mdc-helpers';
@import '@material/slider/mixins.import';

@mixin mat-mdc-slider-color($config) {
  @include mat-using-mdc-theme($config) {
    @include mdc-slider-core-styles($query: $mat-theme-styles-query);

    .mat-mdc-slider {
      &.mat-primary {
        @include mdc-slider-color-accessible(primary, $mat-theme-styles-query);
      }

      &.mat-warn {
        @include mdc-slider-color-accessible(error, $mat-theme-styles-query);
      }
    }
  }
}

@mixin mat-mdc-slider-typography($config) {
  @include mat-using-mdc-typography($config) {
    @include mdc-slider-core-styles($query: $mat-typography-styles-query);
  }
}

@mixin mat-mdc-slider-density($density-scale) {}

@mixin mat-mdc-slider-theme($theme) {
  $color: mat-get-color-config($theme);
  $density: mat-get-density-config($theme);
  $typography: mat-get-typography-config($theme);

  @if $color != null {
    @include mat-mdc-slider-color($color);
  }
  @if $density != null {
    @include mat-mdc-slider-density($density);
  }
  @if $typography != null {
    @include mat-mdc-slider-typography($typography);
  }
}

