<!-- Inputs -->
<ng-content></ng-content>

<!-- Track -->
<div class="mdc-slider__track">
  <div class="mdc-slider__track--inactive"></div>
  <div class="mdc-slider__track--active">
    <div class="mdc-slider__track--active_fill" #trackActive></div>
  </div>
  <div *ngIf="showTickMarks" class="mdc-slider__tick-marks" #tickMarkContainer>
    <div *ngFor="let tickMark of _tickMarks" [class]="_getTickMarkClass(tickMark)"></div>
  </div>
</div>

<!-- Thumbs -->
<mat-slider-visual-thumb
  *ngFor="let thumb of _inputs"
  [discrete]="discrete"
  [disableRipple]="_isRippleDisabled()"
  [thumbPosition]="thumb._thumbPosition"
  [valueIndicatorText]="_getValueIndicatorText(thumb._thumbPosition)">
</mat-slider-visual-thumb>
