@use '@angular/material' as mat;
@use '@material/chips/chip-theme' as mdc-chip-theme;
@use '@material/chips/chip-set' as mdc-chip-set;
@use '@material/theme/theme-color' as mdc-theme-color;
@use '@material/theme/color-palette' as mdc-color-palette;
@use '@material/typography' as mdc-typography;
@use 'sass:color';
@use 'sass:map';

// Customizes the appearance of a chip. Note that ideally we would be doing this using the
// `theme-styles` mixin, however it has the following problems:
// 1. Some of MDC's base styles have **very** high specificity. E.g. setting the background of a
// non-selected, enabled chip uses a selector like `.chip:not(.selected):not(.disabled)` instead of
// just `.chip`. This specificity increase has a ripple effect over all other components that are
// built on top of ours, making overrides extremely difficult and brittle.
// 2. Including the individual mixins allows us to avoid a lot of unnecessary CSS (~35kb in the
// dev app theme).
@mixin _chip-variant($background, $foreground) {
  @include mdc-chip-theme.container-color($background);
  @include mdc-chip-theme.icon-color($foreground);
  @include mdc-chip-theme.trailing-action-color($foreground);
  @include mdc-chip-theme.checkmark-color($foreground);
  @include mdc-chip-theme.text-label-color($foreground);

  // Technically the avatar is only supposed to have an image, but we also allow for icons.
  // Set the color so the icons inherit the correct color.
  .mat-mdc-chip-avatar {
    color: $foreground;
  }
}

@mixin _colored-chip($palette) {
  $background: mat.get-color-from-palette($palette);
  $foreground: mat.get-color-from-palette($palette, default-contrast);

  &.mat-mdc-chip-selected,
  &.mat-mdc-chip-highlighted {
    @include _chip-variant($background, $foreground);
  }
}

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);
  $foreground: map.get($config, foreground);
  $is-dark: map.get($config, is-dark);

  @include mat.private-using-mdc-theme($config) {
    .mat-mdc-standard-chip {
      @include _chip-variant(
        color.mix(mdc-theme-color.prop-value(on-surface), mdc-theme-color.prop-value(surface), 12%),
        if($is-dark, mdc-color-palette.$grey-50, mdc-color-palette.$grey-900)
      );

      &.mat-primary {
        @include _colored-chip($primary);
      }

      &.mat-accent {
        @include _colored-chip($accent);
      }

      &.mat-warn {
        @include _colored-chip($warn);
      }
    }
  }

  .mat-mdc-chip-focus-overlay {
    background: map.get($foreground, base);
  }
}

@mixin typography($config-or-theme) {
  $config: mat.private-typography-to-2018-config(
      mat.get-typography-config($config-or-theme));
  @include mdc-chip-set.core-styles($query: mat.$private-mdc-typography-styles-query);
  @include mat.private-using-mdc-typography($config) {
    // Note that we don't go through MDC's typography mixin, because it assigns the styles to
    // an inner element which makes it difficult for clients to customize. Instead we apply the
    // same styles ourselves to the root.
    .mat-mdc-standard-chip {
      @include mdc-typography.typography(body2, $query: mat.$private-mdc-typography-styles-query);
    }
  }
}

@mixin density($config-or-theme) {
  $density-scale: mat.get-density-config($config-or-theme);
  .mat-mdc-chip {
    @include mdc-chip-theme.density($density-scale, $query: mat.$private-mdc-base-styles-query);
  }
}

@mixin theme($theme-or-color-config) {
  $theme: mat.private-legacy-get-theme($theme-or-color-config);
  @include mat.private-check-duplicate-theme-styles($theme, 'mat-mdc-chips') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}

