@use '@material/chips/chip-set' as mdc-chip-set;
@use '../mdc-core/mdc-helpers/mdc-helpers';

@include mdc-chip-set.core-styles($query: mdc-helpers.$mat-base-styles-query);

// Ensures that the internal chip container spans the entire outer container width, if the
// outer container width is customized. This is used by some wrapper components in g3.
.mat-mdc-chip-set {
  .mdc-evolution-chip-set__chips {
    min-width: 100%;
  }
}

// Angular Material supports vertically-stacked chips, which MDC does not.
.mat-mdc-chip-set-stacked {
  flex-direction: column;
  align-items: flex-start;

  .mat-mdc-chip {
    width: 100%;
  }
}

input.mat-mdc-chip-input {
  flex: 1 0 150px;
  margin-left: 8px;

  [dir='rtl'] & {
    margin-left: 0;
    margin-right: 8px;
  }
}
