<md-toolbar color="primary" class="app-toolbar">
  <button class="hamburger" md-button
    (click)="sidenav.toggle()" title="Docs menu">
    <img src="assets/images/logos/standard/logo-nav-small.png" title="Home" alt="Home">
  </button>
  <aio-top-menu *ngIf="isSideBySide" [nodes]="topMenuNodes"></aio-top-menu>
  <aio-search-box class="search-container" #searchBox></aio-search-box>
  <span class="fill-remaining-space"></span>
</md-toolbar>

<md-sidenav-container class="sidenav-container">

  <md-sidenav #sidenav class="sidenav" [opened]="isOpened" [mode]="mode">
    <aio-nav-menu *ngIf="!isSideBySide" class="top-menu" [nodes]="topMenuNodes" [currentNode]="currentNode"></aio-nav-menu>
    <aio-nav-menu [nodes]="sideNavNodes" [currentNode]="currentNode" ></aio-nav-menu>
  </md-sidenav>

  <section class="sidenav-content">
    <aio-doc-viewer [doc]="currentDocument" (docRendered)="onDocRendered($event)"></aio-doc-viewer>
  </section>

</md-sidenav-container>

<aio-search-results #searchResults></aio-search-results>

<aio-footer [versionInfo]="versionInfo" ></aio-footer>
