.demo-tree-container {
  .tree-demo-invisible {
    display: none;
  }

  ul, li {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    list-style-type: none;
  }

  .mat-card {
    margin: 16px;
  }
}
