<h1 id="top">Lifecycle Hooks</h1>
<a href="#hooks">Peek-a-boo: (most) lifecycle hooks</a>
<a href="#spy">Spy: directive with OnInit & OnDestroy</a>
<a href="#onchanges">OnChanges</a>
<a href="#docheck">DoCheck</a>
<a href="#after-view">AfterViewInit & AfterViewChecked</a>
<a href="#after-content">AfterContentInit & AfterContentChecked</a>
<a href="#counter">Counter: OnChanges + Spy directive</a>

<peek-a-boo-parent id="hooks"></peek-a-boo-parent>
<a href="#top">back to top</a>
<hr />

<spy-parent id="spy"></spy-parent>
<a href="#top">back to top</a>
<hr />

<on-changes-parent id="onchanges"></on-changes-parent>
<a href="#top">back to top</a>
<hr />

<do-check-parent id="docheck"></do-check-parent>
<a href="#top">back to top</a>
<hr />

<after-view-parent id="after-view"></after-view-parent>
<a href="#top">back to top</a>
<hr />

<after-content-parent id="after-content"></after-content-parent>
<a href="#top">back to top</a>
<hr />

<counter-parent id="counter"></counter-parent>
<a href="#top">back to top</a>
