@use 'sass:map';
@use './private';

@mixin strong-focus-indicators($config: ()) {
  // Default focus indicator config.
  $default-config: (
    border-color: black,
    display: block,
  );

  // Merge default config with user config.
  $config: map.merge($default-config, $config);

  @include private.customize-focus-indicators($config, 'mat');
}
