<mat-card>
  <table mat-table [dataSource]="data">
    <ng-container matColumnDef="context">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let $implicit; let index = index; let count = count; let first = first; let last = last; let even = even; let odd = odd">
        <span> $implicit: {{$implicit}}, </span>
        <span> index: {{index}}, </span>
        <span> count: {{count}}, </span>
        <span *ngIf="even"> isEven, </span>
        <span *ngIf="odd"> isOdd, </span>
        <span *ngIf="first"> isFirst, </span>
        <span *ngIf="last"> isLast, </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['context']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['context'];"></tr>
  </table>
</mat-card>
