@use '@angular/cdk';

@use '../core/style/variables';

$_default-radius: 45px;
$_default-circumference: variables.$pi * $_default-radius * 2;

.mat-progress-spinner {
  display: block;
  position: relative;

  // Prevents the animating circle from going outside the bounds of the host
  // and potentially changing the surrounding layout. See #16894.
  overflow: hidden;

  svg {
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    left: 0;
    transform-origin: center;
    overflow: visible;
  }

  circle {
    fill: transparent;
    transition: stroke-dashoffset 225ms linear;

    @include cdk.high-contrast(active, off) {
      // SVG colors aren't inverted automatically in high contrast mode. Set the
      // stroke to `CanvasText` in order to respect the user's color settings.
      // Note that we use `CanvasText` instead of `currentColor`, because
      // the latter blends in with the background on Chromium browsers.
      stroke: CanvasText;
    }
  }

  &[mode='indeterminate'] {
    svg {
      animation: mat-progress-spinner-linear-rotate variables.$swift-ease-in-out-duration * 4
          linear infinite;
    }

    circle {
      transition-property: stroke;
      // Note: we multiply the duration by 8, because the animation is spread out in 8 stages.
      animation-duration: variables.$swift-ease-in-out-duration * 8;
      animation-timing-function: variables.$ease-in-out-curve-function;
      animation-iteration-count: infinite;
    }
  }

  &._mat-animation-noopable {
    svg, circle {
      animation: none;
      transition: none;
    }
  }
}


// Animations for indeterminate mode
@keyframes mat-progress-spinner-linear-rotate {
  0%       { transform: rotate(0deg); }
  100%     { transform: rotate(360deg); }
}

@at-root {
  $start: (1 - 0.05) * $_default-circumference; // start the animation at 5%
  $end: (1 - 0.8) * $_default-circumference; // end the animation at 80%

  @keyframes mat-progress-spinner-stroke-rotate-100 {
    // stylelint-disable declaration-block-single-line-max-declarations
    // stylelint-disable declaration-block-semicolon-space-after

    // .0001 percentage difference is necessary in order to avoid unwanted animation frames
    // for example because the animation duration is 4 seconds, .1% accounts to 4ms
    // which are enough to see the flicker described in
    // https://github.com/angular/components/issues/8984
    //
    // NOTE: this is replaced by js for any diameter other that 100
    0%        { stroke-dashoffset: $start;  transform: rotate(0); }
    12.5%     { stroke-dashoffset: $end;    transform: rotate(0); }
    12.5001%  { stroke-dashoffset: $end;    transform: rotateX(180deg) rotate(72.5deg); }
    25%       { stroke-dashoffset: $start;  transform: rotateX(180deg) rotate(72.5deg); }

    25.0001%   { stroke-dashoffset: $start;  transform: rotate(270deg); }
    37.5%      { stroke-dashoffset: $end;    transform: rotate(270deg); }
    37.5001%   { stroke-dashoffset: $end;    transform: rotateX(180deg) rotate(161.5deg); }
    50%        { stroke-dashoffset: $start;  transform: rotateX(180deg) rotate(161.5deg); }

    50.0001%  { stroke-dashoffset: $start;  transform: rotate(180deg); }
    62.5%     { stroke-dashoffset: $end;    transform: rotate(180deg); }
    62.5001%  { stroke-dashoffset: $end;    transform: rotateX(180deg) rotate(251.5deg); }
    75%       { stroke-dashoffset: $start;  transform: rotateX(180deg) rotate(251.5deg); }

    75.0001%  { stroke-dashoffset: $start;  transform: rotate(90deg); }
    87.5%     { stroke-dashoffset: $end;    transform: rotate(90deg); }
    87.5001%  { stroke-dashoffset: $end;    transform: rotateX(180deg) rotate(341.5deg); }
    100%      { stroke-dashoffset: $start;  transform: rotateX(180deg) rotate(341.5deg); }
    // stylelint-enable
  }
}
