/* #docregion import */
/* AOT 컴파일러를 사용한다면 이 파일이 로컬에 있다는 것을 지정하기 위해 주소가 `./`로 시작되어야 합니다. */
@import './hero-details-box.css';
/* #enddocregion import */

/* #docregion host */
:host {
  display: block;
  border: 1px solid black;
}
/* #enddocregion host */

/* #docregion hostfunction */
:host(.active) {
  border-width: 3px;
}
/* #enddocregion hostfunction */

/* #docregion hostcontext */
:host-context(.theme-light) h2 {
  background-color: #eef;
}
/* #enddocregion hostcontext */

/* #docregion deep */
:host /deep/ h3 {
  font-style: italic;
}
/* #enddocregion deep */
