<div class="two-column-step">
  <div class="step-description">
    <div class="header">Поток управления</div>
    <div class="description">
      Новый синтаксис потока управления Angular делает шаблоны проще для написания и понимания.
    </div>

    <button
      class="docs-primary-btn"
      [attr.text]="'Подробнее о потоке управления'"
      routerLink="/guide/templates/control-flow"
    >
      Подробнее о потоке управления
    </button>
  </div>

  <div class="step-code">
    <div class="code-block">
      <div class="code-header">
        <span>my-template.html</span>
        <span class="copy-icon"></span>
      </div>

      <adev-code-block [code]="Example" language="angular-html" />
    </div>
  </div>
</div>
