<div class="two-column-step">
  <div class="step-description">
    <div class="header">Control Flow</div>
    <div class="description">
      Angular's new control flow syntax makes templates easier to write and understand.
    </div>

    <button
      class="docs-primary-btn"
      [attr.text]="'Learn more about Control Flow'"
      routerLink="/guide/templates/control-flow"
    >
      Learn more about Control Flow
    </button>
  </div>

  <div class="step-code">
    <div class="code-block">
      <div class="code-header">
        <span>my-template.html</span>
        <span class="copy-icon"></span>
      </div>

      <adev-code-block [code]="Example" language="angular-html" />
    </div>
  </div>
</div>
