.checkboxes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.checkboxes > label {
  flex: 0 0 max-content;
  margin: 0.5rem;
  cursor: pointer;
}

section:not(:last-of-type) {
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}
