<h1>HttpClient Example</h1>
<div>
  <input type="checkbox" id="heroes" [checked]="showHeroes" (click)="toggleHeroes()">
  <label for="heroes">Heroes</label>

  <input type="checkbox" id="config" [checked]="showConfig" (click)="toggleConfig()">
  <label for="config">Config</label>

  <input type="checkbox" id="downloader" [checked]="showDownloader" (click)="toggleDownloader()">
  <label for="downloader">Downloader</label>

  <input type="checkbox" id="uploader" [checked]="showUploader" (click)="toggleUploader()">
  <label for="uploader">Uploader</label>

  <input type="checkbox" id="search" [checked]="showSearch" (click)="toggleSearch()">
  <label for="search">Search</label>
</div>

<app-heroes *ngIf="showHeroes"></app-heroes>
<hr />
<app-messages></app-messages>
<hr />
<app-config *ngIf="showConfig"></app-config>
<hr />
<app-downloader *ngIf="showDownloader"></app-downloader>
<hr />
<app-uploader *ngIf="showUploader"></app-uploader>
<hr />
<app-package-search *ngIf="showSearch"></app-package-search>
