<!-- #docregion -->
<h2>My Heroes</h2>
<!-- #docregion add -->
<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>
<!-- #enddocregion add -->
<ul class="heroes">
  <!-- #docregion li-element -->
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <!-- #docregion delete -->
    <button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button>
    <!-- #enddocregion delete -->
  </li>
  <!-- #enddocregion li-element -->
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
