@use 'sass:map';
@use '@angular/material' as mat;
@use '@material/circular-progress/circular-progress-theme' as mdc-circular-progress-theme;


@mixin _palette-styles($config, $palette) {
  $color: mat.get-color-from-palette(map.get($config, $palette));
  @include mdc-circular-progress-theme.theme((active-indicator-color: $color));
}

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  @include mat.private-using-mdc-theme($config) {
    .mat-mdc-progress-spinner {
      @include _palette-styles($config, primary);

      &.mat-accent {
        @include _palette-styles($config, accent);
      }

      &.mat-warn {
        @include _palette-styles($config, warn);
      }
    }
  }
}

@mixin typography($config-or-theme) {}

@mixin density($config-or-theme) {}

@mixin theme($theme-or-color-config) {
  $theme: mat.private-legacy-get-theme($theme-or-color-config);
  @include mat.private-check-duplicate-theme-styles($theme, 'mat-mdc-progress-spinner') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
