@use '@angular/material' as mat;
@use '@material/circular-progress' as mdc-circular-progress;

@use '../mdc-core/mdc-helpers/mdc-helpers';

@mixin _palette-styles($color) {
  @include mdc-circular-progress.color($color, $query: mdc-helpers.$mat-theme-styles-query);
}

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  @include mdc-helpers.mat-using-mdc-theme($config) {
    .mat-mdc-progress-spinner {
      @include _palette-styles(primary);

      &.mat-accent {
        @include _palette-styles(secondary);
      }

      &.mat-warn {
        @include _palette-styles(error);
      }
    }
  }
}

@mixin typography($config-or-theme) {}

@mixin density($config-or-theme) {}

@mixin theme($theme-or-color-config) {
  $theme: mat.private-legacy-get-theme($theme-or-color-config);
  @include mat.private-check-duplicate-theme-styles($theme, 'mat-mdc-progress-spinner') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
