@import '@material/circular-progress/mixins.import';
@import '../mdc-helpers/mdc-helpers';

@mixin _mat-mdc-progress-spinner-color($color) {
  @include mdc-circular-progress-color($color, $query: $mat-theme-styles-query);
}

@mixin mat-mdc-progress-spinner-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  @include mat-using-mdc-theme($config) {
    .mat-mdc-progress-spinner {
      @include _mat-mdc-progress-spinner-color(primary);

      &.mat-accent {
        @include _mat-mdc-progress-spinner-color(secondary);
      }

      &.mat-warn {
        @include _mat-mdc-progress-spinner-color(error);
      }
    }
  }
}

@mixin mat-mdc-progress-spinner-typography($config-or-theme) {}

@mixin mat-mdc-progress-spinner-density($config-or-theme) {}

@mixin mat-mdc-progress-spinner-theme($theme-or-color-config) {
  $theme: _mat-legacy-get-theme($theme-or-color-config);
  @include _mat-check-duplicate-theme-styles($theme, 'mat-mdc-progress-spinner') {
    $color: mat-get-color-config($theme);
    $density: mat-get-density-config($theme);
    $typography: mat-get-typography-config($theme);

    @if $color != null {
      @include mat-mdc-progress-spinner-color($color);
    }
    @if $density != null {
      @include mat-mdc-progress-spinner-density($density);
    }
    @if $typography != null {
      @include mat-mdc-progress-spinner-typography($typography);
    }
  }
}
