@use '@material/circular-progress' as mdc-circular-progress;
@use '../mdc-helpers/mdc-helpers';

@include mdc-circular-progress.core-styles($query: mdc-helpers.$mat-base-styles-query);

.mat-mdc-progress-spinner {
  // Prevents the spinning of the inner element from affecting layout outside of the spinner.
  overflow: hidden;

  &._mat-animation-noopable {
    &, .mdc-circular-progress__determinate-circle {
      // The spinner itself has a transition on `opacity`.
      transition: none;
    }

    .mdc-circular-progress__indeterminate-circle-graphic,
    .mdc-circular-progress__spinner-layer,
    .mdc-circular-progress__indeterminate-container {
      // Disables the rotation animations.
      animation: none;
    }

    .mdc-circular-progress__indeterminate-container circle {
      // Render the indeterminate spinner as a complete circle when animations are off
      stroke-dasharray: 0 !important;
    }
  }
}
