<h2>Tasks</h2>
<ul>
  <li *ngFor="let task of tasks">
    <md-checkbox [(ngModel)]="task.completed"
                 [checked]="allComplete(task)"
                 [indeterminate]="someComplete(task.subtasks)"
                 (change)="setAllCompleted(task.subtasks, $event.checked)">
      <h3>{{task.name}}</h3>
    </md-checkbox>
    <ul>
      <li *ngFor="let subtask of task.subtasks">
        <md-checkbox [(ngModel)]="subtask.completed">
          {{subtask.name}}
        </md-checkbox>
      </li>
    </ul>
  </li>
</ul>
