$standard-height: 48px !default;
// Minimum height for highest density can vary based on the content that developers
// project into button-toggle's. We use a minimum of `24px` though because commonly
// icons or text are displayed. Icons by default have a size of `24px`.
$standard-minimum-height: 24px !default;
$standard-maximum-height: $standard-height !default;

$standard-density-config: (
  height: (
    default: $standard-height,
    maximum: $standard-maximum-height,
    minimum: $standard-minimum-height,
  )
) !default;
