@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;
@use '@material/switch/switch-theme' as mdc-switch-theme;
@use '@material/theme/color-palette' as mdc-color-palette;
@use '@material/form-field' as mdc-form-field;


// Generates all color mapping for the properties that only change based on the theme.
@function _get-theme-base-map($is-dark) {
  $on-surface: if($is-dark, mdc-color-palette.$grey-100, mdc-color-palette.$grey-800);
  $hairline: if($is-dark, mdc-color-palette.$grey-500, mdc-color-palette.$grey-300);
  $on-surface-variant: if($is-dark, mdc-color-palette.$grey-200, mdc-color-palette.$grey-700);
  $on-surface-state-content: if($is-dark, mdc-color-palette.$grey-50, mdc-color-palette.$grey-900);
  $disabled-handle-color: mdc-color-palette.$grey-800;
  $selected-icon-color: mdc-color-palette.$grey-100;
  $icon-color: if($is-dark, mdc-color-palette.$grey-800, mdc-color-palette.$grey-100);

  @return (
    disabled-selected-handle-color: $disabled-handle-color,
    disabled-unselected-handle-color: $disabled-handle-color,

    disabled-selected-track-color: $on-surface,
    disabled-unselected-track-color: $on-surface,
    unselected-focus-state-layer-color: $on-surface,
    unselected-pressed-state-layer-color: $on-surface,
    unselected-hover-state-layer-color: $on-surface,

    unselected-focus-track-color: $hairline,
    unselected-hover-track-color: $hairline,
    unselected-pressed-track-color: $hairline,
    unselected-track-color: $hairline,

    unselected-focus-handle-color: $on-surface-state-content,
    unselected-hover-handle-color: $on-surface-state-content,
    unselected-pressed-handle-color: $on-surface-state-content,

    handle-surface-color: surface,
    unselected-handle-color: $on-surface-variant,

    selected-icon-color: $selected-icon-color,
    disabled-selected-icon-color: $icon-color,
    disabled-unselected-icon-color: $icon-color,
    unselected-icon-color: $icon-color,
  );
}

// Generates the mapping for the properties that change based on the slide toggle color.
@function _get-theme-color-map($color-palette) {
  $state-content: color.scale($color-palette, $blackness: 50%);
  $inverse: color.scale($color-palette, $lightness: 75%);

  @return (
    selected-focus-state-layer-color: $color-palette,
    selected-handle-color: $color-palette,
    selected-hover-state-layer-color: $color-palette,
    selected-pressed-state-layer-color: $color-palette,

    selected-focus-handle-color: $state-content,
    selected-hover-handle-color: $state-content,
    selected-pressed-handle-color: $state-content,

    selected-focus-track-color: $inverse,
    selected-hover-track-color: $inverse,
    selected-pressed-track-color: $inverse,
    selected-track-color: $inverse,
  );
}

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $primary: mat.get-color-from-palette(map.get($config, primary));
  $accent: mat.get-color-from-palette(map.get($config, accent));
  $warn: mat.get-color-from-palette(map.get($config, warn));
  $is-dark: map.get($config, is-dark);

  @include mat.private-using-mdc-theme($config) {
    // MDC's switch doesn't support a `color` property. We add support
    // for it by adding a CSS class for accent and warn style.
    .mat-mdc-slide-toggle {
      @include mdc-form-field.core-styles($query: mat.$private-mdc-theme-styles-query);
      @include mdc-switch-theme.theme(_get-theme-base-map($is-dark));

      &.mat-primary {
        @include mdc-switch-theme.theme(_get-theme-color-map($primary));
      }

      &.mat-accent {
        @include mdc-switch-theme.theme(_get-theme-color-map($accent));
      }

      &.mat-warn {
        @include mdc-switch-theme.theme(_get-theme-color-map($warn));
      }
    }
  }
}

@mixin typography($config-or-theme) {
  $config: mat.private-typography-to-2018-config(
      mat.get-typography-config($config-or-theme));
  @include mat.private-using-mdc-typography($config) {
    @include mdc-form-field.core-styles($query: mat.$private-mdc-typography-styles-query);
  }
}

@mixin density($config-or-theme) {
  $density-scale: mat.get-density-config($config-or-theme);
  .mat-mdc-slide-toggle {
    @include mdc-switch-theme.theme(mdc-switch-theme.density($density-scale));
  }
}

@mixin theme($theme-or-color-config) {
  $theme: mat.private-legacy-get-theme($theme-or-color-config);

  @include mat.private-check-duplicate-theme-styles($theme, 'mat-mdc-slide-toggle') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}

