.mat-mdc-radio-button { padding: 16px; }

/* TODO: The following rule targets internal classes of radio that may no longer apply for the MDC version. */

.mat-radio-container {
  padding: 16px;
}


.mat-mdc-radio-group {
  display: block;
}
