/*#docregion*/
.spinner {
  position: absolute;
  left: 7em;
  top: 20em;
  position: absolute;
  background-color: blue;
  height: .3em;
  width: 6em;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.spinner-hidden {
  display:none;
}
